[2021-08-13 05:50] oasidorshin commented on #1169
Sounds good, thanks a lot!

[2021-08-16 09:19] PGijsbers commented on #1197
Yes it's something we'd ultimately like to use in the AutoML benchmark. Though realistically I don't think we can wait for this to be all done and set up properly before doing our next set of experiments, which have been delayed for months already.

[2021-08-16 09:23] PGijsbers commented on #1190
Glad to hear I could be of help :)

[2021-08-16 10:56] eddiebergman commented on #1197
No problem, seeing as this will probably not be done in time for the benchmarks, I will talk to @mfeurer about how we do this. Perhaps autosklearn2 will become the default before the next benchmark run.

[2021-08-16 11:08] mfWeeWee commented on #1051
I am getting the same one but for classifiers? nay improvement on this?
[WARNING] [2021-08-16 13:07:12,801:Client-AutoMLSMBO(1)::1a9db172-fe82-11eb-b539-fc4482a5905b] Could not find meta-data directory /home/vivian/anaconda3/envs/Autoskle/lib/python3.8/site-packages/autosklearn/metalearning/files/accu_binary.classification_dense

I get this and then the algorithm won't proceed.

[2021-08-16 12:10] eddiebergman commented on #1051
Hi @mfWeeWee, if you could provide a little more context that would help a lot.

* Could you provide you python version `$ python -V`
* What version of autosklearn you are using `$ pip list | grep auto-sklearn`
* If you can provide a minimal working example of your code which causes the hang, that increases the likelyhood we can help dramatically.

Sometimes there's very little feedback by autoskl

[2021-08-16 12:31] mfWeeWee opened #1221 "[Question] memory_limit and n_jobs are getting ignored?"
#Question
I am using auto-sklearn with a custom metric function. It seems that my memory_limit and n_jobs function are getting ignored. I have limit set 100*1024 and it doesn't go past 8 gb of ram and I have n_jobs = -1 and it only uses 1 thread.
[code]

System:
 - Linux
 - Python 3.8
 - running through Anaconda
 - auto-sklearn 0.13.0

If I dont use __name__ part I can't use n_jobs it gives an err

[2021-08-16 13:55] eddiebergman commented on #1221
Hi @mfWeeWee,

Unfortunatly, I can not reproduce the same problems on my end.

When running the following code I can see that AutoSklearn creates 4 jobs, uses as much memory as it needs and completes successfully (I do admit it's not very clear that it is running or give an indication of it's current progress).
[code]
* How large is your dataset?
* With `100*1024`, do you have 100 GB of RAM availa

[2021-08-16 14:16] mfWeeWee commented on #1221
Hello @eddiebergman  Thank you for your answer. Yes I have a lot of memory and CPU power available. I check htop and I see that the code doesn't use as much as I think it should. For example TPOT used more than 50gb of ram (but also only 1 core) when evaluating the best classifier on this data. Data is consistent of 500 x 10000.

[2021-08-16 14:35] eddiebergman commented on #1221
Assuming you data consists of 64bit (8byte) floats in each slot then a brief calculation takes it as the dataset fits into 40MB of but it still doesn't reach anywhere near the RAM allocated.

Sure the models will take some ram space as well but there's no reason it should use more memory than it needs. I don't know why TPOT consumes so much.

As for the job count, if TPOT is having the same issue,

[2021-08-17 13:30] Bomarjee commented on #1089
Dear All,

Hmm i'm also having this same error when doing a .fit()

print(autosklearn.__version__) : 0.13.0
Ubuntu 20.14

import autosklearn.classification
automl = autosklearn.classification.AutoSklearnClassifier(
    include_estimators=["random_forest","decision_tree"], exclude_estimators=None,
    include_preprocessors=["no_preprocessing"], exclude_preprocessors=None)

automl.fit(test_x, test_Y

[2021-08-17 16:52] thomashlvt opened #1223 "[Feature] Hook to implement early stopping"
# Short Question Description
I would like to implement a hook for the user to be able to implement his own stopping strategy. Is this interesting for you? How would I go about implementing the hook myself?

# Context Information
First off, I really like the project and I'm very much impressed with what you have accomplished. The autoML engine works extremely well for our use cases.

Different data

[2021-08-17 16:55] janhenriklambrechts commented on #1223
I agree that a `time_left_for_this_task`-hook would be extremely useful

[2021-08-17 18:22] eddiebergman commented on #1223
Hi @thomashlvt,

I think this would be an excellent feature especially if it's completely optional. I will have a look tomorrow and point you to the relevant places to consider.

There are some challenges to this though which essentially means your stopping criteria won't fully reflect the final performance.
* Autosklearn searches for a list of candidate models for the allotted time.
* It then cre

[2021-08-17 19:22] FelipeFuhr opened #1224 "[Question] How to get individual models from the ensemble?"
Hello, nice project!

Is there a way to retrieve the individual models from the final ensemble? I mean, not only the hyperparameters used to train it, but the individual weights learned in the fitting/training phase.

Thank you

[2021-08-17 19:48] eddiebergman commented on #1224
Hi @FelipeFuhr,

This is not documented and should be made more accessible as in our plans for the future but here is a code snippet to help you out. I've also renamed your question to be more precise.
[code]

Note that these models were trained with the other three parts of the pipeline in mind so if you were planning to use them in some way, you'd have to consider those too.

[2021-08-18 09:33] mfeurer commented on #1193
This can be closed I guess?

[2021-08-18 09:33] #1193 closed

[2021-08-18 13:54] eddiebergman commented on #1223
Hi @thomashlvt,

After looking at how one might implement this and talking to some colleagues, it appears it's not as easy as it seems. Autosklearn relies on a library called [SMAC](https://github.com/automl/SMAC3) for performing the model search. The two ways to currently [stop SMAC](https://github.com/automl/SMAC3/blob/master/smac/optimizer/smbo.py#L300) are:
* When the budget is exhausted
* One

[2021-08-18 15:52] thomashlvt commented on #1223
Hi @eddiebergman -

I'm happy you're also excited about this feature!

_Are you familiar with the internal code of autosklearn?_
Our team and I have been using it for the past 2 months, so I'm familiar with the API and docs. I've also read the autosklearn2.0 paper. I have taken a glance at the internal code, but cannot really say I'm entirely familiar, however, I think I'll find my way given some

[2021-08-18 16:26] mfeurer commented on #1215
Two more comments:

* the memory limit is per job. So if you have set `n_jobs=-1` you need to divide the memory limit by the number of cores you have on your system.
* It might be easier for you to use the existing AutoML benchmark, which integrates the AutoML systems you aim to compare: https://openml.github.io/automlbenchmark/

[2021-08-18 17:56] thomashlvt commented on #1223
I have created a [PR in SMAC](https://github.com/automl/SMAC3/pull/765) :)

[2021-08-18 19:35] eddiebergman commented on #1223
Ello again @thomashlvt, glad to see you could get it done so quickly!

I think the boolean method you implemented should be fine but I am not familiar with the full development of SMAC.
I left my own little review there to spark some involvement from the SMAC side of things but we would have to wait until someone more involved approved the changes.

You should be able to work off that branch quite

[2021-08-18 20:08] zuliani99 commented on #1215
Yes I know the repository you linked, the fact is that I am doing my automl benchmark which is also the project for my CS thesis so I have to do it all by myself

[2021-08-19 14:47] thomashlvt commented on #1223
Hi there! Thanks for the additional pointers, I'm looking forward to trying to make this work :)

I indeed think, given the change in SMAC, that there have to be no additional changes to make this work, besides actually implementing the callback.

Would you suggest to also put this callback into the actual codebase and expose it in the API somehow, or only test it and document it in the examples?

[2021-08-19 15:04] eddiebergman commented on #1223
I think for clarity sake, it might make sense to expose a specific parameter, something like `early_stopping_callback` in our interface. While functionally it's no different from the current parameter to pass callbacks, it's a lot clearer as an entry point to using this functionality. As to where this goes, we will do some rework of the main classes `AutoML`, `AutoMLClassifier`, `AutoMLRegressor`,

[2021-08-19 15:28] zuliani99 commented on #1215
Well @mfeurer I've implemented the division by the number of cores of my system, the problem is that I get an old issue open by me https://github.com/automl/auto-sklearn/issues/1120. In this case I use the ```bigquery-geotab-intersection-congestion```  data frame of Kaggle (here is the link: https://www.kaggle.com/c/bigquery-geotab-intersection-congestion/data).

But if I remove the division every

[2021-08-19 21:14] raphaelTrench opened #1225 "[Question] Is it possible to extend the existing metadata directory to add more metrics to it?"
# Short Question Description
Is it possible to extend the existing metadata directory to add more metrics to it?

Hello, first of all congratulations on the project!
I am having a bit of  trouble understanding how to properly  use the `metadata_directory` parameter. Mainly for two reasons:
1) When I try to input a search metric autosklearn has no metadata information of, I get the error(in this ca

[2021-08-20 13:58] #1174 closed

[2021-08-20 15:47] mfeurer commented on #1215
Okay, so if you get #1120 you don't have enough memory on your machine to run with that many cores on that dataset. This is then most likely the issue you're observing. How much memory do you have in total and how many cores are you using?

[2021-08-20 15:53] zuliani99 commented on #1215
In my machine I have 8 cores and 16 GBs of RAM, I mean it's strange that even with these specifics I'm still having problem to run autosklearn with some dataframes

[2021-08-20 16:09] mfeurer commented on #1215
I believe I need to clarify a bit how Auto-sklearn allocates resources: Auto-sklearn will start as many jobs as requested, in your case 8. It will then allow each of these jobs to use `memory_limit` memory. If you pass the amount of main memory in (as written in your first post) this can lead to over-allocation and over usage of memory. If you pass in 2GB this might be too little for the dataset y

[2021-08-20 16:27] mfeurer commented on #1223
Wouldn't it maybe suffice to rename the current argument and improve its documentation?

[2021-08-20 16:33] eddiebergman commented on #1223
Much better idea, I think having the dedicated doc section in SMAC that we can link to would make it a lot easier. A simple description of the callback here, one or two use cases and then simply refer to SMAC documentation for more details.

[2021-08-20 16:35] mfeurer commented on #1199
Hey, I'm wondering if this function and it's callers do what you're looking for https://github.com/automl/auto-sklearn/blob/4597152e3a60cd6f6e32719a3bef26e13951b102/test/test_pipeline/test_classification.py#L297 ?

[2021-08-21 13:52] krey commented on #288
Just throwing in another use case: I'm doing multioutput regression and there are some missing values y

[2021-08-22 09:48] zuliani99 commented on #1215
So the best configuration of the hyperparameters regarding cores and RAM is setting n_cores to `(total_memory / 4)` and with this number devide the memory_limit hyperparameter.

I mean like so?

[code]

[2021-08-23 07:19] kaiserdan commented on #1071
Hey @mfeurer ! What do you think about the regression datasets that are part of the Penn Machine Learning Benchmarks [PMLB](https://epistasislab.github.io/pmlb/)  ?

[2021-08-23 10:22] mfeurer commented on #1071
Didn't check them yet, I'm opening this issue again.

[2021-08-23 10:40] mfeurer commented on #1215
In your case yes. In general I'd go the other way around and see how many cores I want to run on, and then make sure each of them has sufficient memory (4-6GB).

[2021-08-23 12:24] eddiebergman opened #1228 "Add quickstart and in detailed walkthrough of AutoSklearn for docs"
TODO

[2021-08-23 13:26] zuliani99 commented on #1215
So there is no configuration that maximizes the performance of the algorithm with any kind of amount of RAM and cores. It depends on the weight of the dataframe and the other things we mentioned earlier.
The configuration I wrote is optimal for the components I have on my PC but perhaps it is not suitable for other amounts of ram and cores. Or maybe on average the calculation that you recommended

[2021-08-24 15:54] mfeurer commented on #1215
Unfortunately I'm not aware on a way to compute the optimal amount of RAM per core for a specific dataset. As long as datasets are small it doesn't really matter. However, as you realized, when they get larger it has an impact and figuring out how much to use automatically would be great, but is so far beyond the scope of Auto-sklearn.

[2021-08-24 15:59] mfeurer commented on #1175
We use [threadpoolctl](https://github.com/joblib/threadpoolctl) to limit the number of cores an algorithm within Auto-sklearn can use: https://github.com/automl/auto-sklearn/blob/ec7ba12100bbc8d8ead4aed72dea8e21cabc67fe/autosklearn/evaluation/abstract_evaluator.py#L199 That means that Auto-sklearn assumes that each algorithm is executed on a single core; this makes it easier for novices to not run

[2021-08-24 16:02] mfeurer commented on #1164
Do you mean by integrating imblearn?

[2021-08-24 16:05] mfeurer commented on #1148
How would this look like? Would this simplify the usage of the pipeline object by providing access to intermediate steps? If yes, I believe this feature should be added to scikit-learn itself.

[2021-08-24 18:44] eddiebergman opened #1230 "Occasional doc build failure `example_debug_logging.py`"
Occasional issue building docs with `example_single_configuration.py`

Error:
[code]

[Test log](https://github.com/automl/auto-sklearn/pull/1229/checks?check_run_id=3414079944)

[2021-08-26 07:24] #1215 closed, assigned to nobody

[2021-09-02 19:14] sofidenner commented on #772
Hi! A possibly related issue: with `auto-sklearn==0.13.0`, I run exactly the same code, with the same dataset in three different virtual machines:
- in a vm with 4 cores and 15Gb of RAM: works ok ✅
- in a vm with 8 cores and 30Gb of RAM: works ok ✅
- in a vm with 40 cores and 157 Gb of RAM: fails ❌  with the following error:

`
ValueError: Dummy prediction failed with run state StatusType.CRASHED

[2021-09-03 09:35] mfeurer commented on #1145
Unfortunately, this is currently not possible.

[2021-09-03 09:35] mfeurer commented on #1128
Hey, is the corresponding PR merged yet?

[2021-09-03 09:37] mfeurer commented on #1188
Could you please briefly state where you read "Best validation score" from?

[2021-09-03 09:45] mfeurer commented on #1225
Hey, thanks a lot for your interest in Auto-sklearn. Auto-sklearn does not update the meta-data over time, which is why you observe 2. As we ship pre-defined meta-data, you observe 1., because we cannot ship every metric.

If you want to learn more about how the data for Auto-sklearn 1.0 is generated you could start by checking the accompanying unit test: https://github.com/automl/auto-sklearn/blo

[2021-09-03 09:52] mfeurer commented on #772
Hey, this issue is getting hard to follow through as we have changed Auto-sklearn quite a bit since most answers.

@MaxHeuillet: if this is still relevant for you could you please open a new issue as your issue appears to be related to a special hardware platform. Not sure if we can help, but it'll make it easier to keep track of things.
@rabsr: We have improved the printed output quite a bit. Cou

[2021-09-03 09:54] eddiebergman commented on #1128
Yes it's been merged, I'll close the issue!

[2021-09-03 09:54] #1128 closed

[2021-09-03 10:12] ajaynarayanan commented on #772
@sofidenner: Thanks for the suggestion on limiting the `nproc`. I faced the similar issue while running on docker with 12 cpu processors machine. I was able to get rid of this issue by allocating only 11 cpu cores to the docker image.

[2021-09-03 10:40] eddiebergman commented on #1202
Closing this as it seems to have not re-occured, it could have been a Github runner issue as other tests sometimes time out

[2021-09-03 10:40] #1202 closed

[2021-09-03 10:42] eddiebergman commented on #1199
This does sample multiple configurations but it's for the entire pipeline rather than individual components. I would imagine most of the use cases are covered but it doesn't explicitly cover them.

[2021-09-03 10:43] eddiebergman commented on #1190
Closed as merged with PR #1218

[2021-09-03 10:43] #1190 closed

[2021-09-03 10:53] eddiebergman commented on #1186
@mfeurer Just wanted to tag you on this issue as I feel it's related to using the VotingClassifer as we do. I re-ran this example with the latest version of development and received a warning to do with ragged nested sequences which seems incorrect:
[code]

[2021-09-03 10:59] eddiebergman commented on #1132
Closed with PR #1144

[2021-09-03 10:59] #1132 closed

[2021-09-03 11:08] eddiebergman commented on #1065
This seems to have been marked as stale but not closed, closing this issue as it seems the information was given

[2021-09-03 11:08] #1065 closed

[2021-09-03 11:21] eddiebergman commented on #978
Hi @shihgianlee , @ach4l,

Sorry it's been a while, but to clarify, it seems these issues only happen in cloud based infrastructure like GCP and Kaggle? Do these issues also happen locally?

While we don't test on cloud infrastructure beyond unittesting on Github's actions, it would be interesting to find out what the root cause of these memory issues is.

[2021-09-03 11:30] eddiebergman commented on #841
This should be documented as it's likely a use case that users have.

[2021-09-03 12:26] mfeurer commented on #1186
Hm, maybe because this uses `np.asarray` and not `np.array`? But honestly, I don't know. Is this a known issue on the scikit-learn side?

[2021-09-03 12:29] mfeurer commented on #1199
That's correct - but I think it also holds for the classifiers and regressors, doesn't it? However, I'm not sure if we can and want to afford more tests on this end?

[2021-09-03 12:46] eddiebergman commented on #1186
As far as I'm aware they should be identical in terms of output, I assume its an output problem with the Voting classes.

[2021-09-03 12:47] eddiebergman commented on #1199
I agree, it's unlikely to be an issue unless there are invalid configurations but they are probably covered through all the other tests. I will close this for now then if you are happy with that?

[2021-09-03 13:28] mfeurer commented on #1199
I'm fine with that.

[2021-09-03 13:28] #1199 closed

[2021-09-03 14:09] mfeurer commented on #1186
You mean the different models produce different output shapes? How would that happen?

[2021-09-03 14:35] eddiebergman commented on #1186
I meant that `np.asarray` and `np.array` should be identical, as far as I know, `np.asarray` is just a wrapper around `np.array` with some extra functionality for extra kinds of types.

As for how the different shapes come about, I imagine it's something specific to asklearn2 but its just a gut feeling, I would have to investigate it properly. If the pipeline is different from the normal `AutoML`

[2021-09-03 15:36] mfeurer commented on #709
I cannot think of an easier way to do so.

[2021-09-03 15:41] mfeurer commented on #1116
So far yes, but we are working on improving the situation here.

[2021-09-03 15:41] #772 closed

[2021-09-03 15:43] mfeurer commented on #320
@eddiebergman could you please have a brief look at whether we want to add the curly braces to the docs?

[2021-09-03 15:46] mfeurer commented on #153
@rabsr I just see that I never followed up on this. If this is still an issue with the latest version of Auto-sklearn, could you please create a new issue? It's hard to keep track of closed issues.

[2021-09-03 15:49] eddiebergman commented on #320
It would make more sense to me to use `$()` with the command `$(pwd):/opt/nb` instead of relying on the environment variable. I'll have a look

[2021-09-03 20:08] raphaelTrench commented on #1225
Thanks for the info!
Would it be a useful contribution to the project to add meta-data from other common metrics? Following the same process presented in the `script` directory of course.
The same question also goes for auto-sklearn 2.0 policies per-metric.

[2021-09-03 22:55] sofidenner opened #1236 "Error running "fit" with many cores."
Hi!
I'm experiencing a problem when I fit an AutoSklearn instance in a virtual machine with many cores.

I have run exactly the same code, with the same dataset in three different virtual machines:

in a vm with 4 cores and 15Gb of RAM: works ok ✅
in a vm with 8 cores and 30Gb of RAM: works ok ✅
in a vm with 40 cores and 157 Gb of RAM: fails ❌ with the following error:

`
ValueError: Dummy predict

[2021-09-03 23:07] sofidenner commented on #772
Thanks @mfeurer , I've opened this new issue https://github.com/automl/auto-sklearn/issues/1236 with the info you request.

[2021-09-06 07:29] mfeurer commented on #1209
Fixed via #1234

[2021-09-06 07:29] #1209 closed

[2021-09-06 07:36] mfeurer commented on #1225
What metrics would you have in mind? At least for Auto-sklearn 1.0 it would be rather simple to add them so they would be available in the next re-calculation.

For Auto-sklearn 2.0 it's a bit tougher because that requires quite some compute and we don't really have an automated process for that yet.

[2021-09-06 08:00] mfeurer commented on #256
Closing this as Auto-sklearn supports multi-label classification and regression. This will only be relevant once scikit-learn supports multioutput-multiclass.

[2021-09-06 08:00] #256 closed

[2021-09-06 08:02] mfeurer commented on #292
Closing this as scikit-learn still doesn't support multiclass-multioutput support. We can create a new, clean issue for this once scikit-learn provides metrics to evaluate multioutput-multiclass predictions.

[2021-09-06 08:02] #292 closed

[2021-09-09 09:19] guyko81 opened #1240 "conda installation, glibc conflict error"
## Describe the bug ##
When trying to install through conda forcing conda-forge (I have no other option in workplace) the installation stops with the below error.

## Expected behavior ##

## Actual behavior, stacktrace or logfile ##
UnsatisfiableError: The following specifications were found to be incompatible with each other:

Output in format: Requested package -> Available versions

Package __

[2021-09-09 10:03] eddiebergman commented on #1240
Hi @guyko81,

Sorry to hear your having problems with the installation. I don't use Conda or Ubuntu myself and the installation instructions were a submitted PR but hopefully we can fix this and update the instructions if necessary.

This line `auto-sklearn -> smac[version='>=0.13.1,<0.14'] -> __glibc` indicates to me that you're not installing the latest version of autosklearn, `0.13.0` as recent

[2021-09-09 10:12] eddiebergman opened #1241 "Test to see if Auto-sklearn works with SWIG 4.0"
My operating system indicates I'm running `SWIG 4.0.2` and it's been installing auto-sklearn fine. This seems to [conflict the installation docs](https://automl.github.io/auto-sklearn/master/installation.html#system-requirements).

If anyone see's this issue and can report that auto-sklearn works with `SWIG>=4.0` that would be tremendously helpful.
[code]

Otherwise, this can tested using docker c

[2021-09-09 11:00] guyko81 commented on #1240
thanks @eddiebergman for the quick and detailed answer!
The ldd --version gives 2.31 indeed.
The python is coming from miniconda, I don't know why it's not 3.8.
I try to create a new environment with python=3.8 and give update.

[2021-09-09 14:59] eddiebergman commented on #1240
Let me know how it goes!

[2021-09-10 06:57] mfeurer commented on #1241
This must be an error in the docs, SWIG 4.01 and above have been enabled via https://github.com/automl/random_forest_run/pull/61

[2021-09-10 08:32] eddiebergman commented on #1241
Coll I'll make a PR to update the docs!

[2021-09-10 10:09] komal11lamba commented on #1204
I am getting the same  scipy versioning error.

[code]

[2021-09-10 10:14] komal11lamba opened #1243 "IncorrectPackageVersionError: found 'scipy' version 1.6.3 but requires scipy version >=1.7.0"
When I getting this error. Please help with this.
[code]

[2021-09-10 10:26] eddiebergman commented on #1243
Hi @komal11lamba,

Could you please provide some extra information to help us help you?

Are you using a virtual environment?

Could you also please run the following steps and give the output:
[code]

[2021-09-10 12:50] #1241 closed

[2021-09-10 15:03] mfeurer commented on #532
Documented in #1237

[2021-09-10 15:03] #532 closed

[2021-09-13 14:08] f-istvan commented on #978
Hi @shihgianlee , @ach4l, @shihgianlee
I faced a very similar issue. Here are the deatils:

Dataset:
[code]

Init params:
[code]

df_cv_results
[code]

automl.leaderboard
[code]

---
My system and versions:

This machine runs in a VirtualBox.
Host: Windows
Guest: Linux

[code]

$ uname -a
[code]

I see lots of MEMOUTS while the memory_limit is 27000. I'm I doing something wrong?

I have a Linux la

[2021-09-13 20:27] mfeurer commented on #1204
We just added support for sparse data via #1245 and it will be available in the upcoming release.

[2021-09-13 20:27] #1204 closed

[2021-09-14 07:56] mfeurer commented on #1210
I'm re-opening this as this now fails if a user passes in `y_test`, too.

[2021-09-14 08:01] mfeurer commented on #1186
Fixed via #1218 and #1245. @eddiebergman could you please open a new issue if you find that scikit-learn warning again?

[2021-09-14 08:01] #1186 closed

[2021-09-14 08:38] eddiebergman commented on #1210
Ahh yes, I forgot to check `y_test`, that would make sense it fails. I'll have a look at fixing it.

[2021-09-15 10:14] guyko81 commented on #1240
@eddiebergman I could finally install it, the problem was the conda/python version. After installing the latest conda with python 3.9.5 I could install auto-sklearn smoothly.
It would still be a good investigation what caused this, but I'm happy with the result now, so thanks!

[2021-09-15 10:14] #1240 closed

[2021-09-15 10:39] eddiebergman commented on #1240
Glad to hear :)

It should have still worked with Python 3.7.6 but perhaps there was some issue with conda and where it was looking for packages which was fixed by the update.

If anyone else encounters this issue, please feel free to reopen this.

[2021-09-16 12:04] f-istvan commented on #978
Hi @eddiebergman , @mfeurer
I tested this on the other physical machine I have. I run into the same issue on that Linux machine with no virtualization at all.
Could you please take a look and check what I'm doing wrong. I'm also happy to have a call and show the issue if needed.

Otherwise I won't be able to use this lib and have to switch to something else.

Regards,
Stefan

[2021-09-16 12:35] eddiebergman commented on #978
Hi @f-istvan,

Sorry for the delay. I can't immediately see anything wrong with your setup although one thing in general I would recommend is to utilize more of your available cores if the memout issues were to be fixed.

For some context, the fact that so many memouts occur indicates to me a few possible reasons:
* Is your data highly categorical? OneHotEncoding might balloon the dataset size sig

[2021-09-17 11:53] Rob192 opened #1251 "Difficulties for installation"
## Describe the bug ##
Hello ! thanks for auto-sklearn ! it looks great :)
However, I am experimenting some issues when installing the package and I hoped you could help. I am having several issues :
1. On my server (linux, venv), the installation takes a while when using `pip install auto-sklearn`. I am seeing many message saying `INFO: pip is looking at multiple versions of scikit-learn to deter

[2021-09-17 14:53] raphaelTrench commented on #1225
The  metrics of most interest to me at the moment are the binary ks and gini entropy. They are the main metrics to be  optimized in most projects where I work, and I believe in general in a lot credit problems (at least in my region).

[2021-09-18 02:25] bill-95 commented on #978
@f-istvan,

Did you try setting `memory_limit=None`?

[2021-09-18 13:11] eddiebergman commented on #1251
Hi @Rob192,

### `0.12.7`
On the note about `0.12.7`, we released the version as is and unfortunately that failed test should have been flagged in out tests. We are unlikely going to go back and fix this as we are still in `0.x.x` versioning. Thanks for letting us know though!

### `pip` problems
I just did a test on my on local machine and did not experience the same issues, everything installed

[2021-09-21 11:34] Rob192 commented on #1251
Hello,

Some feedback after some more trials :
- Regarding version `0.12.7` : Now it seems that everything is running as expected : when I install via pip I get the correct version number `0.14.0` and the script for the Multi-label Classification exemple is working as expected. I think my mistake was coming from the fact that I used a Docker image of Tensorflow that uses python 3.6 -> SOLVED
- Reg

[2021-09-21 11:34] #1251 closed

[2021-09-21 11:36] Rob192 commented on #1120
Hello,
I run into the same error myself. With `n_jobs=-1` I use `memory_limit=None` to prevent the error for happening.
Best,

[2021-09-21 11:42] eddiebergman commented on #1251
Hi @Rob192,

Glad it worked out for you and thanks for the feedback. We don't officially support 3.6 and it should fail during installation but perhaps we should put in an explicit check in the source code itself.

Best!

[2021-09-21 12:34] f-istvan commented on #978
Hi,

Sorry for the late response. First of all, here is a full example with generated training data with results:

[code]
Output:
[code]

@eddiebergman I tried to set `n_jobs=2` , 3, 4 up to 8. In all the cases I got a `Killed` message on my console and the program just stopped. Now based on this stackoverflow question I think this has the same kind of memory issue: https://stackoverflow.com/quest

[2021-09-21 13:41] eddiebergman commented on #978
Hmm so let me address this in a few points:
* **warnings**: This is kind of expected due to the fact the mapping from inputs to outputs is random. This is okay but perhaps we should really just hide those in the log and not display them as big warnings. If of course the issue persists at the end, then we can give that warning.

* **memouts**: What's interesting is that these memouts occur quite qu

[2021-09-24 09:42] Rattko commented on #1089
Hey, I've come across this issue a couple of times when restricting the search space using `include` and `exclude` (formerly `include_estimators`, `exclude_estimators`, etc.) parameters, i.e.

    // Imports and data loading ...

    automl = AutoSklearnClassifier(
        time_left_for_this_task=30,
        include={
            'classifier': ['random_forest']
        }
    ).fit(X, y)

A part of

[2021-09-24 10:46] Rob192 commented on #952
Thanks for the answer. I am trying to figure out how to use it. This would be very usefull indeed to have an export method built-in the `AutoSklearnClassifier`. The output would be a pure sklearn pipeline that could be used later on. E.g. on Windows for which auto-sklearn is not available. It would also maybe be lighter ?

[2021-09-24 14:12] jppmatos opened #1252 "[Question] Accessing particular models found by autosklearn"
# How to properly save and load a pipeline/model?

Hi, I want to predict data, using new test data, with the found model.

I could use pickle to save and load the found model, but does not include the feature pre-processing (_data_preprocessing_)?  (issue #849 and **manual - Model persistence**)
Do I must use `fit_pipeline()` , or something else, just to transform data before predicting?

If it is

[2021-09-26 05:09] kshitijgundale opened #1253 "Unable to add custom component"
## Describe the bug ##
I am trying to follow this [example](https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_preprocessor.html#sphx-glr-examples-80-extending-example-extending-preprocessor-py) from docs in Google Colab. But auto-sklearn refuses to acknowledge the newly added component's existence.

`ValueError: The provided component 'LDA' for the key 'feature_p

[2021-09-26 08:01] husi253 opened #1254 "resampling_strategy not support sklearn.model_selection.LeaveOneOut?"
# Short Question Description
When set `resampling_strategy=sklearn.model_selection.LeaveOneOut`, got error message of "Illegal resampling strategy".

# Code example

[code]

# Error detail

[code]

# Linked issue

* [ Leave-one-out cross-validation #149 ](https://github.com/automl/auto-sklearn/issues/149)

# System Details

* auto-sklearn version: 0.12.6
* Running this on Linux.

[2021-09-26 18:30] eddiebergman commented on #952
Hi @Rob192,

This seems like a nice idea, we'll look into it soon or feel free to provide your own PR if you have some extra time :)

Best,
Eddie

[2021-09-27 09:53] m-alshehri opened #1255 "[Question] How to generate Confusion Matrix and get parameters of models found"
how to print out the confusion matrix, classification report, and parameter configurations for the best model?

While trying the below example, I tried to print out the confusion matrix, classification report and parameter configurations for the best models, say the best 5 models for further comparison, but I failed.
https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_calc_mu

[2021-09-27 13:37] Louquinze opened #1256 "Conda Install failed"
When installing with conda (as described in the guide), the dask package is not installed correctly.

## To Reproduce ##
Steps to reproduce the behavior:
1. Create a new conda environment `conda create --name myenv`
2. Activate the environment `conda activate myenv`
3. follow the anaconda tutorial on https://automl.github.io/auto-sklearn/master/installation.html#conda-forge
4. start python interpr

[2021-09-27 14:29] eddiebergman commented on #1089
Note to self and @mfeurer, for debugging this we should extend the warning to include what particular configurations these are.

[2021-09-27 14:51] eddiebergman commented on #1252
Hi @jppmatos , at first glance I can't see why the data-preprocessing wouldn't be included but I may be wrong here.

Could you show exactly what component is missing or else the expected behavior versus the behavior you observe?

[2021-09-27 14:56] eddiebergman commented on #1253
Hi @kshitijgundale ,

That example works for me, did you perhaps miss the line at the bottom of [this code block](https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_preprocessor.html#sphx-glr-examples-80-extending-example-extending-preprocessor-py)
[code]

[2021-09-27 15:14] kshitijgundale commented on #1253
Hi, @eddiebergman, thanks for reply. I am sure I included that line after the class declaration. I tried the same code example locally in Linux environment and it worked perfectly. Also, it worked the first time I ran the code. But then started throwing above error in successive attempts.  So the problem seems to lie with Google Colab.

[2021-09-27 15:18] eddiebergman commented on #1255
Hi @m-alshehri,

The example you linked is for `metrics` and I'm not sure which particular example you were referring to.
I can't walk you through analysis of models as that's a whole other topic.

The key point is that we produce `sklearn` compliant [`Pipelines`](https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html). This means any analysis you can do with sklearn, you

[2021-09-27 15:22] eddiebergman commented on #1253
Im sorry to hear about that but I'm not sure what we can do on our end. I can try in a Jupyter Notebook which will function somewhat similarly to Google Colab and see if I can reproduce the results.

[2021-09-27 15:52] eddiebergman commented on #1254
Hi @husi253,

So I've only tested this one `autosklearn 0.14.0` but from looking at prior version, the logic is the same.

### Workaround
[code]

### Reason
The first point is that you should pass an instance to `resampling_strategy` and not a class as seen in the [example](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_resampling.html#sphx-glr-examples-40-advanced-examp

[2021-09-27 16:10] jppmatos commented on #1252
Thanks @eddiebergman for replying my silly question, I just wanted to be sure if the data-preprocessing is included, I've read the documentation but still wasn't sure.

I've another question: how do I select a specific pipeline model from all the found models?
Can I do something like in issue #1255, using `automodel.get_models_with_weights()`?
Like this:
[code]

[2021-09-27 16:15] eddiebergman commented on #1252
I'll refer you to issue #1224 for a more complete walkthrough

[2021-09-27 16:54] sofidenner commented on #1236
The workaround I found to fix this issue is to limit the number of cores with the env var `OPENBLAS_NUM_THREADS` before importing anything from autosklearn.

For example:

[code]

[2021-09-27 17:56] Rattko opened #1257 "Turning of the data preprocessing step causes algorithms to crash"
## Describe the bug
I have updated Auto-Sklearn to the latest version to be able to completely turn off any preprocessing. I have followed the [example](https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_data_preprocessor.html#sphx-glr-examples-80-extending-example-extending-data-preprocessor-py) on the webpage and, it seems, turning off the preprocessing introduc

[2021-09-27 19:15] timzewing opened #1258 "Multi-label Classification Scoring "NaN""
I'm trying to find out the metrics for my multi-label classification Iris dataset, and I'm getting a "NaN" for precision, recall, f1, and roc_auc.

Below is my code:

automl = autosklearn.classification.AutoSklearnClassifier(
    time_left_for_this_task=200,
    per_run_time_limit=30,
    scoring_functions=[precision, recall, f1, roc_auc],
    # Bellow two flags are provided to speed up calculatio

[2021-09-28 06:53] husi253 commented on #1254
Thank you so much for the explanation! @eddiebergman

[2021-09-28 06:53] #1254 closed

[2021-09-28 17:25] m-alshehri commented on #1255
ok thanks this was helpful

[2021-09-28 17:28] #1255 closed

[2021-09-28 17:31] eddiebergman commented on #1257
Hi @Rattko,

Thanks for reporting this, I'll have a look

[2021-09-28 17:49] eddiebergman commented on #1258
I can confirm this happens and I'll be able to look into it soon, thanks for reporting this to us and apologies for the inconvenience.

Fully reproducible example:
[code]

[2021-09-29 10:47] karakastarik commented on #1060
I have faced the same issue. Is there any solution? Thanks.

[2021-09-29 11:17] eddiebergman commented on #1060
Hi @karakastarik,

Could you please provide more information:
* pip version
* autosklearn version
* The error message

[2021-10-05 13:29] eddiebergman opened #1262 "Increase the tolerance for code coverage or improve tests"
It seems that a 0.03% drop in code coverage causes tests to fail. A recent PR which doesn't effect tests [failed](https://github.com/automl/auto-sklearn/pull/1259/checks?check_run_id=3776715447) as a result.

This problem is due to some inherent uncertainty in algorithm training and components used.
The solutions I can see are:
* Improve code coverage so that certain code is not only covered by ra

[2021-10-05 16:35] eddiebergman opened #1264 "Cleanup typing of internal `X, y` data passed around"
Currently we accept the following kinds of data and use the type internally throughout or selectively just use one of them.

[code]

Typing errors can occur throughout due to the different interfaces of each of these and the incorrect return types of some functions throughout. However our output from `predict` explicitly returns `np.ndarray`. This can be troublesome when querying things such as sh

[2021-10-05 16:59] eddiebergman commented on #1264
Further info suggets that sklearn disregards any information from pandas dataframes, highlighting the fact we should convert dataframes to ndarrays internally, making our types to only be `spmatrix` and `ndarray`
https://scikit-learn.org/stable/faq.html#why-does-scikit-learn-not-directly-work-with-for-example-pandas-dataframe

[2021-10-05 20:16] eddiebergman commented on #1196
Duplicate issue #1230, closing

[2021-10-05 20:16] #1196 closed

[2021-10-08 11:56] eddiebergman commented on #1257
Hi @Rattko,

Sorry for the delay. I haven't been able to have a look at this since, apologies. It seems that the example is actually quite outdated and data preprocessing is something that can't be turned off. Data preprocessing is how we ensure nan values and columns with strings don't reach the sklearn models. If you really wish to have full control of missing value imputation and how categorica

[2021-10-08 12:14] eddiebergman opened #1266 "Update `{'include': {'data_preprocessor': [...] }}`"
It appears the the code still accepts `data_preprocessor` as a valid entry to `include: Dict[str, Any]` of the estimators.
It states the only valid entry is `'feature_type'` if passing `data_preprocessor: []`
[code]
While this works fine, we also document that it can't be turned off [here](https://automl.github.io/auto-sklearn/master/manual.html#turning-off-preprocessing) and provide a broken exam

[2021-10-08 14:54] DanielWicz opened #1267 "[Question] AutoSklearn2Classifier and resampling strategy"
Does AutoSklearn2Classifier from autosklearn v2 uses resampling strategy or not anymore ?

[2021-10-08 15:17] eddiebergman commented on #1267
Unfortunately not yet, i'm not sure when it will be part of the core library as it will be documented then. You're best bet is to look at the [code ](https://github.com/automl/auto-sklearn/blob/master/autosklearn/experimental/askl2.py#L180). It inherits from the default `AutoSklearnClassifier` from which point most of the other arguments are forwarded and should work the same.

[2021-10-08 15:36] DanielWicz commented on #1267
Thanks for answers

[2021-10-08 15:36] #1267 closed, assigned to nobody

[2021-10-10 15:05] SaffronWolf opened #1268 "[Question] Are there any alternatives to One-hot encoding?"
Are there any alternatives to One-hot encoding for categorical features? I maybe wrong but I think One-hot encoding is the only choice available for encoding categorical features and it doesn't make sense every time. Extending with custom component would also not work because there is no way to specify a component specifically for categorical features.

[2021-10-14 10:48] erinaldi commented on #1256
Any update on this? I have the same problem with python 3.8.5 and Conda 4.10.3

[2021-10-15 10:20] Rattko commented on #1257
Hey @eddiebergman,

I wasn't looking at turning off the _feature_preprocessing_, I know this can be turned off. I need to turn off _data_preprocessing_ and especially _balancing_strategy_. I found that the _balancing_strategy_ can be turned off by simply removing it from the pipeline [here](https://github.com/automl/auto-sklearn/blob/1fa4482dbd6be2e97cba1b62db0404c27479978c/autosklearn/pipeline/cl

[2021-10-16 12:48] eddiebergman commented on #1257
Hi @Rattko,

I just wanted to check about _data preprocessing_ and _feature preprocessing_ as the confusion has arisen before.

There should be a better way to turn this off but yes, that should work.

It should, we should have better tests and documentation in the PR that implemented this feature in #977. I also tried to check the commits themselves but it's been ruined by a rebase and difficult

[2021-10-16 12:55] eddiebergman commented on #1268
Hi @SaffronWolf,

Apologies for the delayed response. Currently we have ordinal encoding and one-hot encoding ([here](https://github.com/automl/auto-sklearn/tree/master/autosklearn/pipeline/components/data_preprocessing/categorical_encoding)). What other kinds of encoding would you be considering for categorical data?

In theory it should be possible to add your own encoder. You would have to chec

[2021-10-16 15:22] eddiebergman commented on #1268
Unfortunately this doesn't seem possible at the moment, the relevant steps seem to be hard-coded in at the moment.

The only implemented data preprocessor is `'feature_type'`, a class that applies a set of actions to a column, depending on if it's numerical or categorical.

[code]

We identify in [`FeatTypeSplit`](https://github.com/automl/auto-sklearn/blob/master/autosklearn/pipeline/components/d

[2021-10-16 15:27] SaffronWolf commented on #1268
I will try this out. Thanks a lot for the detailed answer.

[2021-10-16 15:36] eddiebergman commented on #1266
The example crashing is addressed with #1269

[2021-10-16 15:51] eddiebergman commented on #1268
@SaffronWolf , no probem. Let me know if there's any issues with it. We'll address this in the future as it seems others have issues with data preprocessing.

I also updated the comment as I forgot to subclass the `CategoricalPreprocessingPipeline`

[2021-10-16 18:19] SaffronWolf commented on #1268
Hi @eddiebergman, the above code throws this error
`TypeError: add_component works only with a subclass of <class 'autosklearn.pipeline.components.base.AutoSklearnPreprocessingAlgorithm'>`. So I subclassed the `AutoSklearnPreprocessingAlgorithm`.

This leads to following error, `ValueError: Property handles_dense must not be specified for algorithm FeatTypeSplitCustom.`

[2021-10-16 19:24] SaffronWolf commented on #1268
I got it to work by removing `self` arguement in `super` and removing the properties mentioned in error. But on inspecting the model after training, it is still using the FeatTypeSplit, not FeatTypeSplitCustom

[2021-10-28 10:11] roger-yu-ds opened #1272 "Can Autosklearn be used with SHAP?"
Can the model be used with SHAP?

Currently
[code]
results in

[code]

# System Details (if relevant)
`auto-sklearn` 0.12.7
`shap` 0.38.1
Running on Linux?

[2021-10-28 21:12] mereldawu opened #1274 "Getting only TIMEOUT for PredefinedSplit"
## Describe the bug ##

When passing PredefinedSplit as a resampling strategy, the result only shows timeout for even a small dataset. By using the default configuration, auto-sklearn can create successful trials in a couple of seconds.

## To Reproduce ##

This is the minimal code I can come up with, based on the [example here](https://github.com/automl/auto-sklearn/blob/57463cfdde61c34222809fe0d

[2021-11-02 14:27] shabir1 opened #1275 "Some datasets are not working when i run auto sklearn classifier via flask."
## Some datasets are not working when i run auto sklearn classifier via flask ##
When I train a dataset on auto sklearn classifier it works fine and is completed within the given time but when I train the same dataset using flask (using API and make auto sklearn classifier as service) it hangs, training is not completed at all.
Example dataset: `EEG Eye State Data Set`
I think it is due to `libsvm

[2021-11-02 15:41] eddiebergman commented on #1275
Hi @shabir1,

We are generally unfamiliar with flask and it's the first we've heard of this issue, could you provide more information, code, or anything that could help us reproduce this?

[2021-11-03 08:40] mfeurer commented on #1256
@BastianZim it appears that this is an issue with the conda package for Auto-sklearn not specifying a dependency correctly. Would you mind having a look into this?

[2021-11-03 11:06] eddiebergman opened #1278 "No support for precision reduction when reducing dataset size for pandas dataframe or series."
We currently have two methods for dataset size reduction, `precision` and `subsample`, introduced more clearly in PR #1250. However we have not implemented `precision` reduction with pandas dataframes as this is a bit more involved, when compared to the fact `ndarray`'s have a uniform type while dataframes ahave a type per column.

This shouldn't be too hard to implement but will require updating

[2021-11-03 11:22] eddiebergman opened #1279 "User has no way to control dataset size reduction for large datasets and small memory"
PR #1250 introduces a more parametrized form of the dataset size reduction for when we deal with large datasets or low memory requirements. However, we have no way for the user to disable or interact with this part of the pipeline.

Potential issues:
* A large dataset of precision `np.float64` or higher, where the precision is critically important, could have its precision reduced leading to non-i

[2021-11-03 11:54] BastianZim commented on #1256
Will update to the full `dask` package.

Background:
`auto-sklearn` currently depends on `dask-core` which is the pure implementation of `dask` without any additional dependencies. This is generally recommended except when downstream uses optional modules as well, which seems to be the case here.
Ref: https://docs.dask.org/en/stable/install.html

[2021-11-03 12:59] KaareJacobsen opened #1280 "Model saved and loaded with pickle or joblib are not persistent"
## Describe the bug ##
After I have trained an autosklearn.classification.AutoSklearnClassifier, I save it as a pickle or joblib file.
If I then load this model, the two models make the same predictions on the training data set.
But if I restart my kernel and load the model, it gives different predictions on the training data set.
(I know it is silly to predict on the training data, it is just to

[2021-11-03 13:27] eddiebergman commented on #1280
Hi @KaareJacobsen,

Sorry to here and thanks for bringing this to our attention. I'm not sure why this would be off-the bat but I can only imagine it's some RandomState being reset somewhere, I will have a look into this when I can.

[2021-11-03 14:04] eddiebergman opened #1283 "Getting ConfigurationSpace should be a class method"
Currently the test code has a lot of creating objects just to get the configuration space and then setting hyperparameters.

[code]

Seeing as the configuration space doesn't rely on anything except the `dataset_properties` set through the constructor and whatever the constructor can deduce from this, it would be more syntactically clear to move `get_hyperparameters_search_space()` to be a `@class

[2021-11-03 14:09] BastianZim commented on #1256
A new build depending on the full `dask` package has been published. A fix for the old version is currently being deployed.

Both need to go through the CDN and will therefore only be available in a couple of hours.

[2021-11-03 14:59] mfeurer commented on #1283
The function has some side-effects (setting attributes on `self`), but this could definitely be refactored.

[2021-11-03 15:04] eddiebergman commented on #1283
Good to note, considering the object gets constructed and then thrown away, I feel these side-effects are probably easy enough to fix.

[2021-11-03 15:11] mfeurer commented on #1225
Are these metrics available in scikit-learn? If yes, we can add them to the list of metrics we generate meta-data for.

[2021-11-03 18:03] raphaelTrench commented on #1225
They are not avaiable in sklearnis thata blocker? But [ks is avaiable as a function in scipy](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ks_2samp.html)

And gini could be calculated as
[code]

We have manually been using them with autosklearn using its `make_scorer()` function.
If possible, I also believe I could make a contribution to add them

[2021-11-03 18:35] BastianZim commented on #1256
Both the new build and the fix for the previous versions have been published.

@Louquinze @erinaldi Can you confirm whether it is working correctly now?

[2021-11-04 14:53] eddiebergman opened #1286 "The hyperparameter search space could be reduced once the data is known"
Currently there are certain configurations we use which do not make sense for all data.

For example, with `QuantileTransformer`
[code]

With datasets with less than 2000 instances, this will create lots of warnings.
[code]

If the search space is created once data is known, we can effectively reduce this, shrinking the size of the hyperparameter space and also reducing warnings issued.
[code]

I'

[2021-11-04 16:01] eddiebergman opened #1287 "Update `PIPELINE_DATA_DTYPE`"
`PIPELINE_DATA_DTYPE` is currently outdated, we now accept pandas dataframes, need to update pipeline components to ensure this is supported throughout and update the type to reflect this.

Also need to be sure about the type of sparse matrices we accept.

[code]

[2021-11-05 13:40] KEggensperger opened #1288 "Show a warning if too many evaluations fail"
## Describe the bug ##
If all evaluations crash, auto-sklearn does not even show a warning

## To Reproduce ##
For example add a new model class which always crashes (or set n_jobs>1)

## Expected behavior ##
If there are more failed than successful evaluations, I would appreciate a warning/critical warning/some output. Otherwise, a user might just use the Dummy estimator without knowing.

## Actu

[2021-11-05 13:45] mfeurer opened #1289 "Improve logging"
Currently, configuring the logger is incredibly hard:

* It is unclear which loggers can be configured at all
* There is an example, but it is hard to adapt

It would be great to have an example that demonstrates how to:

* move the output of a single logger to the command line and keep everything else in the log files
* add multiple custom handlers
* describe which loggers exist

[2021-11-05 14:08] mfeurer opened #1290 "Extending Auto-sklearn can be incompatible with parallel execution"
When running Auto-sklearn extended with a classifier/regressor etc with `n_jobs>1` it can happen that the classifier/regressor Auto-sklearn was extended with is not available in the subprocess. Therefore, all function evaluations will crash.

This can be circumvented by calling `add_classifier` etc in the subprocesses executing the machine learning runs. Sometimes, this is done automatically when

[2021-11-05 16:07] jppmatos commented on #1252
Hello,
`automodel.cv_results_` shows all searched models by auto-sklearn's ensembling with their following scores (like accuracy) and used parameters. But not all found models are stored?

So that's why I can't find all the models from `automodel.cv_results` in `automodel.automl_.models_.items()` ?
Should I just increase `ensemble_size`?

[2021-11-05 17:00] eddiebergman commented on #1252
We currently don't have an easy way to access all model that autosklearn searched, only the ones that were included into the ensemble.

Increasing the `ensemble_size` may work but is not the solution, as the ensemble consists of duplicates of the same model if it increases the overall prediction performance.

The best I can direct you to is `automodel.automl_.backend.list_all_models(seed)` which r

[2021-11-08 15:37] ricoms commented on #1236
hello. That solution does not work for me

[2021-11-08 15:52] ricoms commented on #360
I'm running on mac-os, although I was able to run auto-sklearn before, on another notebook.

I found this question that is related to the log that I get: https://stackoverflow.com/questions/14657270/resource-limits-setrlimit-on-mac-os-x

The log error that I get is:
[code]

[2021-11-08 16:28] ricoms commented on #360
[update] I discovered what was wrong. I'm using gin-config to facilitate passing parameters, and this turns things into non-pickable. And auto-sklearn depends on pickable things to parallelize.

[2021-11-08 17:41] jppmatos commented on #1252
Before asking if there was as way to get all models found in `automodel.cv_results_` I did a "hack" which finds, if there is, any models from `automodel.cv_results_` in `automodel.automl_.models_.items()` by comparing the models parameters.
[code]

In this snippet it is selected and saved the **n** best models from `automodel.cv_results_` with the higher **balanced_accuracy** and **recall**.

Howe

[2021-11-09 16:55] mfeurer commented on #1290
This is fixed in #1290. I'm keeping it open because we need to document that this still will not work in a notebook because the component will not be importable in a worker.

[2021-11-09 19:34] #1290 closed

[2021-11-09 22:15] PanyiDong opened #1297 "Issue with array dimension error in regression models"
## Describe the bug ##
I'm calling some of the regression methods provided in auto-sklearn for my project and the error shows when using mlp/libsvm_svr/sgd, the exact error message is (omitted the returned 1D array):
[code]
for ```autosklearn/pipeline/components/regression/mlp.py```, ```autosklearn/pipeline/components/regression/libsvm_svr.py``` and ```autosklearn/pipeline/components/regression/sg

[2021-11-09 23:22] eddiebergman commented on #1297
Hi @PanyiDong,

Seems interesting and at a glance I'm not sure why this hasn't been an issue before, it would make sense that the estimator predicts a 1d output `[1,2,3, ...]` and that this should be expanded to `[[1], [2], [3], ...]` before being passed to the inverse transform of the scalar.

For reference [`StandardScaler`](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing

[2021-11-10 11:21] mfeurer commented on #1288
If all evaluations fail we could also print a few of the errors that we can parse from the runhistory to simplify debugging for the user?

[2021-11-10 11:46] eddiebergman opened #1298 "Improve user method of seeing pipelines generated"
Currently, the easiest way for a user to see the pipelines included in the ensemble is through `estimator.show_models()` which just returns a `str` which needs to be manually parsed and looked through. There could definitely be a nicer format to view any such pipeline and provide easy access.

[2021-11-11 08:12] mfeurer commented on #1272
We should give an example, also inspired by [this AG example](https://github.com/awslabs/autogluon/issues/1373) that demonstrates usage with categorical data.

[2021-11-12 06:45] sachin-raina-aera opened #1299 "When will the library add probability calibration for classification pipeline?"
# Short Description
When will the library add probability calibration for classification pipeline?

# Details:
* __version__ = "0.12.1"

[2021-11-12 06:46] #1299 closed

[2021-11-13 12:22] simonprovost opened #1301 "[Question] How could I initiate an Auto-Sklearn classifier with class weight balancing ?"
Dear all,

How might we instruct a classifier that we wish to have class weights for algorithms that support this option?

For example I am adding this in my configuration:

[code]

My dataset is severely imbalanced, but I am unable to utilise SMOTE or any other class balancing approach other than class weights because adding dummy instances may bias my research due to the rarity of the diseases w

[2021-11-14 22:33] NicolasMICAUX commented on #1120
Same issue, with a pandas df of 5 rows lol. Solved by `memory_limit=None`, now works for 1000+ rows.

[2021-11-16 07:42] siwang2011 opened #1302 "ConnectionRefusedError: [Errno 111] Connection refused"
## Describe the bug ##
when I use the autosklearn.regression.AutoSklearnRegressor
pred_model = AutoSklearnRegressor(
    time_left_for_this_task=30,
    per_run_time_limit=5, n_jobs=16
)
pred_model.fit(x_pd, y_pd)

i have 427 x_pd and y_pd DataFrames
the code is run safely, but after a period of time, it will raise error
i don't understand the error msg

![image](https://user-images.githubusercont

[2021-11-16 10:20] eddiebergman commented on #1302
Hi @siwang2011,

I'm not entirely sure why that would be the case. An initial guess is that when trying to `connect_to_new_process` as seen in the last line of the error log, it can't connect, making me think that either there is some process limitations on your system or that `16 ` `n_jobs` is too many for your system. The fact it happens after a delayed period of time might also support this hyp

[2021-11-17 01:12] siwang2011 commented on #1302
Hi @eddiebergman
the cmd output is 16 cpus.
i try to low the n_jobs = 4 but still raise error
i have 400s dataframes, it will create 400s folder
but it always will breakdown at 140-160/400s
i don't know why
i try to low the auto-sklearn version but it don't work
my English is awful sorry.

[2021-11-17 08:26] eddiebergman commented on #1302
Hi @siwang2011,

No problem, it is okay :)

Could you explain more about how you use 400 datasets?
Do you run them one at a time, do you run them in parallel? Do they all run from the same script or from multiple?

[2021-11-17 08:31] siwang2011 commented on #1302
Hi! @eddiebergman
I simply iter 400s and every time i build a new model
they are not in parallel and from the same script

[2021-11-17 08:36] eddiebergman commented on #1302
Hmm, that's a bit unusual from what we would expect so I can't tell you why that fails. Does it fail if you only run 1 iter or 10 iters?

The only work-around I can advise is to try run the script 400 times with an argument and try it that way. This is assuming you can run it from the command line.

[code]

[2021-11-17 08:38] siwang2011 commented on #1302
@eddiebergman
thanks I will try

[2021-11-17 08:39] eddiebergman opened #1303 "Stress test repeated construction and fitting from same process"
From issue #1302, it appears autosklearn is a bit unstable when run many times in the same script, i.e. in a for loop.

[code]

We currently have no test for this and it would be good to see if we can reproduce the same `connection refused` error.

[2021-11-17 08:47] eddiebergman commented on #1301
Hi @simonprovost,

So I don't think this is easily achievable, essentially we treat all algorithm parameters as being hyperparameters which get optimized, and unfortunately, optimizing `class_weights` is too much so we leave it out.

My best suggestion is to __extend__ autosklearn and give class weights in your extended model `my_random_forest` and then exclude the default `random_forest`.
Here's

[2021-11-17 08:50] eddiebergman commented on #1298
If anyone would like to give a look at this, it would require looking through how `show_models` generates the string and then returning the object version of that, maybe with a nicer interface to how the returned object is accessed.

[2021-11-17 08:57] eddiebergman commented on #1274
Hi @mereldawu,

Sorry to read about this issue, I meant to reply earlier but apologies that I did not. I'm not sure what would cause this issue as it should not cause a `TIMEOUT` if things weren't to work. Thank you for the full reproducible code example, we will look at this soon.

[2021-11-17 09:01] #1257 closed

[2021-11-17 09:03] eddiebergman commented on #1256
Hi @BastianZim,

Thanks a lot for doing this! It appears that @Louquinze was able to create a new environment and it installed without issue. I will close this issue.

If anyone else run's into this issue, please feel free to re-open the discussion.

[2021-11-17 09:03] #1256 closed

[2021-11-17 09:04] #1253 closed

[2021-11-17 09:09] eddiebergman commented on #1252
The backend should have all models there. If your goal is for models with higher `balanced_accuracy` and `recall`, I would advise using those metrics when training autosklearn as seen in this [example](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_calc_multiple_metrics.html#metrics). Of course this depends on what your end goal is but just letting you know the feature i

[2021-11-17 09:12] #1243 closed

[2021-11-17 09:16] eddiebergman commented on #1243
Closing the issue as there is no response. It appears from line one of the output that this was done in some kind of notebook environment.

After running the command `!pip install scipy` in the notebook, a kernel reboot is usually required. We are unsure if this was done by @komal11lamba but this usually fixes the issue.

[2021-11-17 09:21] eddiebergman commented on #1236
Hi @sofidenner,

We don't have infrastructure (a machine with that many cores) to actually test this properly which makes this difficult but we just want to write here to say we are aware of the issue and sorry that we have no response as of yet.

[2021-11-17 09:25] eddiebergman commented on #1298
Some relevant issues that explain methods of seeing pipelines:
* #1224
* #1206

[2021-11-17 09:27] eddiebergman commented on #1252
I also updated this issue title as the question has changed quite a bit from where it started.

[2021-11-17 09:29] eddiebergman commented on #1224
This has put into issue #1298 that we need to document things better

[2021-11-17 09:29] #1224 closed

[2021-11-17 09:31] eddiebergman commented on #1298
From #1206, how to access a specific model in the ensemble
[code]

[2021-11-17 09:44] eddiebergman opened #1304 "Document callback functionality with SMAC"
Thanks to @thomashlvt, we have new functionality in SMAC to utilize callbacks which can be done through autosklearn. We would require documenting how this might be used and create an example, perhaps even changing the API names slightly to make it more intuitive.

Relevant issues:
* #1223
* SMAC https://github.com/automl/SMAC3/pull/765

[2021-11-17 09:44] eddiebergman commented on #1223
Raising this in a new issue so we can clearly state what needs to be done on our end.
Please see #1304

[2021-11-17 09:44] #1223 closed

[2021-11-17 09:52] eddiebergman commented on #1221
Closing as there has been no feedback in the meantime. The RAM issue seems to be a misunderstanding, we will not use all the RAM available if there is no need. As for the CPU issue, we can not debug it from here or reproduce it. There are other CPU issues documented and hopefully fixing these will address this issue.

Closing this for now but if someone finds this and it is identical and not speci

[2021-11-17 09:52] #1221 closed

[2021-11-17 09:52] #1211 closed

[2021-11-17 09:53] #1210 closed

[2021-11-17 09:57] eddiebergman opened #1305 "Fix `__del__` of backend so that it works as expected."
Previously, we used to delete the backend with `__del__` in `AutoML` but this was changed with PR #1155 due to issues of modules being unloaded before `__del__` had finished.

The real solution was to move `__del__` to the backend object instead of the `AutoML` object.

[code]

[2021-11-17 09:58] eddiebergman commented on #1208
This would be fixed by solving issue #1305 so this is being closed.

[2021-11-17 09:58] #1208 closed

[2021-11-17 09:58] #1205 closed

[2021-11-17 10:00] #1188 closed

[2021-11-17 10:05] eddiebergman commented on #1288
Related issue is #1146

[2021-11-17 10:07] eddiebergman commented on #1148
This can be part of issue #1298 which is in general about improving model and pipeline access so I am closing this.

[2021-11-17 10:07] #1148 closed

[2021-11-17 10:08] mfeurer commented on #1225
Since gini is a linear transformation of the ROC AUC you can use Auto-sklearn's ROC AUC metric and get similar results. In order to have the ks score it would be great if you could [add this to scikit-learn via a PR](https://github.com/scikit-learn/scikit-learn/discussions/20466) and we'll add it once there is a scikit-learn metric. In the meantime I propose the following hack for you: take one of

[2021-11-17 10:08] eddiebergman commented on #1146
This has been grouped together with issue #1228

[2021-11-17 10:08] #1146 closed

[2021-11-17 10:16] eddiebergman commented on #1116
Closing this issue as it has been grouped together in #1298

[2021-11-17 10:16] #1116 closed

[2021-11-17 10:18] eddiebergman commented on #1110
This is currently being addressed and tested with PR #1300

[2021-11-17 10:25] mfeurer commented on #1175
Keeping this open so we document this properly.

[2021-11-17 10:27] mfeurer commented on #1164
Closing this for now as it is an issue in scikit-learn. We can reassess this once scikit-learn allows changing the number of data points in a pipeline.

[2021-11-17 10:27] #1164 closed

[2021-11-17 10:30] eddiebergman commented on #1102
Update:

We should document that when using CV, the models returned are actually VotingClassifier/Regressor which means that issue #719 #524 don't work as expected.

[2021-11-17 10:34] eddiebergman opened #1307 "Improve Config Space"
This issue collects several issues which are related to improving the config space.
* #1189
* #1101

[2021-11-17 10:34] eddiebergman commented on #1101
Documented in #1307, closing

[2021-11-17 10:36] eddiebergman commented on #1286
The issue is how this would interact with the meta-learning componentes.

[2021-11-17 10:49] eddiebergman commented on #978
Seeing as there has been no response, we're not sure if this has been solved so closing the issue for now. Feel free to re-open this if anything reoccurs.

[2021-11-17 10:49] #978 closed

[2021-11-17 10:49] eddiebergman commented on #965
Addressed in #1238

[2021-11-17 10:51] #952 closed

[2021-11-17 11:45] #926 closed

[2021-11-17 11:54] eddiebergman commented on #819
This is documented and collected in PR #1238 and will be handled there and recreated as an issue for whatever is not fixed in that PR.

[2021-11-17 11:54] #819 closed

[2021-11-17 11:55] #783 closed

[2021-11-17 12:02] mfeurer commented on #1307
Also, #445

[2021-11-17 12:03] eddiebergman commented on #749
Bump, we should emphasize this as well as sklearn compatibility testing, it allows us to use there tests for datatypes.

[2021-11-17 12:07] eddiebergman commented on #709
Documented access to individual model pipelines and should be improved in #709, closing for now.

[2021-11-17 12:07] #709 closed

[2021-11-17 12:15] eddiebergman commented on #620
We require further information to deal with this issue but it seems no models were found. This will be closed as this is documented in other issues such as #1288

[2021-11-17 12:15] #620 closed

[2021-11-17 12:22] eddiebergman commented on #469
The text processing part of this issue is being addressed with PR #1300

[2021-11-17 12:30] #557 closed

[2021-11-17 12:36] eddiebergman opened #1310 "Configuration for `SimpleClassificationPipelineTest.test_configurations_signed_data` gives undeterministic error"
* [Test](https://github.com/automl/auto-sklearn/runs/4237539251?check_suite_focus=true)

[code]

[2021-11-17 12:50] eddiebergman commented on #91
This should hopefully have been addressed and can now be done with extending with a NoPreprocessingComponenet, seen in this [example](https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_data_preprocessor.html#create-nopreprocessing-component-for-auto-sklearn). Closing for now but if it still comes up, feel free to re-open this.

[2021-11-17 12:50] #91 closed

[2021-11-17 13:37] mfeurer commented on #689
The number of feature selection methods will be changable when we support custom pipelines as requested by #379, will close this issue because it is a duplicate and/or stale.

[2021-11-17 13:37] #689 closed

[2021-11-17 13:39] #1189 closed

[2021-11-17 14:46] mfeurer commented on #1101
To get a better intuition on this topic I created a small script. It tests the performance of SGD, MLP, SVM and linear SVM on the OpenML-CC18 with uniform and with normal output under default hyperparameters (I know, not a good idea). Are there any other classifiers that should be taken into account? The next step would be to run an experiment comparing auto-sklearn with the new default to see if

[2021-11-17 14:46] mfeurer commented on #1101
Script:
[code]
I will post the output once I have it.

[2021-11-17 16:52] mfeurer commented on #1101
Output for liblinear:
[code]

[2021-11-17 17:10] mfeurer opened #1312 "Use isort to sort imports"
https://github.com/PyCQA/isort

[2021-11-18 03:20] CzsGit opened #1315 "[Question] How to retain previously searched information?"
Dear all,

How to reload the content searched before the break in the training after the break.
similar to checkpoints in tensorflow.

Now I'm using the same parameters and the same data set and than I get the same results is obtained after two runs.
but what I'm looking forward to is the second time that we can build on the foundation that we create the first time.
at least it can be different th

[2021-11-18 07:54] mfeurer commented on #1101
Output LibSVM
[code]

[2021-11-18 09:19] mfeurer commented on #1101
SGD
[code]

[2021-11-18 10:50] mfeurer commented on #1101
And the MLP
[code]

[2021-11-18 11:30] simonprovost commented on #1301
@eddiebergman

That is very interesting !! I will get back to you when I'll have time to do so but in the meantime thank you very much for this ✅

My apology for the Auto-Sklearn version it is, indeed, 0.14.0. I will change it to the post to not introduce any confusion for any further reader. Thank you for spotting this.

Have a great day,
Cheers.

_(can be closed)._

[2021-11-18 13:04] MikeTuomas commented on #1060
Hi,

I ran into same problem in Kaggle.

https://www.kaggle.com/mikaelovaska/scikit-learn-version-bug-with-auto-sklearn/

You can fork the notebook to try by yourself.

`pip freeze` and `sklearn.__version__` show that installed version of scikit-learn is 0.24.2, but anyway it runs to `IncorrectPackageVersionError: found 'scikit-learn' version 0.23.2 but requires scikit-learn version >=0.24.0`

[2021-11-19 00:48] wd2311 opened #1317 "[Question] Multi-objective auto-sklearn?"
Are there any multi-objective optimization capabilities in auto-sklearn?

I use AutoML, and most of the time, I am not interested in differences of 1-2% in a performance metric, but care about things like:  Minimizing the number of input features, building simple models that are highly interpretable, or building models with a fast inference speed.

My question is - are there any ongoing efforts to

[2021-11-19 14:12] eddiebergman commented on #1301
Many thanks, closing and best of luck!

[2021-11-19 14:15] eddiebergman commented on #1060
I'm not sure why this occurs to be honest, thank you for the notebook. I will try to look into it but local installs of auto-sklearn seems to work without issue. I feel this is a kaggle dependant issue with re-using environments but I really can't be sure.

[2021-11-19 14:18] eddiebergman commented on #1317
Hi @wd2311,

Currently we rely on `SMAC` which is a single objective optimizer. Many of the things you mention are not directly a metric calculable from the objective function that can be passed. While we are looking at more flexible pipelines (to include things such as fairness based steps) and also looking at a more generic optimizer interface (such as allowing multi-objective functions, this is

[2021-11-22 09:14] eddiebergman commented on #1315
Hi @CzsGit,

Currently this is not possible and has been requested before. We agree that it would very useful in general and is something we want to have. There is a slight complication that prevent us from doing so at the moment.

One, is that we need to inform our optimizer SMAC about the previous runs so that it continue it's search in a proper way. I'm not 100% sure SMAC can handle this warm-s

[2021-11-23 09:47] CzsGit commented on #1315
Thanks.

I can receive metrics on completion,but what should do if I want to output metrics during fit? or others such as validate...
Have some hooks i can call when fitting?

[2021-11-23 10:34] eddiebergman commented on #1315
Yes you can, it's not documented as we need to create API changes to make this intuitive. The function with `Optional[bool]` can pass back `False` for early stopping.

[code]

[code]

[2021-11-23 17:05] SameenInqline opened #1319 "Getting Error: __init__() got an unexpected keyword 'include'"
I am trying to train a decision tree regressor model using auto-sklearn. For that i am trying to use the 'include' parameter but getting error:

TypeError: __init__() got an unexpected keyword 'include'

My auto-sklearn version is 0.14.0 and i am running the program on a Mac. I have taken the syntax from here:
https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_single_configu

[2021-11-23 20:00] UserFindingSelf commented on #1298
Hello! This is a really great project, I recently used Auto-Sklearn in one of my projects and it really helped me. Thank you!

But I faced the same issue of manually parsing the `str` output of `show_models()` method. I am actually looking to start contributing to open source and I would like to work on this issue.

Can you tell me what you think would be a good solution for this? Taking inspirati

[2021-11-23 22:03] SibianDG commented on #520
The link: [http://automl.github.io/auto-sklearn/stable/examples/example_parallel.html#sphx-glr-examples-example-parallel-py](http://automl.github.io/auto-sklearn/stable/examples/example_parallel.html#sphx-glr-examples-example-parallel-py) doesn't exist anymore...

[2021-11-24 01:31] CzsGit commented on #1315
Thank you very much. I'll give it a try

[2021-11-24 09:28] eddiebergman commented on #1319
Hi @SameenInqline,

Sorry to hear you're having this problem. I can't reproduce this and looking at the code, the fact you have this error makes no sense to me.

Here's a minimal example that should reproduce the error
[code]

[2021-11-24 09:35] eddiebergman commented on #1298
Hi @UserFindingSelf,

Thanks for the kind words and wanting to contribute :) This looks like it would be quite useful for sure! I would be happy to help with a PR for this if you would like to share.

The only thing I would change is perhaps using the `run_id` as the key to the dictionary instead of rank, as this is more of a unique key to identify a model, leaving the rank to be inside the dictio

[2021-11-24 09:37] eddiebergman commented on #520
Updated link:

https://automl.github.io/auto-sklearn/master/examples/60_search/example_parallel_n_jobs.html#sphx-glr-examples-60-search-example-parallel-n-jobs-py

[2021-11-24 09:38] #1315 closed

[2021-11-24 09:47] kevinyongfy opened #1320 "[Question] My Qu ERROR: Failed building wheel for scikit-learn, how to fix it on windows?"
# Short Question Description
A clear single sentence question we can try to help with?

With some extra context to follow it up. This way the question is clear for both you and us without it being lost in the paragraph.
Some useful information to help us with your question:
* How did this question come about?
* Would a small code snippet help?
* What have you already looked at?

Before you ask, pl

[2021-11-24 09:48] kevinyongfy commented on #1320
ERROR: Failed building wheel for scikit-learn
Failed to build scikit-learn
ERROR: Could not build wheels for scikit-learn, which is required to install pyproject.toml-based projects

C:\WINDOWS\system32>pip install -r pyproject.toml
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'pyproject.toml'

C:\WINDOWS\system32>python -m pip install -r pyproject.toml
ERROR: Coul

[2021-11-24 09:48] kevinyongfy commented on #1320
How to fix it, what should I do?

[2021-11-24 10:02] eddiebergman commented on #1320
Hi @kevinyongfy,

This is more a question for scikit-learn and the error is quite clear, there is no `pyproject.toml` in your current directory `C:\WINDOWS\system32>`.

I'm closing this issue as it is not directly related to scikit learn.

[2021-11-24 10:02] #1320 closed

[2021-11-24 11:03] UserFindingSelf commented on #1298
Thank you so much for your help! Your suggestion definitely makes more sense.

Can you confirm if `run_id` is same as `model_id` in the table created by the `leaderboard()` method, or something else? I would then create `model_id` as the key and add rank to the model dictionary instead. If it's something else, can you please point to where I might find the `run_id`?

Thanks again! :)

[2021-11-24 11:12] eddiebergman commented on #1298
Yup that's the one! For context, the optimizer SMAC gives each "run" a number but for us, a "run" corresponds to a model configuration that is trained, hence it makes sense to present it as `model_id`, sorry for the confusion.

[code]

[2021-11-24 12:42] UserFindingSelf commented on #1298
Great! Just one more question. Is it okay to use `leaderboard()` to get 'rank' and 'model_id', or should I write independent code for that inside the `show_models()` function?

[2021-11-24 14:36] eddiebergman commented on #1298
So `leaderboard` does a lot of extra things, mainly validation and sorting. This is a relatively small dataframe and the sorting is necessary anyways so I think reusing `leaderboard` should be fine :)

[2021-11-25 13:23] UserFindingSelf commented on #1298
Hello @eddiebergman! I wasn't able to use `leaderboard()` inside the `automl.py` file so I wrote the code required for getting ranks and ensemble weights. I feel that's alright since those two are the only things I had thought of including from the `leaderboard()` table.

Now, in line with the process described in `CONTRIBUTING.md` I am currently running tests. If all goes well I will create the P

[2021-11-25 13:26] eddiebergman commented on #1298
Hi @UserFindingSelf,

Glad to hear it's working and even more glad you're running the tests! In general, on the github action servers where we run automated tests, they can take around 45 minutes (something we need to optimize).

You can create a PR and I can schedule the tests to run on them, saving your machine from having to run them yourself!

[2021-11-25 13:31] UserFindingSelf commented on #1298
Awesome! Working on creating the PR then.

[2021-11-26 07:03] shabir1 opened #1323 "How to know which algorithm/configurations are failed due to memory limit / Time limit? So next time I will exclude those algorithms."
# How to know which algorithm/configurations are failed due to memory limit / Time limit?
So next time I will exclude those algorithms.

[2021-11-26 08:53] UserFindingSelf commented on #1298
Hey @eddiebergman! I have created the PR, please review whenever possible for you. I will make the necessary changes based on your suggestions then.

[2021-11-26 11:58] eddiebergman commented on #1323
Hi @shabir1,

While you may want to exclude algorithms that hit a memory limit, this is usually indicative of not assigning enough memory for your data, one thing that will be emphasized in our next release of documentation is that `memory_limit` is per job specific in `n_jobs`, i.e. 8gb with 2 jobs means autosklearn will be allowed to use a maximum 16gb of memory.

You can find the status of indi

[2021-11-26 12:39] shabir1 commented on #1323
@eddiebergman Below is my model's sprint_statistics
# Metric: accuracy\n  Best validation score: 0.050159\n
# Number of target algorithm runs: 21\n
# Number of successful target algorithm runs: 1\n
# Number of crashed target algorithm runs: 2\n
# Number of target algorithms that exceeded the time limit: 9\n
# Number of target algorithms that exceeded the memory limit: 9\n'

[2021-11-26 12:48] shabir1 opened #1324 "I have confusion with final ensemble model."
My constractor:
`automl = autosklearn.classification.AutoSklearnClassifier(
            time_left_for_this_task=3600,
            memory_limit=3072,
            ensemble_size=10,
            ensemble_nbest=10,
            max_models_on_disc=10,
            delete_tmp_folder_after_terminate=False,
)`
Below is my model's sprint_statistics
Number of target algorithm runs: 17\n
Number of successful ta

[2021-11-26 12:50] shabir1 commented on #1323
@eddiebergman  And thank you for your fast response :+1:

[2021-11-26 12:58] shabir1 commented on #1275
@eddiebergman
Where can we get this dataset?
Dataset link: https://datahub.io/machine-learning/eeg-eye-state/r/eeg-eye-state.csv or https://archive.ics.uci.edu/ml/datasets/EEG+Eye+State
What system are you running this on?
Linux
What version of auto-sklearn are you using
0.13
Why do you suspect it's due to libsvm_svc? Do you have logs you could share?
I exclude libsvm_svc using exclude parameter i

[2021-11-26 13:13] eddiebergman commented on #1324
Hi @shabir1,

This essentially means there were ten models added to the ensemble and in every round of deciding what model to add to the ensemble, that one model was the best thing to add (meaning that the other successful models were not good).

The way ensembles are constructed in (clear but not concise) pseudo code is as follows:

[code]

[2021-11-26 13:17] eddiebergman commented on #1323
The `leaderboard` should show the type of algorithm along with it's status

[2021-11-26 13:25] eddiebergman commented on #1275
* The Dataset seems very normal, it's unlikely to be dataset specific.
* I have no idea why `libsvm_svc` hangs only when being used by flask. My only guess is that whatever machine is running `libsvm_svc` needs some underlying numeric library updated.
This is indicated by the fact it runs fine locally and also in our automated tests. `sklearn` handles this, calling lower level `C` libraries for th

[2021-11-26 13:40] KaareJacobsen commented on #1280
Hi eddiebergman

Thank you for your answer. I have resolved the problem.
It wasn't auto-sklearns fault.

The data i used only needed some of the columns, and i selected them with
df_sub = df[['key'] + list(set(features))]
instead of
df_sub = df[['key'] + sorted(list(set(features)))]
And now I fell quite stupid :)

Thank you all for your great work.
Kåre Jacobsen

[2021-11-26 13:40] #1280 closed

[2021-11-26 13:46] eddiebergman commented on #1280
No problem, thankfully it's resolved

[2021-11-26 14:31] SameenInqline commented on #1319
Hi, I am getting the same error with the code you provided.
![SameError](https://user-images.githubusercontent.com/91462548/143595908-2c9c5a87-56e6-4ed2-a0d8-e6bfc8ba8711.png)

[2021-11-26 15:30] eddiebergman commented on #1319
I'm really not sure why that is considering you say your version is `0.14.0`. My only guess is that either the version is not the one you think it is somehow or that some previous code it causing an issue here.

If you can provide your full code, I could help more. Please don't post it as a screenshot but encase it with three backticks '`' at the start at end ...

[code]

[2021-11-28 13:10] shabir1 commented on #1323
@eddiebergman  I tried leaderboard but it gives me only success algorithm status only failed ones are not there.

[code]
Then I did:
[code]

[2021-11-29 08:05] eddiebergman commented on #1323
Hmm I'm not sure why they don't show up but you can check out [this example](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_get_pipeline_components.html#sphx-glr-examples-40-advanced-example-get-pipeline-components-py) to see if it helps you. We have some work going on to redo the backend which will then lead to better interfaces for these kinds of things but for now I s

[2021-11-29 10:24] shabir1 opened #1327 "I am getting error in fit_ensemble() in 0.14.2 version"
## fit_ensemble() method is not working in 0.14.2 version ##
I am getting error in fit_ensemble() method while using latest version of auto sklearn
I tried ensemble_size from 0, 10, 20, .. but same error

[code]

[2021-11-29 10:57] eddiebergman commented on #1327
Thanks for the bug report, there's three points here:
* This is already called in `fit()` if `ensemble_size > 0`, therefore there is no real need to call it again. This method essentially get's all models that were successful and attempts to build an ensemble out of them.
* We should raise an error if this is already done.
* This should be documented better.

Please refer to this example

[2021-11-29 11:07] shabir1 commented on #1327
@eddiebergman What if ensemble_size=0 ?

[2021-11-29 11:20] eddiebergman commented on #1327
If `ensemble_size = 0` in the `__init__` params of autosklearn, no ensemble is fit, auto-sklearn just finds models and then completes. Calling `fit_ensemble` afterwards then accepts a param to how large of an ensemble you want, post fitting.

The example I linked to is actually run to produce the outputs there so it does work in that case.

[2021-11-29 11:26] shabir1 commented on #1327
@eddiebergman Which example?

[2021-11-29 11:29] bladesaber opened #1328 "FileExistsError when n_jobs of autosklearn.classification.AutoSklearnClassifier larger than 1"
## Describe the bug ##
when I set the n_jobs of class autosklearn.classification.AutoSklearnClassifier larger than 1, it will cause the error FileExistsError: [Errno 17] File exists: tmp/autosklearn_on_example_tmp'. It seems that multi processor will create the folder at the same locatin.

Looking forward to solution quickly, thanks.

## To Reproduce ##
import sklearn.datasets
import sklearn.metri

[2021-11-29 11:54] eddiebergman commented on #1327
Oh sorry I never gave the link in the comment above, [here it is](https://automl.github.io/auto-sklearn/master/examples/60_search/example_sequential.html#sphx-glr-examples-60-search-example-sequential-py)

[2021-11-29 12:49] shabir1 commented on #1324
@eddiebergman Thank you

[2021-11-29 12:49] #1324 closed

[2021-11-29 12:50] #1275 closed

[2021-11-29 12:56] shabir1 commented on #1323
@eddiebergman
I tried
[code]

Output:
[code]

But still, there is no information about the Algorithm, Which algorithm failed due to TIMEOUT, CRASHED, ... etc.

[2021-11-29 13:41] eddiebergman commented on #1323
This came up in a meeting today and `leaderboard` will be updated to include all `config_id`'s, even the ones that crashed and timed out (something I thought it already did)

It show's the `config_id` of which algorithm crashed, to get the config (the algorithm pipeline) that caused the crash/timeout it's a bit more involved.

Here's a reproducible example:
[code]

Here's the output:
[code]

[2021-11-29 13:49] eddiebergman commented on #1328
Hi @bladesaber, you're right in that it's due to parallelization. Due to how we use `dask`, our processes distributer, we require a `__main__` gaurd.

Could you try wrapping it in a `__main__` and seeing if it works?

* https://automl.github.io/auto-sklearn/master/#example

We have updated our documentation in the next release which should mention this more explictly.

[2021-11-30 01:08] bladesaber commented on #1328
Thank you very much, it works. ^_^

[2021-11-30 01:08] #1328 closed

[2021-11-30 15:47] mfeurer opened #1331 "Docstrings for include and exclude argument not up-to-date"
The docstrings for include and exclude of the AutoSklearnClassifier and AutoSklearnRegressor are not up-to-date as they do not yet address that one should pass in a dict (and no longer a list).

[2021-12-01 10:25] eddiebergman commented on #1331
They seems to correctly specify dict? However they are not very clear so I will update them.

[2021-12-02 11:55] mfeurer commented on #1331
This can be closed now that you merged #1332, right?

[2021-12-02 14:13] #1331 closed

[2021-12-02 14:24] eddiebergman commented on #1310
Just a note that this error seems to now occur once every test run. We need to identify which parameter causes the issue and add some constraint/modify the HP space.

This will likely change meta-data and require a benchmark test.

[2021-12-05 15:55] isaac-chung commented on #1312
Thoughts on putting isort in pre-commit hooks as well?

[2021-12-06 11:51] eddiebergman commented on #1302
Hello @siwang2011, any update?

[2021-12-07 05:45] #1323 closed

[2021-12-07 05:48] shabir1 opened #1333 "Can we include/exclude dataPreProcessings algorithms?"
# Can we include/exclude data preprocessing algorithms?
What configuration do I have to set if I don't need any data preprocessing, Or if I want to use only specific feature preprocessing and data preprocessing algorithms?

I tried:

[code]

[2021-12-07 09:54] eddiebergman commented on #1333
For no data-preprocessing, please see [this example](https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_data_preprocessor.html#sphx-glr-examples-80-extending-example-extending-data-preprocessor-py). If your data is dirty in any way then this will cause failures as the pipeline relies on cleaned data, which the data preprocessing does.

For no feature engineering,

[2021-12-07 10:13] shabir1 commented on #1333
@eddiebergman  Tried

[code]

Got below error
[code]

[2021-12-07 10:19] shabir1 commented on #1333
@eddiebergman I have to create my own `NoPreprocessing` Class

[2021-12-07 10:30] eddiebergman opened #1334 "Update SGD regressor loss values for scikit learn 1.0"
We need to update the loss name in SGD regressor when switching to scikit learn 1.0.

* [Docs](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.SGDRegressor.html#sklearn-linear-model-sgdregressor)

[code]

[2021-12-07 10:33] eddiebergman commented on #1333
@shabir1 yes, the code of which can be seen and modified in the example, we may eventually include it as a native part of the package but as we require data preprocessing for sklearn to work, we don't provide it as a default option.

[2021-12-07 11:34] shabir1 commented on #1333
@eddiebergman Thank you

[2021-12-07 11:44] shabir1 commented on #1333
@eddiebergman  What are the possible values for data_preprocessor and feature_preprocessor.
[code]

[2021-12-07 12:00] shabir1 commented on #1333
@eddiebergman
I found the possible values

[code]

In `feature_type` there are different data preprocessors, Can we exclude/include those, if yes then how?

[2021-12-07 12:35] eddiebergman commented on #1333
You can use the `include`, `exclude` parameters [here](https://automl.github.io/auto-sklearn/master/api.html#autosklearn.classification.AutoSklearnClassifier)

[2021-12-07 12:48] shabir1 commented on #1333
@eddiebergman  I am talking about `data_preprocessor`,
[code]
We can include or exclude `feature_type ` only because there are only two possible values for  'data_preprocessor': ['feature_type', 'NoPreProcessing']. but I want to exclude hot_encoding or other data preprocessing, how to do that

[2021-12-07 13:04] eddiebergman commented on #1333
Currently not possible, you can preprocess it however you like before hand and use `NoPreProcessing` then. The reason we don't have it at the moment is because data preprocessing is applied column wise and our structure is flexible enough to handle that right now.

[2021-12-07 13:15] shabir1 commented on #1333
Okay, thank you

[2021-12-07 13:16] #1333 closed

[2021-12-07 16:52] eddiebergman commented on #1297
Hi @PanyiDong,

Sorry for the slow response to this. Turns out that indeed it was the `StandardScaler` causing issues and it was an artifact of when `auto-sklearn` was updated to allow for multi-target regression but the models were not updated to check input dimensions. This has been fixed in #1335

[2021-12-08 07:19] eddiebergman opened #1336 "SGD configuration gives error `test_pipeline/test_classification` - `test_configurations_sparse`"
Another configuration to check out on test_pipeline/test_classification::test_configurations_sparse`

[Failing test](https://github.com/automl/auto-sklearn/runs/4446897874?check_suite_focus=true)

Config:
[code]

[2021-12-08 07:27] eddiebergman opened #1337 "Failing configurations"
We leave some randomness in the configurations that get tested when testing different classifier and regressor components, these are collected here:

---
* [Test](https://github.com/automl/auto-sklearn/runs/4446897874?check_suite_focus=true)
* `test/test_pipeline/test_classification.py::SimpleClassificationPipelineTest::test_configurations_sparse`

[code]

---
* [Test](https://github.com/automl/au

[2021-12-08 07:28] eddiebergman commented on #1310
Closing, documented in #1337

[2021-12-08 07:28] #1310 closed

[2021-12-08 07:28] eddiebergman commented on #1336
Closed, documented in #1337

[2021-12-08 07:28] #1336 closed

[2021-12-08 17:04] eddiebergman commented on #1274
So with this sample code where I fixed what `PredefinedSplit` uses, things work for me. we get some timeouts but also some completions. I'll try running for 10 minutes and see the results.

[code]

[code]

[2021-12-08 17:14] eddiebergman commented on #1274
An update with the 10 minute version, it appears it was just our example is incorrect and I'm not sure why sklearn does not complain given that array.

[code]

[2021-12-08 17:15] eddiebergman commented on #1274
Please let me know if this fixed your issue, I will update the example in the meantime and do a small investigation as to why we had silent errors and if we can catch them.

[2021-12-08 21:25] eddiebergman commented on #1274
Some further looking show's that there's not much we can do to detect a bad `PredefinedSplit`, it still returns two arrays all be it with some odd indices included into the `test_set` and some indices missing.

The only way I could think to test for this would require that the length of both splits add up to the original length before splitting. While this is generally the case, I don't think we s

[2021-12-09 15:19] eddiebergman commented on #1312
Hi @isaac-chung,

We already have a [workflow check in our development branch](https://github.com/automl/auto-sklearn/blob/development/.github/workflows/isort_checker.yml). Our plan is to apply black formatting and isort to the entire codebase after our next major release to prevent PR's being incomprehensible.

If you still want to contribute, having black and an isort check to our pre-commit to

[2021-12-09 15:20] eddiebergman commented on #1312
Just realised the naming of that workflow file is wrong, I'll have to update that

[2021-12-10 08:40] mfeurer commented on #1120
In case you are still observing these problems please open new issues with examples that would allow us to reproduce these problems so we can work on a solution.

[2021-12-10 09:44] BaggioGiacomo opened #1343 "Cannot install sklearn"
# Issue description
Hi all! I'm having troubles while installing sklearn using  `pip install sklearn`.
It throws those errors while preparing metadata (pyproject.toml).
![image](https://user-images.githubusercontent.com/58849430/145551859-f3763921-c0ae-4a3e-a5df-45eb04940cd8.png)

## What is my environment?
- Python 3.10.1 installed from the [Offical site] (https://www.python.org/downloads/)
- Pip

[2021-12-12 14:39] eddiebergman commented on #1343
Hi @BaggioGiacomo,

This is not really a question for us as it has to do with building sklearn. You can test this by just installing sklearn by itself. However, it seems this is a problem with your C/C++ environment. One of the lines in the first section says `cant open include file 'stdio.h' ... ` which is part of the core C++ stdlib.

I'm closing this issue as it's not directly related to auto-s

[2021-12-12 14:39] #1343 closed

[2021-12-12 20:16] felidsche commented on #1236
Hi @sofidenner and others,
can you make sure that the resources that you are providing for `fit()` are actually available?
I managed to work around this error by freeing up resources on my machine.
However, this could also be a coincidence because this error also occurs occasionally for me.

[2021-12-13 13:27] eddiebergman commented on #1274
Hi @mereldawu, this was resolved by PR #1340 updating our example on how to use PredefinedSplit which gave you the errors. There is nothing we can do about automatically detecting bad splits returned by the custom splitter.

[2021-12-13 13:27] #1274 closed

[2021-12-13 13:50] eddiebergman commented on #1297
Fixed with #1335

[2021-12-13 13:50] #1297 closed

[2021-12-13 20:56] sofidenner commented on #1236
Hi @felidsche, in my case the resources are not the problem:  having more than 150GB of RAM free, and running an experiment with an incredibly small dataset results in the same error, every time I run it.

This is the snippet with the incredibly small dataset that I just use to try it out:
[code]
And this is the complete Traceback:
[code]

[2021-12-15 15:00] Yuda2015 commented on #1258
This gives NaN in all columns. what is wrong with this?

skf = StratifiedKFold(n_splits=5)
data = totaset.values
X, y = data[:, :-1], data[:, -1]
# minimally prepare dataset
X = X.astype('float32')
y = LabelEncoder().fit_transform(y.astype('str'))
# split into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

clf = AutoSklearnClassifier(

[2021-12-15 21:45] Huertas97 commented on #872
My impression is that if you set `ensemble_size=10` you are specifying the maximum number of different models to include in an ensemble. However, not more models means better results. Thus, even if you specify up to 10 models the best ensemble can be composed of just 4 models.

[2021-12-16 07:38] mfeurer commented on #872
We use https://www.cs.cornell.edu/~alexn/papers/shotgun.icml04.revised.rev2.pdf with repetitions to build ensembles. Thus, the number of different models that end up in the ensemble is usually lower than `ensemble_size`. Have a look at the newly introduced leaderboard to get some further information on what's in the ensemble and what was searched.

`cv_results_` contains single runs.

IF you have

[2021-12-17 15:30] hadaev8 commented on #1060
Same problem

[2021-12-18 19:10] GeorgePearse commented on #388
@mfeurer I'd love to work on this if it's still considered beneficial.

[2021-12-18 20:02] eddiebergman commented on #388
Hi @GeorgePearse,

Having something like TPOT's [export](http://epistasislab.github.io/tpot/api/#tpotclassifier-export) is something I think me and @mfeurer had discussed a while ago but feel free to correct me if I'm wrong there @mfeurer.

There used to be more activity around this feature request from what I remember but I'm sure people would find this feature useful in scenarios where they woul

[2021-12-18 20:33] GeorgePearse commented on #388
Cheers @eddiebergman it's an interesting problem, just looking through TPOT's implementation now and will start digging into the internals of this repo in a second.

[2021-12-19 20:02] GeorgePearse commented on #388
As a warning I'm unlikely to give this a real crack until the 26th Dec 2021 and beyond. If anyone can give it a go before then by all means go for it.

[2021-12-20 11:55] eddiebergman commented on #388
No problem, you probably won't get much feedback until mid January in that case, feel free to work on it before then if you'd like but there's no rush, thanks for the contribution offer :)

[2021-12-20 13:08] eddiebergman opened #1350 "Improve code coverage"
This is an ongoing issue code coverage we should work on or would gladly accept contributions for anyone looking to get some experience with testing open-source.

* We have some guaranteed randomness with the configuration we tests which causes the code coverage to fluctuate. This causes issue in that we have a simple change such as a docstring change #1349 causes our [code coverage test to fail](

[2021-12-20 14:13] eddiebergman opened #1351 "Convert `unittest` tests to `pytest` style"
Some of our tests follow the `unittest` structure of creating tests. While these are fine, we want to migrate our tests to be in the more functional style of `pytest`.

For example, [`test_classification`](https://github.com/automl/auto-sklearn/blob/master/test/test_pipeline/test_classification.py) which tests the classification pipeline adopts the `unittest` style of class structured tests in whi

[2021-12-20 14:22] eddiebergman opened #1352 "[Beginner Freindly Task] Update a component"
The components part of our codebase was written sometime ago, with older sklearn versions and before python typing was production ready.

In general, some of these files need to be cleaned up. Mostly typing of parameters and functions, adding documentation a bout these parameters and finally double checking with scikit learn that there aren't some new or deprecated parameters we still use.

To go

[2021-12-20 18:25] himanshu007-creator commented on #1351
hey, i would like to work on this issue

[2021-12-20 21:00] eddiebergman commented on #1351
Hey @himanshu007-creator, that'd be great!

If you have some experience with `auto-sklearn` or `sklearn` and want to have a go at trying to convert some of the `pipeline` components as mentioned in the Issue then that'd be amazing. If you're a bit less familiar with machine learning, we would also appreciate these changes in `test/test_metrics`.

However, feel free to pick whatever you think is mo

[2021-12-21 08:24] mfeurer commented on #388
I once had a look into this feature, but coded it as a standalone function. Instead it should be built into Auto-sklearn, for example, one should be able to do `classifier.export_to_sklearn()` and get a scikit-learn-only model. Nevertheless, here's the code for reference:
[code]

[2021-12-22 05:44] himanshu007-creator commented on #1351
I would like to go ahead with <code>test_metrics</code>

[2021-12-22 08:42] EchoDelta opened #1353 "Security vulnerability in dask < 2021.10.0"
There is a [security vulnerability](https://github.com/advisories/GHSA-j8fq-86c5-5v2r) in the required version of `dask` used by `auto-sklearn`.

Could you update the requirements of `dask` to a version >= `2021.10.0`?

[2021-12-22 12:02] eddiebergman commented on #1353
Hi @EchoDelta, I'm making a [hotfix](https://github.com/automl/auto-sklearn/pull/1354) for master, just going to wait until the tests pass before merging.

[2021-12-25 18:36] eddiebergman commented on #1353
Hi @EchoDelta, the maintainer who has access to publish it to Pypi won't be back until early January, until then, I'm afraid you'll have to git clone off of `master`.

[2021-12-25 23:34] eddiebergman opened #1357 "Check if test requirement `flaky` can be removed"
We currently have a test dependancy [flaky](https://pypi.org/project/flaky/) used to annotate a test `KernelPCAComponentTest::test_default_configuration_classify()`. This is the only place it's used.

[2021-12-26 10:12] EchoDelta commented on #1353
Will do! Thanks for the fix!

[2021-12-27 07:02] shabir1 commented on #1327
@eddiebergman I don't want the ensemble model.
I tried the below 2 ways but it failed both ways
[code]

2.
[code]

[2021-12-27 08:16] shabir1 opened #1359 "Model Size is big in auto sklearn"
## Model Size is big in auto sklearn ##
Auto Sklearn model size is big with respect to sklearn,  Below are the examples:

[code]
I run autoskearn without feature or data preprocessing but still model size is very huge.
If it is due to ensemble size then I tried with different values of ensemble size 30, 10, 1 but the model size is almost the same, Why?

[2021-12-31 06:16] shabir1 opened #1360 "How do you treat the missing values?"
# How do you treat the missing values?
If the dataset contains missing values, how are you handling these missing values Are you dropping them or you are using some method to fill these missing values.

[2022-01-02 20:18] #1319 closed

[2022-01-02 20:20] eddiebergman commented on #1298
Improved with #1321. Might need some improvements in the future but for now I'm closing this.

[2022-01-02 20:20] #1298 closed

[2022-01-05 14:42] totalhack opened #1362 "Slow import of AutoSklearn2Classifier"
## Describe the bug ##

AutoSklearn2Classifier takes over a minute to import.

## To Reproduce ##

[code]

## Expected behavior ##

It should be as fast as AutoSklearnClassifier.

## Environment and installation: ##

Please give details about your installation:
[code]

Python version 3.8.7

[2022-01-06 17:02] raphaelTrench commented on #1236
I have been getting this error as well on macOS Catalina, and I have not updated any libraries in my environment before this error started showing up. It happens when calling `fit` regardless of parameters:

[code]

[2022-01-07 10:54] JustinDoIt opened #1363 "[Bug] Under utilizing CPU usage"
I trained my model on a 36 core CPU and set `n_jobs=-1` and it worked.

[code]

However, from the perspective of `htop`, auto-sklearn only occupies one or two cores most of the time. Is there any way to improve CPU utilization?

![CPU_info](https://gitee.com/justindoit/picgo/raw/master/imgs/20220107184535.png)

* python 3.8.5
* auto-sklearn 0.14.2
* Ubuntu 20.04

[2022-01-10 09:38] eddiebergman commented on #1360
We generally do imputation which is a hyperparameter that autosklearn tries out. For example, with numerical imputation, you can see [here](https://github.com/automl/auto-sklearn/blob/cd4fef98620cd4be599b9124f06b12a39c2c3526/autosklearn/pipeline/components/data_preprocessing/imputation/numerical_imputation.py#L65) the choices here , `["mean", "median", "most_frequent"]`

Here's the code to guide y

[2022-01-10 09:39] eddiebergman commented on #1362
Hi @totalhack,

That seems odd, I will try it out today and see what I can find.

[2022-01-10 09:51] eddiebergman commented on #1363
Hi @JustinDoIt,

We seem to generally have issues with large amount of available CPU's. We are unable to test these problems very well due to our infrastructure.

A common issue is documented in #1236, which is odd that this bug it does not happen in your case, thank you for reporting it.

We use [SMAC](https://github.com/automl/SMAC3) as our optimizer and [ConfigSpace](https://github.com/automl/C

[2022-01-10 09:58] shabir1 commented on #1359
@eddiebergman  You mean I will get the best configurations and create an sklearn ensemble model out of it.

[2022-01-10 10:01] eddiebergman commented on #1359
There are ways to do that by extracting out the models, this is made easier in a recent PR by @UserFindingSelf in #1321. This is available in the development branch, otherwise you can view the code there to suit your needs. We would like an export option down the road to eventually export more production ready models.

[2022-01-10 10:09] shabir1 commented on #1327
@eddiebergman I don't want an ensemble model at all

[2022-01-10 10:45] eddiebergman commented on #1359
We are reworking some internals, this will likely not be a feature in the next release, apologies.

[2022-01-10 10:52] eddiebergman commented on #1327
Sorry, if you set the ensemble size to 1 it should work. That is my bad. I will also document that an ensemble size of 0 should be allowed to be specified.

[2022-01-10 10:54] eddiebergman opened #1364 "Export asklearn2 predictions to improve start up time"
We currently [fit](https://github.com/automl/auto-sklearn/blob/master/autosklearn/experimental/askl2.py#L57) and predict upon loading `autosklearn.experimental.askl2` for the first time. In environments with a non-persistent filesystem (autosklearn is installed into a new filesystem each time), this can add quite a bit of time delay as experienced in #1362

It seems more applicable to export the p

[2022-01-10 10:57] eddiebergman opened #1365 "`AutoML::fit_ensemble` with `ensemble_size =0` causes crash"
It seems there is no validation on `fit_ensemble` when ensemble size is `0`, causing an issue to appear as seen in #1327

[2022-01-10 11:30] shabir1 commented on #1359
@eddiebergman Thank you sir for your quick reponse

[2022-01-10 11:30] #1359 closed

[2022-01-10 11:50] mfeurer commented on #1359
One additional note: Auto-sklearn uses 512 trees, while scikit-learn by default only uses 100 trees. This explains why the models are in the ballbark of > 500MB.

[2022-01-10 14:02] mfeurer commented on #1236
Hey @raphaelTrench you are getting a different error message that is not due to the number of cores. Instead, the memory limit you provide is above what can be passed to MacOS. You may try with a lower memory limit to see whether this issue goes away, but we don't test OSX and therefore cannot make any guarantees about the behavior of Auto-sklearn under OSX.

[2022-01-10 14:29] eddiebergman commented on #1360
That seems to be an issue in the `NoPreprocessing` doesn't work as expected. That is how we treat missing values though

[2022-01-11 05:42] bkpcoding commented on #1365
Hey, I am looking to contribute to this issue. Currently, I am going through the contributing guidelines and setting up the development environment.
So as far as I understand the current ```show_models()``` function crashes if the ```ensemble_size = 0``` and this needs to be addressed by just returning an empty dictionary? Or there has to be an error or warning message?

[2022-01-11 10:53] EchoDelta commented on #1353
@eddiebergman Will the new version be published soon?

[2022-01-11 11:16] eddiebergman commented on #1353
Hi @EchoDelta,

Apologies, we sorted out the upload rights yesterday, the fixed master branch will be on PyPi within a few hours.

[2022-01-11 11:28] eddiebergman commented on #1353
Should be up now :)
https://pypi.org/project/auto-sklearn/

[2022-01-11 11:28] #1353 closed

[2022-01-12 15:24] eddiebergman commented on #1365
Hi @bkpcoding,

Turns out this is wrong and I think it has actually to do with `fit_ensemble(train_y, ensemble_size=0)` in the provided issue. The extra code was misleading to me and I will update the post and title.

I still think this issue might be easy enough though, having a quick look at `autosklearn/automl/AutoML::fit_ensemble` and tracing through a little bit, it seems there's no real chec

[2022-01-12 16:53] #1357 closed

[2022-01-12 16:54] #1362 closed

[2022-01-13 07:44] bkpcoding commented on #1365
What exact behaviour are we expecting if ```ensemble_size = 0```? Are we supposed to show all the models trained when the ```show_models()``` function is called?

[2022-01-13 08:37] eddiebergman commented on #1365
Hey, thanks for trying to reproduce the error, the unreproducibilty of it means it's probably related to now models being found for the dataset in that time limit.

I would honestly advocate for the simplest solutions:
* `fit_ensemble` gives a ValueError with `ensemble_size = 0`.

* As for `show_models()`, I'm currently on my phone and can't easily check, but I recall it only shows Ensemble member

[2022-01-13 08:49] eddiebergman commented on #314
I noticed this issue still gets traffic, to clarify, `swig4` will also work. In general, you can just install `swig` without specifying a version, as mentioned by @satyas13

[2022-01-14 01:57] JustinDoIt commented on #1363
Hi @eddiebergman

Actually I also encounter the error mentioned in #1236 (details follow)

1. `n_jobs=8` the issue still remains.
2. size of dataset is 1076
3. I test it for quiet enough times and sometimes it works normally, and sometimes it encounters memory utilization problems (same code, a little bit different params)

* Actually it does not happen every time. AND Modifing some params seems t

[2022-01-16 07:20] yashrajput0508 commented on #1230
This issue is opened, can i contribute

[2022-01-16 14:43] simonprovost commented on #288
Any luck some folks would have create the PR for the sample_weight addition while searching for the best configuration? Cheers.

[2022-01-16 15:03] simonprovost commented on #288
@mfeurer One of your commits is seen there: https://github.com/automl/auto-sklearn/commit/6de26d7ed1eba30360b5e4a7f72d2dbeab47a072 When you introduce "Feature: weighting for imbalanced classes" in the commit. Is it possible to use sample weights with this feature then ? I am perplexed, especially since the commit is old date and the more recent discussion on this thread.

Cheers.

[2022-01-17 08:06] mfeurer commented on #288
Hey @simonprovost, no, unfortunately, there has not yet been any progress on this. We'd be happy about a contribution, otherwise, we'll discuss in our next offline meeting whether we can increase the priority on this one.

[2022-01-17 08:08] simonprovost commented on #288
@mfeurer great, thanks for the prompt answer. I could take a look at it, is the description for contributing you mentioned at the beginning of the post still accurate with the new version of Auto Sklearn?

Cheers

[2022-01-17 09:58] eddiebergman commented on #1230
Hi @yashrajput0508,

It seems this failure hasn't been risen in quite a while, I will close this issue but if you would like to contribute on any other issue, it would be greatly appreciated, thnak you for considering it!

Best,
Eddie

[2022-01-17 09:58] #1230 closed

[2022-01-17 14:52] mfeurer commented on #288
Mostly, from the top of my head these are the modules to be changed:

* autosklearn.data.abstract_data_manager
* autosklearn.data.xy_data_manager
* autosklearn.data.feature_validator
* autosklearn.evaluation (probably all files in there)
* autosklearn.ensembles.ensemble_selection
* autosklearn.ensemble_builder
* pipeline.components.data_preprocessing.balancing

@eddiebergman can you think of any o

[2022-01-17 14:53] mfeurer commented on #388
Hey @GeorgePearse did you already get started? If not, I could have a look on Wednesday morning.

[2022-01-17 18:27] GeorgePearse commented on #388
Hi @mfeurer sorry for the radio silence. You go for it, didn't really get anywhere. Looking forward to seeing the implementation though.

[2022-01-18 07:17] auvipy opened #1371 "scikit-learn 1.0+ compatible release on PyPI"
I will be happy to contribute

[2022-01-18 09:24] eddiebergman commented on #1371
Hello @auvipy

It's on our todo list once we get some other PR's that we are currently working on, if youd like to start, we would be very much appreciative.

Doing so would likely require a decent amount of work, more than just updating the requirements file. It would involve going through the [changelog](https://scikit-learn.org/stable/whats_new/v1.0.html) and updating each component as neccessa

[2022-01-18 09:25] eddiebergman commented on #288
Not of the top of my head, the main difficulty is that sample weights need to be passed through the entire chain of objects which is not entirely transparent, hence the need to update quite a few modules.

I would be happy to regularly review a PR and give guidance during it if you would like to contribute these changes :)

Best,
Eddie

[2022-01-18 09:38] auvipy commented on #1371
ok i am also up for coding changes as well

[2022-01-18 09:42] eddiebergman commented on #1371
Thanks @auvipy,

I'll help guide you along the way and answer questions so feel free to open a PR and continue discussion there!

Best,
Eddie

[2022-01-18 14:37] mfeurer commented on #1371
Hey @eddiebergman we could actually also try a more gradual path in which we first allow both scikit-learn version in parallel and update the individual components over time?

[2022-01-18 15:28] kgullikson88 commented on #288
Yeah, apologies for saying I could do this and then disappearing. I did start taking a look, but got pretty lost in all the code that would need to be changed and then got pulled into other projects.

[2022-01-19 14:37] mfeurer opened #1373 "Text preprocessing V2 TODOs"
* [ ] Improve text example to include more meaningful dataset
* [ ] Improve text example to contain links to further material that describes how we handle text data, for example [this](https://scikit-learn.org/stable/tutorial/text_analytics/working_with_text_data.html)
* [ ] Discuss text feature support in the [manual](https://automl.github.io/auto-sklearn/master/manual.html)
* [ ] Potentially mov

[2022-01-19 14:39] mfeurer commented on #469
For reference, sklearn thinks about adding a transformer for date types: https://github.com/scikit-learn/scikit-learn/issues/21968

[2022-01-19 14:47] eddiebergman opened #1374 "Add `random_state` to steps in `feature_type_categorical.py`"
We don't pass down `random_state` to each of the steps but we should. Not sure it makes a difference here as these components don't use random but in general it will prevent future issues if one of the components do use random state.

[2022-01-20 13:29] mfeurer commented on #388
No worries, there's now a draft in #1375.

[2022-01-21 17:42] DariaTkachova opened #1376 "Is there a way to retrieve all trained models during the trial, not just the ones in the best model?"
# Short Question Description

We need an alternative method to sklearn_ensemble.get_models_with_weights() to retrieve all trained models.
Please also kindly confirm if the auto-sklearn ensemble contain all the trained models.

# Extra context
* We found that the function get_models_with_weights() retrieves trained models with weights above zero, but would like to retrieve all models generated by a

[2022-01-22 21:44] eddiebergman commented on #1376
Hi @DariaTkachova,

This is not very intuitive but I am currently working on a reworked backend that should make all these model based queries much simpler in the future.

For now, I would refer you to issue #1206, specifically this [reply](https://github.com/automl/auto-sklearn/issues/1206#issuecomment-893373876). This is how you can load any of the particular models that were trained.

Is there

[2022-01-23 17:30] mereldawu commented on #388
Hi @mfeurer, this feature is quite useful for us as we'd like to ultimately use kserve to serve the autosklearn models. I took a look at the draft, will only the best model be considered? Or will there be a way to export the other models found during the trial?

[2022-01-24 12:51] pradipneupane opened #1377 "Proper way of doing leave-one-out cross validation in auto-sklearn"
I have some confusion regarding the examples and documents provided in auto-sklearn. For model evaluation, we can do either Kfold or train_test_split but it is not required to do both at least not in scikit-learn as Kfold cross validation takes care of test and train itself for each folds when running.

As example provided here in the Cross Validation section, it is using still splitted data even

[2022-01-25 14:09] eddiebergman commented on #1377
Ahh, I can see from your parameters you already found that issue. For reference, iterate through the splitter's splits [here](https://github.com/automl/auto-sklearn/blob/master/autosklearn/evaluation/train_evaluator.py#L302).

[This is where](https://github.com/automl/auto-sklearn/blob/master/autosklearn/evaluation/train_evaluator.py#L1066) the CV splitter is created based on the args provided.

[2022-01-25 17:20] rabsr commented on #577
@mfeurer I can work on this which will allow to pass default values for components and as well overriding range and choices for hyperparameters. Let me know if this is still relevant to auto-sklearn scope, I can start with sharing the design and implementation details.

[2022-01-25 17:59] rabsr commented on #1317
Hi @eddiebergman

Recently SMAC has included  [mutli-objective function](https://github.com/automl/SMAC3/pull/801) capability and is expected to release soon in [version 1.2](https://github.com/automl/SMAC3/pull/816). I am wondering if this enhancement is still relevant to scope of auto-sklearn. I can explore more on this and contribute to the project.

[2022-01-25 19:43] mikkoim opened #1380 "Importing autosklearn.classification fails in 0.14.4"
## Describe the bug ##
Hi all. Thanks for the recent update.

At least in Google Colab, importing ```import autosklearn.classification``` fails with the new 0.14.4 version with a

[code]

## To Reproduce ##
Steps to reproduce the behavior:
1. Go to Google Colab (or [here](https://colab.research.google.com/drive/1fgC-Y2sLjCg6XkZL8nJg2VGKjSoylWWx?usp=sharing))
2. Run

[code]

## Expected behavior ##

[2022-01-25 22:20] eddiebergman commented on #1380
Hi @mikkoim,

I'll look into this now

[2022-01-25 22:33] eddiebergman commented on #1380
Hi @mikkoim,

I fixed the issues, apologies for this. I forgot to download the submodules when creating the distribution that gets uploaded to PyPi. This has been fixed with a new version [`0.14.5`](https://pypi.org/project/auto-sklearn/).

Apologies for any inconveniences, I've added some automation which still hasn't been merged to prevent issues like this in the future.

Best,
Eddie

[2022-01-25 22:33] #1380 closed

[2022-01-26 07:18] #1377 closed

[2022-01-26 14:46] DariaTkachova commented on #1376
Hi @eddiebergman

Thank you for getting back to me.
I have tried your suggested solution, but I’m only able to retrieve the models in the ensemble.

Are the other Autosklearn generated models being saved and how can they be retrieved/accessed?

From our understanding, autosklearn works as follows:

1. Fit different models (let's say 100 are successfully fitted during the time allocated).
2. Ensemb

[2022-01-27 22:54] cristobalny opened #1381 "Category Coalescence"
Hi, does anyone know what Category Coalescence is and how to put it on a Pipeline when building the top model?

[2022-01-31 08:00] eddiebergman commented on #1381
Hi @cristobalny,

We try category coalescence as part of the `data_preprocessing` pipeline, I'm not quite sure I know what you mean though, could you provide further context?
* What do you mean by category Coalescence?
* Do you have an implementation of what you mean?
* How would you like the code to look?

[2022-01-31 13:29] mfeurer commented on #445
Closing, see #1314 for the reasoning.

[2022-01-31 13:29] #445 closed

[2022-01-31 23:37] cristobalny commented on #1381
Hi @eddiebergman, I'm trying to build the best ensemble I got from auto-sklearn and retrain the model with new data to save computing time. One of the models in the ensemble uses category coalscence: minority_coalescer and I can't find this on the sklearn library.

`"'data_preprocessor:feature_type:categorical_transformer:categorical_encoding:__choice__': "
 "'one_hot_encoding', "
 "'data_preproce

[2022-02-01 14:10] eddiebergman commented on #1381
This should be possible with [`refit`](https://automl.github.io/auto-sklearn/master/api.html#autosklearn.classification.AutoSklearnClassifier.refit). It seems this issue is answered but feel free to repoen if anything is unclear.

[2022-02-01 14:10] #1381 closed

[2022-02-01 14:29] eddiebergman opened #1383 "[Doc] Accessible data reduction parameters"
Should document features introduces in #1250

[2022-02-01 14:30] eddiebergman commented on #1279
Closing #1250

[2022-02-01 14:30] #1279 closed

[2022-02-01 16:49] mfeurer commented on #1101
Fixed via #1316

[2022-02-02 17:55] eddiebergman commented on #1137
Hi @emanuele,

While we havn't directly fixed this issue, you can now disable dataset compression or provide more fine tune control over how it's done. This was implemented in #1341 and documented better in #1386. It is in the development branch and will be out in our next release. I will close this for now as keeping track of indices given the multitude of possible resampling implementations seem

[2022-02-03 08:36] mfeurer commented on #1383
Fixed via #1386.

[2022-02-03 08:36] #1383 closed

[2022-02-03 16:17] eddiebergman commented on #1262
Handled with #1358

[2022-02-03 16:17] #1262 closed

[2022-02-04 08:01] mfeurer commented on #577
Thanks for picking up on this @rabsr. Let's attack this in two stages:

1. default values
2. better way to pass in ranges and hyperparameters

Thinking about this again, for passing in the default values, we could create an example similar to [the random search one](https://automl.github.io/auto-sklearn/master/examples/60_search/example_random_search.html) and the [successive halving one](https://

[2022-02-04 22:56] raphaelTrench commented on #1236
Hey @mfeurer, I understand.
I tried with a lower memory configuration and it  still didnt go away.
However, in the case anyone faces this issue like me: the error stopped  happening  when I downgraded my MacOS version to below 12.0 (Monterey).

[2022-02-06 23:50] asmgx commented on #1089
I have same error but using autosklearn.experimental.askl2.AutoSklearn2Classifier

ValueError: Trying to set illegal value 'gradient_boosting' (type '<class 'str'>') for hyperparameter 'classifier:__choice__, Type: Categorical, Choices: {extra_trees, mlp, passive_aggressive, random_forest}, Default: random_forest' (default-value has type '<class 'str'>').

[2022-02-07 08:25] DariaTkachova commented on #1376
Hi @eddiebergman

Thank you kindly for the feedback.
We have implemented the solution below due to being on autosklearn version 0.13.0. We will patch our implementation once version 0.15.0 is available.

       import re

       seed = 42
       for model_details in self.auto_sklearn_ensemble.automl_._backend.list_all_models(seed):
            budget = re.search(r"(?<=\_).+?(?=\/)", model_details)

[2022-02-07 09:29] eddiebergman commented on #1376
Hi @DariaTkachova,

Glad to hear you got it to work, this snippet will prove helpful for anyone else who has similar questions :)

Best,
Eddie

[2022-02-07 14:04] mfeurer commented on #1312
@eddiebergman can this be closed?

[2022-02-07 14:31] #1312 closed

[2022-02-09 10:23] eddiebergman opened #1394 "Fix: Makefile should `build sdist`"
Currently Makefile makes `bdist`, should be `sdist`

[2022-02-09 11:17] eddiebergman opened #1395 "Fix: Makefile needs to work for paths with spaces"
One example is `make publish` with the `$DIST` folder.

[2022-02-09 11:27] eddiebergman opened #1396 "Fix: `make publish`"
The uploading to test pypi should also include the extra argument `--extra-index-url https://pypi.org/simple/` as shown [here](https://packaging.python.org/en/latest/guides/using-testpypi/#using-testpypi-with-pip).

[2022-02-09 14:21] #1394 closed

[2022-02-09 14:21] #1395 closed

[2022-02-09 14:21] #1396 closed

[2022-02-10 14:26] rabsr commented on #577
I was majorly focused on overriding values for hyperparams for algos.. But I can also start by adding an example as suggested  for setting up configurations for initial baseline model.

I am considering following approach to pass ranges and defaults for hyperparameters:

[code]
All the validations for ranges, hyperparam type, changing any categoical/numerical hyperparam to Constant/Unparameterized

[2022-02-13 22:54] #1252 closed

[2022-02-15 10:45] Louquinze commented on #1373
can not find `Improve the way feature types are passed to the meta-feature computation (search for the following todo: Todo make this more cohesive to the overall structure (quick bug fix))` in the open to do's

[2022-02-15 16:23] mfeurer commented on #1373
I think the comment right now says: `TODO make this more cohesive to the overall structure (quick bug fix)`

[2022-02-15 19:44] mfeurer opened #1404 "Create common sense unit tests?"
This is mostly a discussion item. PR #1402 unveiled a bug in the handling of pandas that could lead to drastically worse performance. It was uncovered because the training performance of Auto-sklearn was way below 70% accuracy. Since we cannot test everything, are there common sense unit tests we could employ besides checking the training accuracy and maybe that there are not too many crashes of b

[2022-02-16 09:17] Louquinze commented on #1373
i have checked the comment. So this fix is a big one i think, because `metafeatures.py:calculate_all_metafeatures` has a argument `categorical` but not `string` so fixing this is somehow in the scope of how we want to implement automatic datatype recognition in general

[2022-02-17 14:27] eddiebergman opened #1405 "[Bug] ProbaScorer's can end up doing nothing"
There is an `if` statement in `ProbaScorer` that will return None if a certain condition is met.
* https://github.com/automl/auto-sklearn/blob/master/autosklearn/metrics/__init__.py#L136

[2022-02-17 17:20] eddiebergman commented on #1258
Turns out this was not the issue and these probabilities are convert properly before hitting the metric. I will keep an eye on it.

[2022-02-17 21:46] piproul opened #1406 "run_wrapper() got an unexpected keyword argument 'pure'"
While running a fitting on a classifier (*output[0]* with data *output[1]* to *output[4]*), I get the following error; I think it's packages issue;

     super().fit(

     self.automl_.fit(load_models=self.load_models, **kwargs)

     return super().fit(

     _proc_smac.run_smbo()

     smac.optimize()

     incumbent = self.solver.run()

     self.tae_runner.submit_run(run_info=run_info)

[2022-02-18 09:01] koureasstavros commented on #1406
Same here, running in Google Colab with default libraries and installing the latest AutoSKLearn produces TypeError: run_wrapper() got an unexpected keyword argument 'pure'. Also tried downgraded versions and other problems are occurring now.

[2022-02-18 10:08] eddiebergman commented on #1406
Hey, thanks for reporting this issue! I can't reproduce it with a fresh install and default arguments so I'll need to ask a few more questions to try reproduce it.

* What arguments are you initializing the AutoML objects with? Are you using your own Dask cluster?
* Your error log seemed to indicate python 3.8, just want to clarify this?
* Is this a deterministic error, i.e. it will happen every t

[2022-02-18 10:16] eddiebergman commented on #1406
The easiest solution for now is to downgrade SMAC to 1.1.1 as there was a new release yesterday and this was causing the issue. I'll report back once I know more :)

[2022-02-18 11:00] eddiebergman commented on #1406
This is fixed in #1407 and will be released as version `0.14.6` soon.

[2022-02-18 11:05] #1406 closed

[2022-02-18 11:12] eddiebergman commented on #1406
Version `0.14.6` has been released with the hotfix. Apologies for the inconvenience.

For anyone who faced this issue, installing the latest version of autosklearn should now fix the problem. Please comment if this has not fixed the issue

[2022-02-21 12:00] eddiebergman opened #1411 "[Maint] Investigate performance with repsect dataset reduction between fit and predict"
We reduce the precision for `fit` if it's required so the models are trained on a reduced precision, e.g. `np.float128` to `np.float64`. We also subsample if the dataset is still to large in `fit` but do not do this with `predict.

We then call `predict` on these same models which were trained on the reduced dataset:
* How do models actually deal with this difference in dtype between `fit` and `pr

[2022-02-25 09:01] Louquinze commented on #1373
can we rename the point "Potentially move the text feature reduction to a different module" to "Potentially rename the text feature reduction to a different module" ?

[2022-02-25 09:16] mfeurer commented on #1373
Sure

[2022-02-28 11:09] kliesis commented on #160
I have just installed the latest version (0.14.6), unfortunately, get a similar error:

python example_classification.py

Traceback (most recent call last):
  File "example_classification.py", line 35, in <module>
    automl.fit(X_train, y_train, dataset_name='breast_cancer')
  File "/home/zane/.conda/envs/automl/lib/python3.7/site-packages/autosklearn/estimators.py", line 1051, in fit
    dataset

[2022-02-28 11:22] eddiebergman commented on #160
Hi @Motorrat, this error `FileExistsError: [Errno 17] File exists: '/tmp/autosklearn_classification_example_tmp'` happens because you run the example multiple times and it is set not to delete the folder after use.

Unfortunatly we don't support using the same folder for multiple runs. Our solution is either:
* To give **no** `tmp` folder, which means a random `tmp` folder is used.
* If you want t

[2022-02-28 15:25] mfeurer commented on #1103
In extensive experiments we could not confirm that this is a positive change. Therefore, we will not pursue this further.

[2022-02-28 15:25] #1103 closed

[2022-03-01 04:01] asmgx opened #1412 "I start getting port error already in use"
## Describe the bug ##
I am running Ubuntu on Windows 11 bash and auto sklearn version **0.14.6**
Whenever I try to call Autosklearn I get this error

      **_An error ocurred while starting the kernel
      /home/asmgx/.local/lib/python3.8/site‑packages/distributed/node.py:180: UserWarning: Port 8787 is already in use.
      Perhaps you already have a cluster running?
      Hosting the HTTP serv

[2022-03-01 17:35] JustinDoIt commented on #1412
It seems to be just a warning, not an error. In other words, the program does not stop computing in the background.

you can launch the `logging` and see the program's processing state

[code]

[2022-03-02 00:55] asmgx commented on #1412
The process get Killed and does not continue

[2022-03-04 01:53] JustinDoIt commented on #1412
Hi @asmgx
I encountered this situation repeatedly and can be sure that the program did not terminate on my machine (Ubuntu 20.04 and Ubuntu 18.04).

There will be any other error messages when the program terminates. Can you provide some logs or output information?

[2022-03-04 02:00] JustinDoIt commented on #1350
Hi @eddiebergman ,

I'm a master student without any testing experimence (I'm doing the Deep Learning research), but I'm very love auto-sklearn and willing to do this work. And I believe my learning ability :D

But I really don't know where I should start...

I hope you can give me a direction. Thx!

[2022-03-06 22:38] simonprovost opened #1416 "One hot encoding without categorical data"
## Describe the bug ##
My autoML workflow exports that he is performing one-hot encoding on my dataset, whereas we ensure that it is not categorical in before passing to the AutoML pipeline any dataset. So that we did binarise / one-hot encode it ourselves. How is this conceivable? Have you any hints? Perhaps our reading of the AutoML log is incorrect?

## To Reproduce ##
_Reproducing the behaviou

[2022-03-07 08:42] eddiebergman commented on #1416
Hi @simonprovost,

This is weird and something I'll investigate, I would have expected it to not perform any one hot encoding.

The dataset itself isn't neccessary but could I ask whether you are using a pandas dataframe or a numpy array with `feat_types` when passing them in to `auto-sklearn`?

Best,
Eddie

[2022-03-07 09:47] simonprovost commented on #1416
Hi @eddiebergman ,

I appreciate your rapid response. Given your request, the following is my response:

I have printed out all of the feature types in my dataset, which indeed is a `pandas.core.frame.Dataframe`; all feature columns are of type `float64`; and the dtype is `object`.

I hope this helps. Kindly notify me if you want any other information.
Cheers.

[2022-03-07 10:57] eddiebergman commented on #1416
Okay, that seems correct, I'll have to look into it but thanks for the report :)

[2022-03-07 21:10] #1365 closed

[2022-03-07 22:58] simonprovost commented on #1416
That is excellent that it aided. I ran another analysis on a comparable dataset (same feature) but not on the same class variable, and lo and behold, I am having back the one hot encoded issue.

The best model's log:

[code]

Would it be helpful if I am sharing with you the python type loop check I am performing on my data's features to ensure they are all binary typed correctly?

Cheers.

[2022-03-13 06:16] asmgx opened #1418 "Autosklearn shows this error when used with Super Computer"
## Describe the bug ##
I am using Gadi, Australia's most powerful computer.

I have my script that uses Autosklearn

but everytime i call **automl.fit**

I get this error

**_python3: symbol lookup error: /apps/intel-ct/2021.4.0/mkl/lib/intel64/libmkl_intel_thread.so.1: undefined symbol: omp_get_num_procs
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
[ERROR] [2022-03-13

[2022-03-13 15:39] SaffronWolf opened #1419 "Return mulitple metrics when using cross validation"
Is it possible to return multiple metrics for a model? I would like to calculate f1, accuracy, precision and recall for every fold in cross-validation and rank models using f1. One solution I think would be to use some kind of logging service and include it in scoring function, (not sure if this would work).

[code]

[2022-03-14 09:00] JustinDoIt commented on #1363
@e3vela Here are my code and thanks for comments

[code]

[2022-03-14 09:04] e3vela commented on #1363
I haven't tried the code myself but I don't see anything wrong in your implementation. I might run it later when I have the time.

[2022-03-15 15:29] Louquinze commented on #741
Can we exploit the `include` or `exclude` option of autosklearn for fixing this ?
This parameters are providing the possibility to enable or disable certain steps of the preprocessing.
As i understand the code so far this includes not including this steps in the search space.
see `auto-sklearn/autosklearn/automl.py` line 2095 ff.

[2022-03-19 05:26] sasshi-i opened #1424 "Cannot install with conda install in docker ubuntu environment"
## Describe the bug ##
I can not install auto-sklearn with `conda install` in docker ubuntu environment.

## To Reproduce ##
Steps to reproduce the behavior:
1.  Create Dockerfile as follows.
[code]

2. Run  `docker build -t test .`
3. See error

## Expected behavior ##
auto-sklearn install is finished correctly.

## Actual behavior, stacktrace or logfile ##
Installation is killed in the middle of

[2022-03-24 10:00] eddiebergman commented on #1419
Hi @SaffronWolf,

Very sorry for the delay! Yes it should be possible using the `scoring_functions`. See this example: https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_calc_multiple_metrics.html#build-and-fit-a-classifier

[2022-03-24 14:14] Louquinze opened #1427 "Handeling string features in metalearning"
# Short Question Description
Currently the meta-learning only supports numerical and categorical features. In the current PR #1426 we changed the treatment form encoded string columns seen as numerical to categorical. In the future we have to decided how we want to treat strings in meta-learning in general.

* In the file `smbo.py` `line 98` and `line 154` a dictionary is defined which indicates i

[2022-03-24 16:46] eddiebergman commented on #1418
Hi @asmgx,

I'm sorry to get back to you so late. This is not an issue fully related to auto-sklearn as I think the second line of that error dump that you provided is the root cause. `undefined symbol: omp_get_num_procs`.

OMP is a low level system library used by python and many of the C-based libraries in Python, especially for numerics and multi-processing. As this is a Super computer I figure

[2022-03-24 21:56] asmgx commented on #1418
Thanks, Eddie,
but the solution you are providing assumes Anaconda is the platform.
in Gadi supercomputer we just use Python3

I found an alternative solution

[code]

but this solution use 1 thread which defeat the purpose of using high performance comuter

I wonder if you have a better solution?

[2022-03-25 00:03] asmgx opened #1429 "How to use Autosklearn with Multi-Class Multi-Label Classification?"
I have been trying to use AutoSklearn with Multi-class classification

so my labels are like this

0   1   2    3    4 ...  200
1   0   1   1     1 ...   1
0   1   0   0     1 ...   0
1   0   0   1     0 ...   0
1   1   0   1     0 ...   1
0   1   1   0     1 ...   0
1   1   1   0     0 ...   1
1   0   1   0     1 ...   0

I used this code

`
y = y[:, (65,67,54,133,122,63,102,105,39)]
X = df.drop(

[2022-03-25 00:49] asmgx opened #1430 "Calling automl.leaderboard() cause error"
when I call `print(automl.leaderboard())`

after fitting an autosklearn model

but i get this error

[code]

how to fix this?

note : Autosklearn version is 0.14.6

[code]

[2022-03-25 11:16] eddiebergman commented on #1430
Hi @asmgx,

I'm sorry, this can occasionally happen. If you can afford to, your best bet is to just rerun autosklearn and give it a different `seed` when constructing it. Alternatively you can get much of the same information out of `automl.show_models()`.

The reason for this is a weird mismatch that occurs between id's which shouldn't happen, but does.

Sorry that it is the best I can offer. It'

[2022-03-25 11:28] eddiebergman commented on #1429
Hey again @asmgx,

Just as a note, the example you give at first is **multi-label** as there are multiple label columns, and not just one.

Method 2 will not work as we do not natively support Multi-class mutli-label classification. This is due to the fact sklearn models usually don't support this naitevly and require adapters, similiar to the ones you show in option *1.*. However option *1.* will

[2022-03-25 11:38] eddiebergman commented on #1424
Hi @sasshi-i,

Apologies for the late reply. I really don't know why this is. I'm not hugely familiar with docker setups, nor with using conda. I know there was a recent enough issue with installing from conda (outside docker) but that was fixed #1256. You can continue to look through our issue for "conda" in the hopes of something that might help.

In general, we upload to PyPI (which `pip` uses)

[2022-03-25 12:09] eddiebergman commented on #1418
True but the root problem seems similar, in that `symbol lookup error: /apps/intel-ct/2021.4.0/mkl/lib/intel64/libmkl_intel_thread.so.1: undefined symbol: [omp_get_num_procs](url)`. Maybe you could substitute `conda update intel-openmp` with `pip install -U intel-openmp` for the virtual environment your working in?

That's not any code `auto-sklearn` directly calls and it seems more like a numeric

[2022-03-25 12:09] #1418 closed

[2022-03-25 12:16] eddiebergman commented on #1412
This can be caused when the logging server was not shut down properly, often when auto-sklearn crashes for other reasons, eventually the logging server will shutdown once inactive but it will take a while.

When starting a new process of auto-sklearn, it will try to use the same default port, which is now occupied by this original logging server. A warning is shown that the port is in use, and ano

[2022-03-25 12:16] #1412 closed

[2022-03-25 13:59] johnantonn opened #1431 "[Balancing strategy] How can I disable the balancing strategy for an AutoSklearnClassifier?"
# How can I disable the `balancing` strategy parameter for an `AutoSklearnClassifier`?

I am experimenting with CASH optimization using AutoSklearn. I use a `AutoSklearnClassifier` instance and I have disabled feature preprocessing and data preprocessing components following the provided examples, like so:

`include={`
`'classifier': classifiers,`
`    'feature_preprocessor': ['no_preprocessing'],

[2022-03-25 15:27] eddiebergman commented on #1430
Hi @asmgx, I put in what I hope should be a small fix that doesn't solve underlying issue but at least prevents raising an error and providing back the information it can. See #1432

[2022-03-27 16:17] 0dminnimda commented on #1289
Where? x_x

[2022-03-28 03:59] juhonkang opened #1435 "The pcs format does not support categorical hyperparameters with assigend weights/probabilities"
## Describe the bug ##
Please describe the bug you're experiencing as precise as possible.
I just run the example and can't run with this error
![image](https://user-images.githubusercontent.com/67153600/160324021-db5a5006-3a9c-4f6e-9827-07ca8a233265.png)

## Environment and installation: ##

Please give details about your installation:

* OS: ubuntu
* Is your installation in a virtual environment

[2022-03-28 09:52] eddiebergman commented on #1435
Hi @juhonkang,

Could you please put this into one of the cells and post the output here? We recently updated ConfigSpace, the library that handles hyperparameters for us but I made sure that autosklearn doesn't use it. You should expect to see `ConfigSpace v0.4.21` but I'm expecting from that error that you have `ConfigSpace v0.5.0`.

[code]

You can forcibly install the earlier version of Config

[2022-03-28 10:10] eddiebergman commented on #1289
Hi @0dminnimda,

Please see our examples page :)
* https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_debug_logging.html#sphx-glr-examples-40-advanced-example-debug-logging-py

The reason for the complication is due to the distributed processing and dask. Configurations get lost when processes are being spawned and then there's also the issue of writing to the same file. I'm

[2022-03-28 10:56] johnantonn commented on #1431
Hi @eddiebergman,

Thanks for the prompt response, much appreciated.

Indeed not including the `Balancing` instance inside `classification.py`, as you suggested, worked. I also tried providing the argument `strategy='none'` and keeping `Balancing` in the pipeline steps list, but  the results showed that both 'none' and 'weighted' balancing were used anyway.

I guess the code is missing a handler a

[2022-03-28 10:56] #1431 closed

[2022-03-28 15:23] 0dminnimda commented on #1289
Hey @eddiebergman ;]

oh my, that's hard to find ... and it seems like doc search it's working right now, hmm

probably [tests](https://github.com/automl/auto-sklearn/blob/master/test/test_util/test_logging.py) could give some insight, it's likely not exclusive, but at least something ^_^

[2022-03-28 17:18] eddiebergman commented on #1430
Should be fixed now :) It might miss one model on the odd time that happens but it at least won't crash now

[2022-03-28 17:18] #1430 closed

[2022-03-28 17:28] eddiebergman commented on #1289
Thanks for pointing me to those, I had a look a while ago but had forgotten :)

Looking at the tests, it really doesn't cover our main problem which is the process spawning through Dask. As mentioned, it seems that the new processes forget the configuration when the new process is spawned.

The workaround as far as I can tell is to allow the logger instances to be pickled, as this is how Dask tran

[2022-03-28 18:15] 0dminnimda commented on #1289
Yes, it's somewhat a tricky thing trying to log from multiple processes at the same time.
I don't have any expertise with dask, but hopefully it's not that all trick to setup it for our goal.

The approach of writing to several files and joining them won't work as good for stdout/err so it's probably not the best way to go.
Pickling logers seems hacky, setting them in each process form a config is

[2022-03-28 19:02] eddiebergman commented on #1289
No problem, thanks for the comments and feedback :) It's good to revisit it once in a while but unfortunatly it's low on the priority list as there hasn't been many issues about it.

If you get a chance to have a look, feel free to comment back here or just start a PR with it but if you can't find the time, no worries

[2022-03-30 15:19] seraus opened #1436 "How to resume training from a preceding run of autosklearn (checkpointing)"
# Short Question Description
Hello,
thanks for developing autosklearn!

I'm trying it and I have a question.
I would like to ask if autosklearn supports to resume training from a preceding run.
Is that possible?

* How did this question come about?
Trying to optimize further the ensemble obtained from a previous run of autosklearn
* Would a small code snippet help?

I'm using:

[code]
* What have

[2022-03-30 15:36] eddiebergman commented on #1436
Hi @seraus,

No unfortunately we don't support check pointing anymore. I don't exactly remember the reason why this was done though unfortunatly as it was done after I began as a maintainer. The main creator @mfeurer is not available for the next week so I will get a reason for you when I can. Sorry!

The only thing I can suggest to do is use `automl.show_models()` to extract the models and weight

[2022-03-30 18:32] simonprovost commented on #1416
@eddiebergman I was curious as to if you discovered anything, by any luck? Were you be able to duplicate the issue? What may I possibly do to assist you with this?

I recently re-ran the analysis and, unfortunately, it occurred again; some were composed using a One Hot encoding method for the pre-processing phase.

Have a wonderful evening,
Simon.

[2022-03-30 18:39] simonprovost commented on #1416
@eddiebergman I just verified that all of my datasets features types are well based `float64`, and they are. I am referring to datasets here in which the AutoSklearn system does not do one-hot encoding and others in which it does. Their type are exactly all the same. I feel missing something..

Cheers ✅

[2022-03-31 10:15] eddiebergman commented on #1416
Hi @simonprovost,

Sorry yes I did look into but I didn't reply so that's my bad. Essentially as far as and end user should be concerned, no one hot encoding happens as there are no categorical for it to encode. **You data is not effected by any categorical transformers that appear**, they are never applied.

The more detailed answer is that the search space is not reduced based on the types of co

[2022-03-31 14:26] eddiebergman commented on #1416
Yes, if you have no categorical data in your input then no categorical pre-processing will be applied. Even if it says it chose a categorical pre-processor, that choice means nothing as it can't apply it to anything.

The way to ensure your data is interpreted correctly is that:
* If using `np.ndarray` data, then you have to manually specify with `feat_types` params to specify a categorical, other

[2022-03-31 17:31] seraus commented on #1436
Hello, thanks for the clear answer. It would be also useful to know if it's a definitive decision or if checkpointing could be available in a future enhancement. I saw other automl tools that support It.
Thanks, regards

[2022-04-09 17:58] 0dminnimda commented on #1289
@eddiebergman where should I start?

[2022-04-10 16:59] vgargan2 commented on #1429
Hello to all,

For my undergraduate thesis, I am trying to benchmark some automl tools. Specifically, I am trying to plot ROC curves and calculate Area under ROC for multiclass (not multilabel) classification for some datasets coming from OpenML-CC18 using Autosklearn. Basicaly I am trying to implement [this](https://scikit-learn.org/stable/auto_examples/model_selection/plot_roc.html) using AutoSk

[2022-04-11 05:51] eddiebergman commented on #1289
Hello again @0dminnimda :)

The main maintainer is back today so we'll discuss it today during our meeting and then I'll get back to you!

Best,
Eddie

[2022-04-11 05:58] eddiebergman commented on #1429
Hi @vgargan2,

We support regular Multi-class classification out of the box. I realize we don't have an example to show this but we regular test on benchmark [openml/s/218](https://www.openml.org/search?type=study&study_type=task&id=218&sort=runs_included) which is similar in spirit to OpenML-CC18.

Incase this thread begins to confuse other readers, I'm going to make the 4 distinctions and clarif

[2022-04-11 06:18] #1435 closed

[2022-04-11 06:19] #1419 closed

[2022-04-11 11:53] zkliesmete opened #1437 "Is there a way to retrieve feature importance for the ensemble classifier?"
I have tried different inputs for the auto-sklearn classification pipeline and found the best set of features and parameters that seem to work well for what I am trying to predict. Is there any way to pull out the individual predictor importance for the ensemble classifier? Or, alternatively, freeze the ensemble classifier parameter settings and do predictions while iteratively leaving 1 predictor

[2022-04-11 13:17] asmgx commented on #1429
@eddiebergman  this is confusing.
you are saying that Mutlilabel Classification is supported, which is the same example I mentioned in the beginning of this post.

Do you mean if I have a data set with targeted values as following is **Supported**?

RowNo   Feature1  Feature2  Feature3   |  Label1   Label2   Label3   Label4   Label5
-----------------------------------------------------------------

[2022-04-11 14:56] asmgx commented on #1429
@eddiebergman  Thanks,
is there more documentation on how does AutoSklearn support Multi-Label datasets? How it does build its models?
I know that not all Algorithms support Multi-Labels natively, so does it use OneVsRestClassifier internally or does it loop over all the labels?

Any documents support that?

[2022-04-11 19:17] eddiebergman commented on #1429
There are no special things done, when doing multi-label classification, we only consider models that natively support multilabel classification.

https://github.com/automl/auto-sklearn/blob/6cc8bb179fcb023d1c341cf33d2958a16a6935be/autosklearn/pipeline/components/classification/__init__.py#L68

There's no document to support this but there probably should be to describe all this.

[2022-04-12 10:20] ravinkohli opened #1438 "No successful configuration due to `Directory not empty` when saving run to the runs directory in autosklearn 2"
## Describe the bug ##
I am trying to run autosklearn2 on openml tasks. However, all of the configurations that are found during search are crashing with `FileNotFoundError(2, 'No such file or directory')`.

## To Reproduce ##
[code]

## Actual behavior, stacktrace or logfile ##
This error is repeated for all configurations.
[code]

## Environment and installation: ##

Please give details about yo

[2022-04-13 13:16] teresa-m opened #1439 "Non-breaking ERROR printed: "init_dgesdd failed init" while running AutoSklearnClassifier"
## Describe the bug ##

Hi,

I am getting the Error 'init_dgesdd failed init' when I perform longer runs (> 46000 s) of the AutoSklearnClassifier. My dataset has the shape (42589, 26). The call still results in an optimized model. So I suspect that only some optimization runs are failing. The AutoSklearnClassifier is called like this:

[code]

also if the n_jobs are reduced to 2 and the memory lim

[2022-04-13 17:06] mfeurer commented on #1289
I also don't know. It would be great if we could somehow parse the code for that when building the docs.

Not a good idea: https://stackoverflow.com/questions/24509650/deadlock-with-logging-multiprocess-multithread-python-script

Yes, indeed.

To be honest, I don't know whether we can easily work around the logging server and whether writing to a file and the coalescing is a good idea. That would

[2022-04-14 08:09] shabir1 opened #1440 "DataPreprocessor/FeaturePreprocessor option NoPreprocessing does not disable Balancing in 0.14.6"
## NoPreprocessing is not working in 0.14.6 ##
I am setting NoPreprocessing in include param of AutoSklearnClassifier but it still run Balancing(random_state=1) as data_preprocessor. In the 0.14.2 version it was working as expected. When I downgrade the version to 0.14.2 then it again works.

[code]
Result of show models (0.14.6):
[code]
Result of show models (0.14.2):
[code]
Every thing is same d

[2022-04-14 08:39] eddiebergman commented on #1437
Hi @zkliesmete,

This is currently not a built in feature but you can find an example of how do so with sklearn here near the bottom:
* https://github.com/automl/auto-sklearn-talks/blob/main/2021_07_28_EuroPython/Tutorial.ipynb

This gives an overall idea to the `automl` instance as a whole but not for specific models.

On a per model level, this is harder to achieve. Some models such as Random Fo

[2022-04-14 08:51] eddiebergman commented on #1439
Hi @teresa-m,

Unfortunatly I do not know which model is causing this error exactly but you're right in that it seems to be a numpy related issue, which probably stems from one of the sklearn models being trained.

What happens is that we create a new process for each model as it's being trained. If one of these models fails (with an error like above), then we just say it's not viable and move on

[2022-04-14 09:00] #1360 closed

[2022-04-14 09:11] eddiebergman commented on #1440
Hi again @shabir1,

Please see this Issue:
* https://github.com/automl/auto-sklearn/issues/1431

Yes there are issues that remain here, we unfortunately don't have the manpower to fix all problems and keep up to speed with other automl frameworks. If you feel like taking a dive into the code, a PR that fixes these things would be much appreciated.

Best,
Eddie

[2022-04-14 09:37] eddiebergman commented on #1438
It seems like this is a multi-processing issue, I have no real idea what is causing issue here:
* Could be that there are two runs evaluated with the same budget, meaning when trying to do `os.rename(src, dst)`, it can't delete `dst` as it's already populated.
* Could be that there is some process stuck doing something in `src` meaning it can't be deleted as part of the rename.

Given the code is

[2022-04-14 10:50] eddiebergman commented on #1289
@mfeurer I would read my latest comment, it agrees with your points there.

| I also don't know. It would be great if we could somehow parse the code for that when building the docs.
* We should use traditional convention for logger names. This way we don't have to explicitly name them anywhere.

In general, I don't think it makes sense for the loggers to come up with their own unique names, the [

[2022-04-17 22:51] asmgx opened #1441 "When dataset is mostly zeros I get an error"
When dataset is mostly zeros I get an error when call leaderboard()

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/my/anaconda3/lib/python3.8/site-packages/autosklearn/estimators.py", line 841, in leaderboard
    model_runs[model_id]['ensemble_weight'] = weight
KeyError: 1

during fitting I got many of dummy model

[WARNING] [2022-04-17 18:07:09,063:smac.ru

[2022-04-18 02:16] asmgx opened #1442 "Is there another method of finding the best algorithm other than leaderboard"
Using leaderboard() has been giving me hard time and giving  errors ( I created a ticket for them)

Is there any other way to find the best algorithm in my model?

P.S. using AutoSklearn version 0.14.6

[2022-04-18 05:32] shabir1 commented on #1440
@eddiebergman
I tried to use balancing in include/exclude but it throws the error
[code]
Error:
ValueError: The provided key 'balancing' in the 'include' argument is not valid. The only supported keys for this task are ['data_preprocessor', 'feature_preprocessor', 'classifier']
[code]

[2022-04-18 08:40] erinaldi commented on #1236
I get the same error https://github.com/automl/auto-sklearn/issues/360#issuecomment-963293965
On macOS Monterey with M1 Pro
The installation was successful and importing the package works.
It seems to be related to this.
I understand auto-sklearn is not tested on macOS but I thought about reporting this known issue anyway in case someone finds a solution (which does not require downgrading the OS)

[2022-04-18 11:14] eddiebergman commented on #1441
Hey @asmgx,

So it seems autosklearn never found a model that was better than Sklearn's [dummy classifier](https://scikit-learn.org/stable/modules/generated/sklearn.dummy.DummyClassifier.html). What's more, it seems the default strategy for the dummy classifier can achieve an F1 score of 100% which seems odd.

This seems like an interesting dataset to debug with, would you be able to share it?

Be

[2022-04-18 11:17] eddiebergman commented on #1442
You can use `show_models` but it's likely to give you similar errors. You can use these three lines to get the models with their weights. But be a bit safer about it.

Fyi, the issue hasn't been fixed but it at least won't give an error. It's in development but I'm not sure how long until a release is made.

Best,
Eddie

[2022-04-18 11:17] eddiebergman commented on #1442
Here's the fixed version for reference if you need
https://github.com/automl/auto-sklearn/blob/development/autosklearn/estimators.py#L938

[2022-04-18 11:28] eddiebergman commented on #1236
Hey @erinaldi,

We recently started reworking [`pynisher`](https://github.com/automl/pynisher/tree/api_changes) which is in charge of limiting resources for spawned processes.
This error line is directly from pynisher and is in the comment you linked:
`resource.setrlimit(resource.RLIMIT_AS, (mem_in_b, mem_in_b))\nValueError: current limit exceeds maximum limit`.

We have another push on getting it

[2022-04-18 11:29] eddiebergman commented on #1440
Hi @shabir1,

Please read the issue I linked in full, it's not possible:
* https://github.com/automl/auto-sklearn/issues/1431

Best,
Eddie

[2022-04-18 11:48] erinaldi commented on #1236
Thanks for the quick reply @eddiebergman

I would be happy to test it on macOS Monterey when you have a working PR.
I did try different limits with no success like you said.

Right now this is not impacting my works since I am able to use a many-core Linux system but I’ll check this thread for any future update.

[2022-04-18 13:29] eddiebergman commented on #1236
Hi @erinaldi,

I've updated the current status of this issue in Pynisher if you're interested: automl/pynisher#16

[2022-04-18 16:11] asmgx commented on #1442
Shall I update this file ([estimators.py#L938](estimators.py) manually with the code you provided? will that fix the issue

[2022-04-18 16:17] eddiebergman commented on #1442
You can do that if you like, or, instead of calling `def leaderboard()` you can use the same logic as the code provided to get out what you need.

[2022-04-19 03:52] asmgx commented on #1442
Here it is dataset attached (X_train and y_train)
[data.zip](https://github.com/automl/auto-sklearn/files/8509692/data.zip)

[2022-04-19 03:54] asmgx commented on #1441
Here is dataset that i used attached (X_train and y_train)
[data.zip](https://github.com/automl/auto-sklearn/files/8509692/data.zip)

[2022-04-19 04:11] asmgx commented on #1442
still getting error

[code]

[2022-04-19 07:09] mfeurer commented on #1436
We had removed this feature because auto-sklearn used the "old" parallelization functionality of the underlying SMAC3 in a creative way to allow restarting. We now use the "new" parallelization functionality of SMAC3. This means that we went from distributing information via the file system and having multiple independent SMAC's running to having a single SMAC that communicates with workers via da

[2022-04-19 07:11] mfeurer commented on #1431
Indeed, the solution by @eddiebergman is the only way to disable `balancing` that is possible right now, and there is a handler missing to do this programatically. We'll fix this together with #379 when we get there.

[2022-04-19 07:19] mfeurer commented on #1363
This is most likely due to https://github.com/automl/SMAC3/issues/774, which basically says that getting new configurations (i.e. which model with which hyperparameters to try next) is not executed in parallel. When running in parallel, and evaluating configurations is faster than the suggestion mechanism, you'll observe the pattern reported here, namely that auto-sklearn uses only a single core.

[2022-04-19 07:34] mfeurer commented on #1437
The feature importances are also available in [this example](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_inspect_predictions.html). The permutation importance example appears to be exactly what you are looking for.

I agree on @eddiebergman's comment that the models are all different and we cannot put their individual interpretations of what is an important feature to

[2022-04-19 08:20] mfeurer commented on #1438
This is indeed a weird error. I have no idea why it has not happened before.

From @ravinkohli's code it appears that there is no multi-processing so I am not 100% sure if @eddiebergman's first suggestion can be the culprit?

What I wonder right now, why is the path it tries to rename to in the 2nd error message (`'./ask/working_dir/autosklearn/.auto-sklearn/runs/./ask/working_dir/autosklearn/.aut

[2022-04-19 08:21] mfeurer commented on #741
Unfortunately not. For this the user would need to know what to include or exclude based on the given data type, which is something we cannot expect.

[2022-04-19 08:26] mfeurer commented on #1424
Ping @bastianzim as he set up the auto-sklearn conda package.

[2022-04-19 08:34] mfeurer commented on #1429
We document the supported tasks [here](https://automl.github.io/auto-sklearn/master/manual.html#other), but we should potentially rename this to "support target types" and link to scikit-learn's glossary, for example for multi-label we should make this a link to https://scikit-learn.org/stable/glossary.html#term-multilabel. Indeed, we have no documentation on which classifier is used for which tar

[2022-04-19 09:25] eddiebergman commented on #1438
The path is definitely with the extra `.` in the middle.

It occurs in the `catch` and the renaming is essentially to move it and then delete it. I'm not sure why this is done because it's not really much safer than deleting it.

[2022-04-19 09:30] eddiebergman commented on #1442
You'll have to read and understand the code. This seems like is a general python error and not auto-sklearn specific. I'm not sure if you modified the actual estimators file but you don't need to

You can do something like:
[code]

[2022-04-19 09:40] seraus commented on #1436
Thanks for the answers
Regards

[2022-04-19 09:57] seraus opened #1443 "Custom data preprocessing (code from the example) not working n_jobs>1"
## Describe the bug ##
Trying to use my custom data preprocessing and feature preprocessing with auto-sklearn, I started with this code:
https://automl.github.io/auto-sklearn/master/examples/80_extending/example_extending_data_preprocessor.html#sphx-glr-examples-80-extending-example-extending-data-preprocessor-py

but it seems not to work when I use "n_jobs>1".

## To Reproduce ##
Steps to reprodu

[2022-04-19 10:29] eddiebergman commented on #1443
Hey @seraus,

Thanks for this, I would guess it's due to the fact it's in a jupyter notebook where parallelizing stuff is quite weird. Normally we require a `if __name__ == "__main__":` gaurd. It's not actually a requirement of ours but of `dask` which handles parallelism. Could you try in just a regular python file and see if it works?

As a side note, I included that your code is running in a ju

[2022-04-19 10:34] seraus commented on #1443
Hello Eddie,

I'll try in a regular python file and let you know, but I can tell you this:

with the following code (n_jobs=4, without the code for excluding data_preprocessing), all is running fine in jupyterlab

import sklearn
from pprint import pprint

#automl
import autosklearn.classification

#from autosklearn.experimental.askl2 import AutoSklearn2Classifier
#automl = AutoSklearn2Classifier(t

[2022-04-19 11:23] eddiebergman commented on #1438
Hey @ravinkohli,

Is `args.exp_dir` a relative path or an absolute one? We think it might be related to path expansions and relative paths.

Best,
Eddie

[2022-04-19 11:23] #1437 closed

[2022-04-19 12:41] mfeurer commented on #1436
I don't think SMAC has real checkpointing, but we could definitely continue running SMAC from an existing auto-sklearn directory.

[2022-04-19 14:11] BastianZim commented on #1424
Hi everybody,

this line `#13 32.95 Collecting package metadata (repodata.json): ...working... Killed` seems like it's related to the overall conda infrastructure and not `auto-sklearn` itself as that has nothing really to do with the package.

Can you provide a more verbose log by running the command with `-vv`?

[2022-04-19 17:37] ravinkohli commented on #1438
Okay I think it was because of the relative path. I tried to run it without passing a tmp directory and it all worked fine. Thanks for your replies. I'll close this issue.

[2022-04-19 17:37] #1438 closed

[2022-04-20 03:11] JustinDoIt commented on #1363
OK, I just know a little about meta-learning, but it sounds like: after meta-learning (found nice configuration), it doesn't need to continue parallel, does it?

In my tests and in my case, parallelism will not affect the accuracy, (and combined with my understanding above) so I think this is a not-real bug that doesn't need to be paid attention to. Therefore, I will close this issue in 3 days if

[2022-04-20 08:52] teresa-m commented on #1439
Hi @eddiebergman,
thanks a lot for your clarification. Yes, I catch everything in strerr and print it as error for my information. Therefore it is good to know that we can ignore this error.
Unfortunately, we can not track down which of the modifications were failing.
I would be fine if you close the issue.
Best,
Teresa

[2022-04-20 22:34] tmielika opened #1444 "smac 1.3 broke auto-sklearn"
## Describe the bug ##
As smac 1.3 got released

## To Reproduce ##
Steps to reproduce the behavior:
1. pip install auto-sklearn
2. import autosklearn.classification

This can be fixed by downgrading smac to 1.2.

## Expected behavior ##
No import error.

## Actual behavior, stacktrace or logfile ##
ImportError: cannot import name 'BetaFloatHyperparameter' from 'ConfigSpace.hyperparameters' (/home

[2022-04-21 07:18] eddiebergman commented on #1444
Hi @tmielika,

Sorry about this, I'll release a hotfix later today. We were waiting on SMAC to update so we can update our requirement of ConfigSpace from `0.4.21` to `0.5`, as that's what smac did in it's jump from `1.2` to `1.3`.

There are two fixes, one is downgrade SMAC or the other is update ConfigSpace.
* `pip install smac==1.2 ConfigSpace==0.4.21`
* `pip install smac==1.3 ConfigSpace==0.5.

[2022-04-21 12:33] eddiebergman commented on #1444
Update:

Turns out `smac==1.3` dropped support for `Python 3.7`, we are deciding whether to adopt this globally on all dependents of SMAC or to revert some SMAC code to support `3.7`

[2022-04-21 12:44] eddiebergman opened #1446 "Test for `pytest -n 4` with `pytest xdist` with `dask_client` fixtures"
A recent PR #1417 added the following lines

https://github.com/automl/auto-sklearn/blob/415f14444f82361b89e65ab0f62091956137591e/test/fixtures/dask.py#L10-L24

It's not sure how this interacts with parallelized `pytest xdist` as in theory, the fixture above, which is automatically run at the end of any test, will check to see if their are any clients and then close it. I imagine this will not par

[2022-04-21 12:56] eddiebergman opened #1447 "Caching automl instances between `pytest` invocations as opt-in instead of `opt-out`"
With PR #1417, automl instances are pickled on the first time they are requested and the saved between runs. This was to allow for rapid local testing, using real trained automl instances and not have to retrain for every test. However, in the unpickling process, if changes are done to the `AutoML` class for example, where an attribute changes, the unpickled instance will not reflect these changes

[2022-04-21 13:05] chogovadze opened #1448 "[Question] Is there any straight forward way to retrieve the solution and prediction vector during CV?"
Hello everyone!

I was wondering if there was any way to retrieve the predictions and associated solutions that were used to compute the metrics during training. Specifically, in the case of a 10 fold CV it would correspond to an array containing 10 entries with each entry having in turn the predictions and the labels of that fold.

Thank you for your time in advance!

[2022-04-21 13:19] chogovadze opened #1449 "When adding a custom metric to AutoSklearnClassifier the run crashes"
I would like to start by thanking the team for the very interesting project!

When creating a custom metric in the following fashion:

[code]

the run crashes with the output:

`Dummy prediction failed with run state StatusType.CRASHED and additional output: {'error': 'Result queue is empty', 'exit_status': "<class 'pynisher.limit_function_call.AnythingException'>", 'subprocess_stdout': None, 'sub

[2022-04-21 13:45] roch-gla commented on #388
Hi @[mfeurer](https://github.com/mfeurer), thank you for working on this issue! This will allow to leverage the power of autosklearn in production pipelines that are implemented for sklearn-pipelines. Looking forward to using this feature.

[2022-04-22 23:28] tmielika commented on #1444
Thanks @eddiebergman !

[2022-04-24 05:19] Eslam-Zaher commented on #1449
Have you worked it out? Any update on how to solve this issue?

[2022-04-24 10:58] chogovadze commented on #1449
@Eslam-Zaher unfortunately, not yet

[2022-04-24 13:19] eddiebergman commented on #1449
Hi @Eslam-Zaher and @chogovadze,

The issue seems to be coming with how new subprocesses are spawned, specifically the context in which they spawn. There was an important detail in the longer error message I got but I'll add some notes at the bottom here as to what causes this.
[code]

### Solution
I did some testing and the solution is not the nicest but worked, essentially move the metric to ano

[2022-04-24 13:32] eddiebergman commented on #1448
Hi @chogovadze,

Sorry, there's no straight forward way to do this as far as I'm aware, although @mfeurer might know more. Perhaps in the future but for now a lot of the internals are hidden away and hard to access. We also try to limit memory consumption so keeping the splits in memory is not something we would do (I hope) and I imagine the splits are not written to disk either.

Best,
Eddie

[2022-04-24 13:33] #1443 closed

[2022-04-24 13:35] eddiebergman commented on #1442
Closing due to inactivity and the latest error is not autosklearn specific.

[2022-04-24 13:36] eddiebergman commented on #1440
Closing as the issue is related to the one linked above

[2022-04-24 13:36] #1440 closed

[2022-04-24 13:36] eddiebergman commented on #1441
Sorry I havn't got around to trying this yet, I will give it a go next week or perhaps @mfeurer  who has tried it can give some feedback if there is any?

[2022-04-24 13:37] #1439 closed

[2022-04-24 13:40] #1416 closed

[2022-04-24 13:46] asmgx commented on #1442
Sorry for the delay, i have been trying to get the bottom of this

This method still does not show an algorithm that has been used.

This is the output I got from `clf.automl_.runhistory_.data.items()`
[code]

[2022-04-24 14:02] eddiebergman commented on #1442
Hi @

[2022-04-24 14:08] #1327 closed

[2022-04-24 14:13] eddiebergman commented on #1302
This seems to be an issue with how many subprocess can be spawned from a single process and is operating system dependant. If you have to run autosklearn many times in succession, the recommended approach is have a python script with arguments and run that many times.

[code]

[2022-04-24 14:13] #1302 closed

[2022-04-24 22:15] asmgx commented on #1442
I tried the development code that was provided in this link https://github.com/automl/auto-sklearn/pull/1250/files#diff-e0f50e611431c0f3f5a735ebea3a582b6271ea02bf758de9a82a6c46dfa3a36cR60

but still getting the same error

[2022-04-25 11:40] mfeurer commented on #1448
No, unfortunately, we don't have such information available at the moment. It would be good to have access to this kind of information in the future, though, so I'm marking it as feature.

[2022-04-28 08:39] mfeurer commented on #1449
We discuss the need for forkserver/spwan in [the pynisher docs](https://github.com/automl/pynisher#pynisher-and-multithreading). We decided to use the forkserver over spawn as it reduces the subprocess startup time of <0.1s compared to >1 for spawn.

[2022-04-28 08:39] #1449 closed

[2022-04-29 15:45] FelixNeutatz opened #1452 "[Question] Timed out trying to connect to inproc"
Dear all,

I am currently running the latest pip version of Autosklearn on Ubuntu:

[code]

Unfortunately, after a few optimizations, I get the following exception:
[code]

or

[code]

Is this a known issue? Is there an easy workaround?

Thank you for help.

Best regards,
Felix

[2022-05-02 07:26] belzheng opened #1453 "the code of example_extending_regression can not run successfully"
## Describe the bug ##
when I run this extending example,it reported error in 'Fit the model using KRR' ,and the error is:
'[ERROR] [2022-05-01 20:40:45,872:Client-AutoML(1):e67085f2-c94b-11ec-8f82-012d09f79750] Dummy prediction failed with run state StatusType.MEMOUT and additional output: {'error': 'Memout (used more than 3072 MB).', 'configuration_origin': 'DUMMY'}.'

## To Reproduce ##
Steps t

[2022-05-02 07:35] eddiebergman commented on #1453
Hi @belzheng,

Sorry to hear you had issues, how much RAM do you have and cpu cores?
In general, we divide the memory so that each job [core] gets (RAM/jobs) amount of memory.

You can try [setting explicit memory limits ](https://automl.github.io/auto-sklearn/master/manual.html#resource-limits) so you don't get this error.

[2022-05-02 08:51] belzheng commented on #1453
thanks, but now here is the problem,it reports 'type error' in the same code:
'__init__() got an unexpected keyword argument 'include''
I wondered if there was something wrong in the function?
![bug](https://user-images.githubusercontent.com/91657801/166209018-85d4de22-53f3-43d0-8ca7-a34b7a929037.PNG)

[2022-05-02 09:26] eddiebergman commented on #1453
What version of `autosklearn` are you using? You can run
`!pip list` in your notebook to find out

[2022-05-02 09:30] belzheng commented on #1453
Its version is 0.12.7

[2022-05-02 09:34] eddiebergman commented on #1453
Ahh okay, you're using a very outdated version, try `pip install auto-sklearn==0.14.7` for a more up to date version. Unfortunatly we do not have older documentation available and I was not around to know what the parameter name was back then.

[2022-05-02 09:52] belzheng commented on #1453
![bug](https://user-images.githubusercontent.com/91657801/166215196-14814823-35ba-4dac-b364-21bb5c4b7a11.PNG)
there is no version that match 0.14.7,and when I try to install 0.14.6,error appeared like this :
![bug](https://user-images.githubusercontent.com/91657801/166215923-88a013fb-59cd-4818-9db4-6c5c7fcde2b1.PNG)
what am I supposed to do now?

[2022-05-02 11:03] vanga commented on #1243
I had the same issue and restarting the notebook env fixed the issue.
You can also confirm if that is the issue by listing the packages and checking the version. If the version here is greater than the version shown in the error message, it would mean a restart is required.
`!pip list | grep scipy`

[2022-05-02 12:11] eddiebergman commented on #1453
Sorry `0.14.7` wasn't realeased to PyPi (where pip gets packages from).

As for why you can't install `0.14.6`, I don't know but it doesn't look like an autosklearn issue, it seems more like a network issue with whever you're running your notebook. Can you install any other packages from PyPi? You can try with a random package like `typing_extensions`. The `--no-cache-dir` means don't use the cach

[2022-05-02 12:23] belzheng commented on #1453
There is no problem installing other packages,you can see :
![bug](https://user-images.githubusercontent.com/91657801/166232727-8f7b8952-b72b-4f24-a050-af357722421e.PNG)
but the problem with installing 0.14.6 still exists,how to solve it ?

[2022-05-02 12:51] belzheng commented on #1453
I have installed the 0.14.6 version of auto-sklearn,but the problem gets back to the original one,i.e:
![bug](https://user-images.githubusercontent.com/91657801/166236073-5817c847-73f7-4983-9c7e-b974dc1c7b23.PNG)
And I want to know how to  setting explicit memory limits in my code ?

[2022-05-02 13:07] eddiebergman commented on #1453
Please read our [documentation that I linked earlier](https://automl.github.io/auto-sklearn/master/manual.html#resource-limits) on how and why to do that.

You should be aware of how much RAM you have available. If you're using your own dataset instead of the example one, you may run into issues.

The code output generated in the example is from automatic runs that happen on github actions servers

[2022-05-02 14:05] Unn20 commented on #1272
Hi @eddiebergman

Unfortunately, Your method won't work with cateogrical data

Here I described my problem:
[https://github.com/slundberg/shap/issues/2530](https://github.com/slundberg/shap/issues/2530)

[2022-05-02 14:29] eddiebergman commented on #1272
Hey @Unn20, thanks for sharing the issue with us and raising it with them. It would be good to have test suites for external tool usage with auto-sklearn at some point so we can catch them and point to them too.

[2022-05-02 15:38] chogovadze commented on #1449
@eddiebergman Thank you for the explanation!

[2022-05-02 15:40] chogovadze commented on #1448
@eddiebergman I see. I tried to circumvent this issue using global variables but as expected this does not work. @mfeurer I look forward to it! Thanks again

[2022-05-03 12:53] mfeurer commented on #1317
Working on this in #1455.

[2022-05-04 01:08] jmren168 commented on #428
After setting runcount_limit to limit the number of run for each pipeline, it is possible to get how many runs finally executed for each pipeline? Any comments are highly appreciated.

[2022-05-04 07:14] HuangChiEn commented on #639
I encounter the same Import Error. How can i solve it by downgread the version of auto-sklearn?
Seems I can not change the other package version just for fitting auto-sklearn requirements.

Seems simply install auto-sklearn by `pip install auto-sklearn` is not the good way.

![image](https://user-images.githubusercontent.com/52521165/166636848-0c8e678f-66fe-4048-a70d-860128a3ae1f.png)

[2022-05-04 07:31] HuangChiEn opened #1456 "ImportError while import the auto-sklearn"
I got the Import Error while importing the auto-sklearn package.

How can i solve it by downgrade the version of auto-sklearn?
Since I can not change the other package version just for fitting auto-sklearn requirements.

PS. Seems simply install auto-sklearn by pip install auto-sklearn is not the recommended way.

![image](https://user-images.githubusercontent.com/52521165/166638973-7e0f4ee6-96ce-

[2022-05-04 09:32] mfeurer commented on #1456
This cannot be solved by downgrading the version of Auto-sklearn. Instead, you need to either downgrade the version of `smac` to < 1.3.X or upgrade the ConfigSpace to >= 0.5.0.

[2022-05-04 09:44] eddiebergman commented on #1456
Sorry, I meant to make a release with the requirements fixed, this has been done and is available on PyPi now, `pip install auto-sklearn` should install `0.14.7` which has this fixed. you might need to make a fresh virtual env. Closing for now but re-open if it's still an issue

[2022-05-04 09:44] #1456 closed

[2022-05-04 09:44] eddiebergman commented on #639
It's fixed now, there was a version conflict, `pip install auto-sklearn` is the preffered installation method.

[2022-05-04 11:10] mfeurer opened #1457 "Rename metric to scoring for better sklearn compatibility"
Scikit-learn's model selection modules such as [RandomizedSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.RandomizedSearchCV.html#sklearn.model_selection.RandomizedSearchCV) and [HalvingRandomSearchCV](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.HalvingRandomSearchCV.html#sklearn.model_selection.HalvingRandomSearchCV) use the featur

[2022-05-04 11:18] mfeurer opened #1458 "Improve argument names to follow the auto-sklearn 2.0 paper"
The current API, the [Auto-sklearn 2.0 paper](https://arxiv.org/abs/2007.04074) nomenclature and scikit-learn nomencature are different:

| current API  | Auto-sklearn 2.0 terminology  | sklearn | should be named |
|---|---|---|---|
| `resampling_strategy` | model selection strategy  |  `cv` | `model_selection_strategy` or `cv` |
|  `resampling_strategy_arguments` | - | - | `model_selection_strate

[2022-05-04 11:19] mfeurer opened #1459 "Report SMAC time, scikit-learn time and ensemble time to the user"
As part of statistics on the search procedure.

[2022-05-04 14:04] belzheng commented on #1453
When I ran the example code for regression and classification with or without extending(4 cases), they all reported the same error,i.e:
![clf](https://user-images.githubusercontent.com/91657801/166698220-2ff743ce-6eba-4607-8193-8de37f46f854.PNG)
![clfext](https://user-images.githubusercontent.com/91657801/166698247-5dc048c8-434d-4705-b76e-ab162da83379.PNG)
![reg](https://user-images.githubusercont

[2022-05-04 15:04] eddiebergman commented on #1453
I released the hotfix version `0.14.7` today, it should no longer have issues with conflicting requirements if installed in a new virtual environment.

In general, the best place to view documentation (for any library) is their API docs, it lets you know exactly what paremeters you can and can't set. [Here is our's](https://automl.github.io/auto-sklearn/master/api.html#classification)

As mentione

[2022-05-05 00:39] HuangChiEn commented on #639
Thank you very much~ the problem is solved ~
![image](https://user-images.githubusercontent.com/52521165/166848564-ece05612-50eb-4fdb-9fbc-ef9c2f5ce5af.png)

[2022-05-05 00:46] HuangChiEn commented on #1456
Thank you very much~ the problem is solved ~
![image](https://user-images.githubusercontent.com/52521165/166849059-02545aa0-3ae7-4706-a513-86ed07862f1a.png)

[2022-05-05 02:50] HuangChiEn opened #1460 "Get ValueError: Dummy prediction failed with run state StatusType.MEMOUT in fit function"
[code]

[🔥](https://emojipedia.org/fire/) For running the above code snippet, I have encountered the following Error :
### [ERROR] [2022-05-05 02:47:20,752:Client-AutoML(1):ada19815-cc1d-11ec-8fbd-0242ac110004] Dummy prediction failed with run state StatusType.MEMOUT and additional output: {'error': 'Memout (used more than 2048 MB).', 'configuration_origin': 'DUMMY'}.
Traceback (most recent call l

[2022-05-05 07:43] belzheng commented on #1453
Thanks a lot, the problem is finally solved by setting 'memory_limit=6144',as you can see:
![suc](https://user-images.githubusercontent.com/91657801/166881115-5190b025-2bc8-4c46-a8cb-123f5fbdef43.PNG)

[2022-05-05 09:34] eddiebergman commented on #1453
No problem, that seems like a large memory limit and I'll have to investigate why this is, I'll leave this open until I figure out if it's some autosklearn issue.

[2022-05-05 09:37] eddiebergman commented on #1453
I'm going to actually close this issue and tag you and this issue in a different thread more specific to the Memory related issue. Notably it's in #1460

[2022-05-05 09:37] #1453 closed

[2022-05-05 09:38] eddiebergman commented on #1460
This issue also appeared in #1453 for @belzheng, I'll report back what I find here

[2022-05-05 10:02] mfeurer commented on #428
@jmren168 please open a new issue for asking a question.

[2022-05-05 13:15] eddiebergman commented on #1460
Hi @HuangChiEn and @belzheng,

I did some testing locally and a clean install of auto-sklearn only consumes about `900mb` of memory for me by the time `_do_dummy_prediction` is called and you receive that error. Therefore I do not think this issue is on our side and we recommend reading our FAQ section to figure out what's going.

* https://automl.github.io/auto-sklearn/master/faq.html#resource-ma

[2022-05-05 13:15] #1460 closed

[2022-05-05 13:32] mfeurer opened #1461 "Rename all variables named `rval`"
We should rename all variables named `rval` because they are an abbreviation that is not immediately clear (return_value). Moreover, there's one occasion where the abbreviation stands for run_value (https://github.com/automl/auto-sklearn/blob/184b4dc279c498ed8eadeb620873b46e8230d83f/autosklearn/estimators.py), which could lead to errors in the future.

[2022-05-05 14:18] jmren168 opened #1462 "[Question] How to get the number of runs executed in SMAC for each pipeline?"
I can use runcount_limit to limit the number of runs in SMAC for each pipeline.

`automl = AutoSklearnClassifier(
    smac_scenario_args={'runcount_limit': 1000},
)`

Is it possible to get the number of executed runs in SMAC for each pipeline?

Or am I misunderstanding the meaning of runcount_limit?

Any comments are highly appreciated.

[2022-05-05 14:32] jmren168 opened #1463 "[Question] When I disable meta-learning, how Auto-Sklearn selects initial configurations to evaluate?"
Hi Auto-Sklearn team,

It looks like I can set initial_configurations_via_metalearning=0 to disable meta-learning. If this is correct, then how auto-sklearn selects initial configurations to evaluate? Random selection? Or try all possible combinations of data preprocessors, feature preprocessors, and models?

`automl = autosklearn.classification.AutoSklearnClassifier(
    ensemble_size=1,
    init

[2022-05-06 17:38] aseemk98 commented on #1364
Hi @eddiebergman. Would love to take this issue up as a first-timer. Is this still open?

[2022-05-07 05:39] eddiebergman commented on #1462
Hi @jmren168,

It sounds like there's a little bit of confusion, as far as I'm aware, `'runcount_limit'` is how many different pipelines autosklearn will evaluate. In general it will only train and evaluate a pipeline once (`holdout`) or several times (`cross_validation`).

There's not a great way to see how many runs were evaluated but you can use
[code]

You can also get an overview of most of t

[2022-05-07 05:54] eddiebergman commented on #1463
Hi @jmren168,

I did some quick following of the parameter `initial_configurations_via_metalearning` through the code and essentially this gets turned into some configs that SMAC will use to evaluate first. In the case where this is `0`, no initial configurations are passed to SMAC in which case SMAC will use whatever it's default strategy is when it has no information about configuration performa

[2022-05-07 06:03] eddiebergman commented on #1452
Hi @FelixNeutatz,

Unfortunatly I can't provide any help. None of the lines of the error message come from within autosklearn code. I do see you're using `Tornado` which I assume wraps auto-sklearn in some async fashion. I have no familiarity with using `async` around auto-sklearn though and we did not design it in an async fashion.

My only suggestion is to perhaps spawn auto-sklearn in a new pro

[2022-05-07 06:06] eddiebergman commented on #1446
Fixed with #1434

[2022-05-07 06:06] #1446 closed

[2022-05-07 06:29] eddiebergman commented on #1364
Hi @aseemk98,

So we discussed this and we're not sure we have a good solution in mind but if you have ideas, we would be happy to discuss them! Essentially there is some model trained for each metric upon import of `autosklearn.experimental.askl2`. There's two routes I can see to go from here.
1. Export the model with the code. This has a few downsides, firstly the size of the model may be large

[2022-05-07 07:51] eddiebergman commented on #1424
Hi @sasshi-i,

Are you able to provide any more detais? I'll close this end of next week otherwise if there is no further feedback/issue.

[2022-05-07 07:56] eddiebergman commented on #1405
Not an issue, it just goes into the next `if, else` statement... closing

[2022-05-07 07:56] #1405 closed

[2022-05-07 08:28] eddiebergman commented on #1182
Closing, not really sure it can be made more informative, seems more like a documentation thing

[2022-05-07 08:28] #1182 closed

[2022-05-07 08:35] eddiebergman commented on #923
I'm closing this as it's very out-dated and a lot has changed by now. I don't see a good reason to keep this open.

[2022-05-07 08:35] #923 closed

[2022-05-07 08:43] eddiebergman commented on #780
I'm not sure anything can be done here or what the question was specifically asking about. It seems that there was a need for having a unique data pre-processor and the data should be passed through this pre-processor before reaching fit of any model.

It seems the easiest solution would have been to just pre-process the data manually beforehand and then pass that processed data to autosklearn and

[2022-05-07 08:43] #780 closed

[2022-05-07 09:11] eddiebergman commented on #443
I never thought about this the other way around, normally I thought of float values as a way around unknown bounds, but you're right, may of these float parameters map to the same discrete value. `i.e.` a `max_features` in `[0, 1]` is more feasible than being discrete in `[0, N]` where `N` is unknown and heuristic.

Same values are also localized when considering floats, for example in you example

[2022-05-07 09:13] eddiebergman commented on #424
bump, @mfeurer is this handled by any of the scripts? It would be good to just make a tag on the version/commit which was used.

[2022-05-07 09:17] eddiebergman commented on #221
Using a context managed backend means we can only have access to the backend within a small scope. Users wishing to extend this scope would need to then create the backends themselves.

Handled with automl_common whenever we can get that in anywho. I think the problem is more that auto-sklearn can just reuse a backend to achieve its previous state.

[2022-05-07 09:17] #221 closed

[2022-05-07 13:55] wangze09 opened #1466 "Questions about the 'mean_test_score' shown in cv_results_"
Hello everyone!

When I was checking the results of the **'mean_test_score'** followed by the command **'model.cv_results_'** , I found that they seemed to be the mean cv scores of the **single model** trained during the search. I just wondered if there was a method to show the mean cv scores of the **final ensembled model**.

Thank you for your time in advance!

[2022-05-07 16:30] jmren168 commented on #1462
Hi @eddiebergman ,

Thank you for your kindly reply. I got the meaning of `runcount_limit` from https://github.com/automl/auto-sklearn/issues/428. It says I can use `runcount_limit` to run each pipeline for a certain iteration. But since `runcount_limt` just limits the number of iteration, that's why I want to know how to get the actual iteration for each pipeline.

Following your guideline, I tri

[2022-05-09 02:27] jmren168 commented on #1463
Hi @eddiebergman,

Following your guides, I set `initial_configurations_via_metalearning` to 0, and found that SMAC uses `'Local Search', 'Random Search', and 'Random Search (sorted)'` to initialize the configuration search. Here's the code [colab example](https://colab.research.google.com/drive/1qBj9iPcAhfduno7t6M1-w0BRupPJfAAV#scrollTo=V_Q2_R4ZlAS5).

Again, I still got confused with the number

[2022-05-10 05:35] eddiebergman commented on #1466
Hi @wangze09,

Our ensembling method is actually not done in a cross-validation fashion, it's instead done using a greedy-search algorithim and is done continuously as new models get evaluated. Check out this example to learn some [more](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_pandas_train_test.html#sphx-glr-examples-40-advanced-example-pandas-train-test-py).

The

[2022-05-10 05:36] eddiebergman commented on #1463
Hi @jmren168,

I will close this issue then and answer in the other issue!

Best,
Eddie

[2022-05-10 05:36] #1463 closed

[2022-05-10 05:58] eddiebergman commented on #1462
Hi @jmren168,

So there is two main categories, one is *iterative* and the rest are not. Unless you have specified something like "holdout-iterative-fit", check out [`resampling-strategy`](https://automl.github.io/auto-sklearn/master/api.html). I think #428 was a misunderstanding, we do not have that feature. To run a single pipeline more than once is to use a `"cv"` resampling strategy.

1. In th

[2022-05-10 06:55] jmren168 commented on #1462
Hi @eddiebergman,

You answered all of my questions,  and yes, I used default "cv" resampling strategy. So each pipeline is evaluated once.

Thank you for giving me a very very very detailed discussion of `runcount_limit` :)

Best,
JM

[2022-05-10 06:58] #1462 closed

[2022-05-10 08:17] mfeurer commented on #1466
Hi,

@wangze09 what you're looking for is called "ensemble_optimization_score" in the example linked by @eddiebergman. The performance of the single best model is called "single_best_optimization_score". These scores available in case of both holdout and cv.

WRT the ensemble method: at the time of writing we found Ensemble Selection to produce the most reliable results in the AutoML setting.

[2022-05-10 08:34] seraus opened #1467 "How can I get/export a production model from a trained model (after refit) with autosklearn?"
Hello team,
I'm doing some tests with autosklearn and I would like to know I can get/export a trained autosklearn model for production use.
Could you please explain which is the process I have to follow?
Currently I am doing this:

    automl = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=3600, per_run_time_limit=1800, n_jobs=2,\

[2022-05-10 08:46] mfeurer commented on #424
This is handled by the scripts, but they are not tested and possible outdated/not running at the moment :( It would be great if we can leave this issue open.

[2022-05-10 08:55] eddiebergman commented on #1462
Hi @jmren168,

Glad you found it helpful. I was answering this quite early this morning and noticed I managed to miss a section, it was perhaps a little confusing. I've updated the answer to hopefully be more clear! :)

[2022-05-10 09:01] eddiebergman commented on #424
I'm not sure we can reliably get old experiments to work as they used to but, if the version is identified and tagged, it would make things easier, i.e. link to a tagged commit and include that in the comment at the top of the script.