[2022-05-10 14:20] eddiebergman commented on #1364
Hey @aseemk98,

If you're still up for it, we had a discussion and we think doing so in `__init__` makes the most sense, what do you think? If you're busy though it's okay, just documenting this here for future purposes :)

Best,
Eddie

[2022-05-10 15:59] aseemk98 commented on #1364
Hi @eddiebergman ,

I understand why the first mentioned method is not feasible but I don't exactly understand the __init__ method that you want me to take.

P.s really sorry, this is my first crack at an open sourced repo

[2022-05-10 21:23] 18756 opened #1469 "Dummy prediction failed with "Directory not empty""
that's my code:

[code]

every time running the script, I get this error:

[ERROR] [2022-05-10 23:52:51,268:Client-AutoML(1):features] Dummy prediction failed with run state StatusType.CRASHED and additional output: {'traceback': 'Traceback (most recent call last):\n  File "/nfs/home/asmirnov/anaconda3/lib/python3.8/site-packages/autosklearn/evaluation/__init__.py", line 350, in run\n    obj(**obj

[2022-05-11 00:36] jmren168 commented on #1462
Hi @eddiebergman ,

Thank you to make the answer more clear :)

BTW, I still have some minor questions, and hope you could spend a little bit of time answering these questions.

1. When I used initial **25 configurations** to train autosklearn models, I got **24 target algorithm runs**. Why the latter is not 25? Limited by `per_run_time_limit` and `runcount_limit` rather than initial configuration

[2022-05-11 11:03] eddiebergman commented on #1364
Hi @aseemk98,

No problem, we're delighted you would like to contribute :) So that's my bad, I did not give enough context for the `__init__` method. We would like the selector to be trained when the user creates the `AutoSklearn2Classifier` instance. Most of the code for the selector training should be wrapped in a function and then called from inside the `__init__` method.

We can also improve u

[2022-05-11 11:33] eddiebergman opened #1470 "[Feature] Provide configuration id for `single_best_score` in performance history"
Currently, we give an example of the `single_best_optimization_score` but we do not give any information on which model achieved this score. It would be nice to also provide this information.
See the last comments of issue #1462

Example:
* https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_pandas_train_test.html#plot-the-ensemble-performance

Code:
* https://github.com/auto

[2022-05-11 11:37] eddiebergman commented on #1462
These initial configurations are just meta-learned configurations that we use to provide some initial points SMAC should evaluate to get some information for it surrogate model. This provides no constraint on the actual running of autosklearn though, just a set of initial configurations to try.

For your second question, part b) no there is not but that would be a useful feature and I have added t

[2022-05-11 15:28] wangze09 commented on #1466
Hi!
@mfeurer @eddiebergman
Thanks a lot for answering my question, I got that!
Enjoy your time!

[2022-05-11 15:28] #1466 closed

[2022-05-11 18:01] aseemk98 commented on #1364
Hi @eddiebergman ,

If I understand correctly, the selectors are being trained on the various metric in the following [loop](https://github.com/automl/auto-sklearn/blob/master/autosklearn/experimental/askl2.py#L24)
According to what you've described, we intend to do the same when `__init__` is called. Please correct me if I'm wrong.

[2022-05-11 18:24] eddiebergman commented on #1364
You got it :)

[2022-05-11 18:27] aseemk98 commented on #1364
Hi @eddiebergman ,
I think I understood the issue better after checking out #1362. I encapsulated the selector training code in a function and called it inside the `__inti__` function of `AutoSklearn2Classifier `. This dropped the import time from `~30s` to `1.05e-05s`.

[2022-05-12 10:12] Chitaranjanpradhan commented on #844
Traceback (most recent call last):
  File "bot.py", line 159, in <module>
    is_intent = class_analyzer.predict([spacy_get_vec(s, True)])[0] == 'intent'
  File "C:\Users\chita\Anaconda3\lib\site-packages\sklearn\ensemble\_gb.py", line 2165, in predict
    raw_predictions = self.decision_function(X)
  File "C:\Users\chita\Anaconda3\lib\site-packages\sklearn\ensemble\_gb.py", line 2121, in decision

[2022-05-12 10:32] eddiebergman commented on #844
Hi @Chitaranjanpradhan,

We would appreciate more than just a raw plain text traceback for the future. This traceback doesn't even pass through `autosklearn` at all and so there is nothing we can do to help you with what you've provided.

Have you read the answer given by mfeurer above? Maybe this can help, i.e. there's a version mismatch. Are you using this with flask as the original poster did?

[2022-05-12 15:55] eddiebergman commented on #1364
That seems promising, as soon as you're happy with an initial PR, feel free to make a Pull Request (PR) with your changes to the `development` branch and we can review it and give feedback + any further direction. Even if it's not finished it's okay, just lets you get direct feedback quicker!

[2022-05-12 19:44] aseemk98 commented on #1364
You can find the PR [here](https://github.com/automl/auto-sklearn/pull/1473)

[2022-05-12 19:45] #1374 closed

[2022-05-12 19:46] #1447 closed

[2022-05-13 08:01] mfeurer opened #1474 "Refactor the concept of public and private test set"
Auto-sklearn was built for the AutoML challenges where there were public and private test sets by the names "validation set" and "test set". Since these challenges we have substantially refactored Auto-sklearn and no longer allow the user to pass in the public test set aka "validation set". This leads to confusion as "validation set" is really a misnomer, as inside a machine learning system it usu

[2022-05-13 16:18] #1424 closed

[2022-05-13 16:19] #1376 closed

[2022-05-13 16:24] eddiebergman commented on #1469
Hi @18756,

Sorry for the delay and sorry to hear about that. I'm not sure why that would be, it seems from the system you're running on, the `tmp` dir is relatively unique from what we normally expect, i.e. you have `'/mnt/tank/scratch/asmirnov/automl/auto-sklearn/tree_new_features_nan_rug/day_24/tmp4bi2oojt'`.

We will release a new `pynisher` version soon (where this error occured) that does no

[2022-05-13 16:24] #1469 closed

[2022-05-13 16:25] eddiebergman commented on #1364
As an fyi, you'll find feedback on your PR and we can continue from there :)

[2022-05-16 14:35] LennartPurucker opened #1477 "[Question] Why does the Ensemble Selection implementation not return the best ensemble found during the greedy search?"
# Short Question Description
Why does the implementation of Ensemble Selection not return the best ensemble found during the greedy search?

Following the algorithm presented in Caruana et al. (2004), the final step (step 4) of the algorithm should be to select the best ensemble found during all of the the n iterations from the greedy search in the previous step.
However, the current implementatio

[2022-05-16 19:04] eddiebergman commented on #1477
Hey @LennartPurucker,

Happy to see your around these parts :)

I believe the last ensemble found during one instance of ensemble building is "almost" guaranteed to be the best. Every iteration, the model that improves predictions the most will be added to the ensemble, including any model that is already present in the ensemble, in which case it is just given more weight.

The negated view of thi

[2022-05-17 07:07] mfeurer commented on #1477
Hi,

This is a correct observation @LennartPurucker and we should fix this. I don't think this will have a large impact and I don't recall if we have specifically investigated this, maybe @franchuterivera remembers.

Have you found any other implementation differences that might be worth adapting? I know that Auto-Gluon uses a 2nd metric for tie breaking instead of the random tie breaking we use,

[2022-05-17 11:31] LennartPurucker commented on #1477
Hey,

Thank you for your quick responses!

@eddiebergman, I think your intuition is correct in regard to the benefits of step 4 on average. Furthermore, employing any kind of early stopping reduces the algorithm's already small 'sample size'. However, in certain use cases, additional protection against overfitting could still be useful 'enough' in my opinion. In general, avoiding overfitting is th

[2022-05-18 06:36] jcob-sikorski commented on #1350
Could you elaborate more about parts of pipeline and available configurations?

[2022-05-18 06:39] jcob-sikorski commented on #1350
Also what components of the system need the code coverage the most?

[2022-05-18 07:59] choco opened #1480 "On exception during fit script doesn't terminate cleanly"
## Describe the bug ##
If an exception is triggered during the fit process of the `auto-sklearn` classifier the python interpreter process does NOT exit cleanly (needs a manual keyboard interrupt).

## To Reproduce ##
Steps to reproduce the behavior:
1. Write simple script to trigger exception
[code]
2. Execute script `python script.py`
3. Script shows this backtrace:
[code]

## Expected behavior

[2022-05-18 09:25] eddiebergman commented on #1350
Hi @jcob-sikorski,

So in our pipeline, we select different components with different hyperparameters and then evaluate them. The base [pipelines folder](https://github.com/automl/auto-sklearn/tree/master/autosklearn/pipeline) is where you can see most of the heavy lifting done, with the `/components` folder being wrappers around existing sklearn components while `/implementations` is where we had

[2022-05-18 12:02] mfeurer commented on #1477
Hi @LennartPurucker

Thanks for your explanation.

Do you have any timeline on this?

We tried this but didn't find any improvements in the AutoML setting. My intuition is similar to yours and that this makes most sense when you have 2000 base models as in the Caruana paper and not when you have a varying number as in AutoML.

We should try that out. @franchuterivera  did some tests earlier on and

[2022-05-18 12:54] LennartPurucker commented on #1477
Hi @mfeurer

I am always happy to talk about ensembles!

Not really. Depending on the progress with my current work, a few months at best.

That would be good data as well. I will look into PRs for use best, tie-breaking, and rounding scores.
I might also add the time limit to the code for ensemble selection because it is quite easy to do and could be used in the future.

Regarding this issue, my

[2022-05-18 14:40] 18756 commented on #280
Is it really solved issue? I get this warning with 0.14.6 version

[2022-05-19 14:18] LennartPurucker commented on #1477
Hey, @mfeurer @eddiebergman

I have opened a PR for use best, tie-breaking, and rounding scores (losses).

I have not added anything related to a time limit, because I did not fully grasp what limit and how the limit could be passed to the ensemble selection. I agree now that this is better left on hold as @mfeurer said.

[2022-05-19 14:35] mfeurer opened #1482 "Provide multi-class AUC ROC"
Scikit-learn provides multi-class options for area under curve: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.roc_auc_score.html

We should provide the most common ones, such as the [OVO Macro averaging used by Auto-Gluon](https://github.com/awslabs/autogluon/blob/0b38dde5f698dbadfa1ce76aabda14505d9e3ead/core/src/autogluon/core/metrics/__init__.py#L443).

[2022-05-20 13:45] amaletzk opened #1483 "Softmax in predict_proba()"
Hi,

I'm new to auto-sklearn and quite impressed by its performance and ease of use - thanks for all your effort!

However, recently I experienced strange behavior that might be related to a bug. In a multlabel problem, one of the fitted pipelines returned class probabilities that always summed to 1 - which is the expected behavior in binary- and multiclass problems, but not necessarily in multila

[2022-06-01 14:16] eddiebergman commented on #1483
Hi @amaletzk,

Thanks for reporting this, sorry for the delayed response, we currently have some other additions coming soon which have been taking quite a bit of time.

@aseemk98 This would be a helpful issue to fix and seems like something manageable. I assume for some of the classifiers, we [carelessly just apply a `softmax` to the output of `predict_proba`](https://github.com/automl/auto-sklea

[2022-06-01 15:57] amaletzk commented on #1483
Hi @eddiebergman,

thanks for your response. I agree that `softmax()` should not be applied at all in `LDA`, `QDA`, `LibLinear_SVC` and `PassiveAggressive`, since the underlying `OneVsRestClassifier` already returns a probability distribution for multiclass problems and also handles multilabel problems correctly, as far as I can tell. `SGD`, which uses `decision_function()`, might have to be treat

[2022-06-02 05:44] #1364 closed

[2022-06-02 06:54] aseemk98 commented on #1483
Hi @eddiebergman,

Yes, I'll take a look into this and try to figure it out. Thanks for referring this to me. I'll add a PR soon :)

[2022-06-02 16:18] eddiebergman opened #1492 "When getting `backend` loading and saving data assumes `"npy"`"
DEV branch only

The functionality in the backend for getting data defaults to assuming `npy` endings. However, this doesn't work with pandas and futher more, we have no way to know what it should be before hand.

Fix is probably to assume `None`, check if it exists, otherwise default to `npy`.

[2022-06-03 14:35] 00sapo opened #1494 "Transformer should accept `y` argument in the `transform` method"
According to sklearn API, a data or feature pre-processor should accept the `y` argument in `transform()`. For instance, I'm trying to add balancing algorithms, that do need the `y` because they add/remove samples and so they have to change the target vector as well.

I think it requires just a simple edit in this line:

https://github.com/automl/auto-sklearn/blob/b2ac331c500ebef7becf372802493a7b2

[2022-06-03 15:22] eddiebergman commented on #1494
Yup, that would be a good thing to fix! I apologise that we can fix it quickly but we won't be making a new release until perhaps the end of June due to some other features coming in. You can use the development branch once that fix is in. Otherwise if you need it desperatly at the moment, you can make a fork and use that.

[2022-06-03 15:41] eddiebergman opened #1495 "`predict` can fail when dummy model is best with new Moo updates"
[code]

[2022-06-03 17:18] 00sapo commented on #1494
Well, actually, thinking about it, the main problem is somewhere else as well, because the auto-sklearn doesn't pass the `y` data to my custom pre-processor. However, today is the first time I looked into the code of auto-sklearn and I can't find that row in the code. Hopefully, I managed to do some hacks by storing the `X` and the `y` in the `fit` method and using `transform` to change them, igno

[2022-06-03 19:13] eddiebergman commented on #1494
I guess the line you're looking for is this one?
https://github.com/automl/auto-sklearn/blob/b2ac331c500ebef7becf372802493a7b235f7cec/autosklearn/pipeline/components/feature_preprocessing/__init__.py#L129-L130

At some point, we definitely want to update the whole pipeline to **1)** Be more flexible, i.e. you could define your own pipelines **2)** Be fully sklearn compliant and **3)** Be more acce

[2022-06-06 11:18] 00sapo commented on #1494
Sure, I am trying to use an eversampling and undersampling methods, making BOHB learn which method of the two works better (or both of them).

For oversampling, ProWRAS [1] looks like the state-of-art, with extensive benchmarks against the previous state-of-art. Another method (gamus [2]) is implemented in python, but no fair benchmarks are available (they only tested with old methods, see [3] for

[2022-06-06 22:52] eddiebergman opened #1496 "[Dev only] MOO ensemble can fail to return pareto front if automl instance consutrcted with single metric"
If constructing the automl instance with only a single metric but then using multiple metrics during ensemble, querying for the pareto front will fail with:
[code]

[2022-06-06 23:03] eddiebergman opened #1497 "[Dev only] MOO ensembles can crash if overlap between builder args and `ensemble_kwargs`"
i.e. If metrics here is specified in kwargs. This might be okay but prevents non-hacky solutions to "optimize with single metrics, ensemble with respect to multiple"

https://github.com/automl/auto-sklearn/blob/0f1f38ab26dde64c42563d8fad08b29757da13f0/autosklearn/ensemble_building/builder.py#L873-L879

[2022-06-06 23:15] eddiebergman opened #1498 "[Dev Only] X_data should be optional in builder since it's not really needed"
https://github.com/automl/auto-sklearn/blob/development/autosklearn/ensemble_building/builder.py#L809

[2022-06-07 14:26] belzheng opened #1499 "when it report ' Number of crashed target algorithm runs:1',what is the specific reason that causes an algorithm to crash"
# when it report ' Number of crashed target algorithm runs:1',what is the specific reason that causes an algorithm to crash?

[2022-06-07 15:21] eddiebergman commented on #1499
Hi @belzheng,

There's no a great interface for this at the moment but you can get access to most of this information by using
[code]

[2022-06-07 16:57] eddiebergman commented on #1496
I guess this is an odd case and doesn't seem easy to fix, I'll close

[2022-06-08 11:49] mfeurer commented on #1496
Couldn't we fix this case by checking if the loaded ensemble is a multi-objective ensemble instead of checking if we have multiple metrics?

[2022-06-08 12:10] mfeurer commented on #1494
There is indeed an issue here in that this interface is defined wrongly. However, the implementation correctly passes y-values and components such as the [select percentile](https://github.com/automl/auto-sklearn/blob/development/autosklearn/pipeline/components/feature_preprocessing/select_percentile_classification.py) make use of this. TBH I'm somewhat confused about [this](https://github.com/aut

[2022-06-08 13:18] eddiebergman commented on #1496
That's an easy fix for sure, but the issue also lies in the fact that the point of entry for metrics is at `__init__` time.

If you wish to have single objective SMAC runs, you pass in a single objective. Any `Ensembler` is then lmited to this one metric and it makes no sense to have a multiobjective one. I guess the easiest workaround is allow `fit_ensemble` to take `metrics`?

How does this soun

[2022-06-08 13:21] 00sapo commented on #1494
Actually, the problem is also in the returned value: if we pass `X` and `y`, we should return `X` and `y`. The existing code, instead, accepts `X` and `y` but only returns `X`. I could go around [this line](https://github.com/automl/auto-sklearn/blob/b2ac331c500ebef7becf372802493a7b235f7cec/autosklearn/pipeline/components/feature_preprocessing/__init__.py#L129-L130) by storing the object that I ne

[2022-06-08 13:36] mfeurer commented on #1496
That sounds good. I somehow assumed `fit_ensemble` accepts `metric`, but apparently, it doesn't.

[2022-06-09 08:07] jmren168 opened #1502 "[Question] How to get the number of target algorithm runs without fitting data?"
Hi there,

To get the number of target algorithm runs, auto-sklearn needs to fit data, and finally call `sprint_statistics()`. Is there any other way to get the number of target algorithm runs without fitting data? Since in my case, it just got 10 runs under **time_left_for_this_wask=3600**. To evaluate more runs. I know I could increase the time limit. In addition to do in this way, does anyone k

[2022-06-09 08:16] eddiebergman commented on #1502
Hi @jmren168, the number of pipelines evaluated is random so you can't know without fitting to data. For example, consider a dataset with only 100 points, it's a lot faster to fit models so more will be done. Compare this with a massive dataset, fitting pipelines will take more time, hence we can't know ahead of time.

You can control the time limit per run with `per_run_time_limit` which defaults

[2022-06-09 15:58] #1492 closed

[2022-06-09 15:59] eddiebergman commented on #1494
Hi @00sapo,

Do you have any test code that illustrates this failing, it would make going through and fixing this a lot easier.

Best,
Eddie

[2022-06-09 16:12] eddiebergman commented on #1480
Hi @choco,

Many thanks for providing the code for making it reproducible! There's a PR in #1503 for it now

Best,
Eddie

[2022-06-10 08:16] choco commented on #1480
Hey @eddiebergman, thanks for the quick fix :)

[2022-06-10 13:35] #1502 closed

[2022-06-10 13:47] eddiebergman commented on #1060
Just a note for future considerations of this issue. I've read a few times now that jupyter and virtual environments don't iteract well if jupyter is not installed in the venv. I'm not sure we can do much here other than add an FAQ on how to debug and solve this

[2022-06-10 13:57] eddiebergman commented on #465
Should now be possible due to #1475

[2022-06-10 13:57] #465 closed

[2022-06-10 15:10] eddiebergman opened #1506 "Fix timeouts related to metalearnings tests"

[2022-06-12 22:03] hyperfraise commented on #288
This would be a very good feature to implement.

[2022-06-13 01:39] jmren168 commented on #1502
Hi @eddiebergman,

After reading the paper you mentioned, there are 4 types of SMAC3, which one is really implemented in autosklearn? Some of them? All of them? Thanks.

**SMAC4BB**: SMAC for Low-dimensional and Continuous Black-Box Functions
**SMAC4HPO**: SMAC for CASH and Structured Hyperparameter Optimization
**SMAC4MF**: SMAC for Expensive Tasks and Automated Deep Learning
**SMAC4AC**: SMAC fo

[2022-06-14 08:33] mfeurer commented on #1494
Hi, unfortunately, we cannot accommodate a transformer changing `y` because as mentioned above, scikit-learn doesn't define such an interface yet. Because we re-use their pipeline functionality, we are limited to what they provide. Hacking such a feature into auto-sklearn would break latest when one would change the number of data points - there would be no way of determining whether we are in tra

[2022-06-14 12:35] mfeurer commented on #1304
Closed via #1476.

[2022-06-14 12:35] #1304 closed

[2022-06-14 12:36] mfeurer commented on #1461
Closed via #1504.

[2022-06-14 12:36] #1461 closed

[2022-06-14 13:33] 00sapo commented on #1494
Well, other objects throw an error if their methods are called in an incorrect order. In the code, I have in mind, that if one calls `transform` before calling `fit` it receives an error and the transformer uses an internal field to check if the `fit` method was previously called or not. I've seen a similar pattern in other objects in auto-sklearn. In `sklearn` itself, the `fit` method is meant to

[2022-06-14 13:43] #1498 closed

[2022-06-14 13:43] #1497 closed

[2022-06-14 13:43] #1496 closed

[2022-06-14 14:13] eddiebergman opened #1509 "Update SMAC, Configspace, scitkit-learn"

[2022-06-14 15:22] #1317 closed

[2022-06-15 06:17] #1480 closed

[2022-06-15 08:32] FelixNeutatz opened #1519 "[Question] Extending AutoSklearn for ML model constraints"
Hi everybody,

I am currently trying to extend AutoSklearn to support ML model constraints, such as model size, inference time, and training time. My idea is to adjust the loss function in this way:
![image](https://user-images.githubusercontent.com/5217389/173781028-0447664a-67ff-41f7-b0ea-7e0c8ef04a45.png)

The current scorer function only allows access to the model predictions.
However, to comp

[2022-06-15 08:53] eddiebergman commented on #1519
Hey @FelixNeutatz, that's not currently possible. We currently only allow access to the predictions, y, X_data and sample_weight to the metrics.

https://github.com/automl/auto-sklearn/blob/0ae2463bae597e658afea1e6c5b60577ff7ec257/autosklearn/metrics/__init__.py#L47-L54

I can see why you might like to do this and it makes sense. In practice during evaluation, this is possible but during ensemble

[2022-06-16 10:32] francoisWeber commented on #1006
Trying to re-up this thread. I agree with @shanalikhan : a way of serializing an AutoSKL model into ONNX would be great. Would it be possible to reopen this issue ?

[2022-06-16 12:59] francoisWeber commented on #1006
Hi @eddiebergman and thanks for this quick answer. ASKL to SKL conversion is a really good news. IMHO as soon as a pure-SKL object is obtained, `sklearn-onnx` will be enough to convert the whole pipeline into an ONNX file (as pointed by @shanalikhan ).
This pure-SKL export is a great news for industrial considerations :) Thanks ! Looking forward to play with v0.16 !

[2022-06-16 14:12] eddiebergman opened #1522 "Dask has stopped support for 3.7"
Maybe it's time we do too?
* https://github.com/dask/distributed/blob/b59a322756a125540c912522f6769eb3cb18b807/setup.py#L35
---
Brings in nice typing things and walrus operators `:=` to do so :)

[2022-06-17 12:26] #1474 closed

[2022-06-17 13:26] #1506 closed

[2022-06-20 00:33] jmren168 opened #1524 "[Question] Does per_run_time_limit only include the time used to fit a machine learning algorithm?"
Hi,

From the api website (https://automl.github.io/auto-sklearn/master/api.html), it says **per_run_time_limit** means _time limit for a single call to the machine learning model_, and _model fitting will be terminated if the machine learning algorithm runs over the time limit_.

As far as I know, training a configuration in auto-sklearn includes three main stages: machine learning model fitting,

[2022-06-20 07:13] mfeurer commented on #1524
Hi,
this time applies solely to the stage "machine learning model fitting". We apply this limit because we have no idea how ling these runs will take (think of applying a support vector machine to a large dataset). In contrast, the other two stages or rather short and we have an idea about how long they take, so we do not need to limit them.

[2022-06-20 11:56] mlindauer commented on #1519
Hi Eddie,
Could we provide these kind of additional information (inference time, model size, etc) simply as optional dictionary argument to the metrics? We also don't have to recompute this all the time, but only have to do the bookkeeping once. I believe that these kind of meta-information about the model is useful in many ways, for the user to get more insights, for hardware-specific or applicat

[2022-06-20 12:30] jmren168 commented on #1524
Hi @mfeurer,

Thank you for the response again. I got more insights of auto-sklearn :)

[2022-06-20 12:30] #1524 closed

[2022-06-23 08:25] eddiebergman opened #1525 "Docker workflow failure"
Fails due to required `pytest-cases` dependancy requirement in testing, e.g. https://github.com/automl/auto-sklearn/runs/6936821659?check_suite_focus=true

Ideally we don't need to update this seperatly

[2022-06-23 12:31] #1495 closed

[2022-06-23 13:23] eddiebergman opened #1527 "Fix mlp regressor test fixture values"
MLPRegressor seems to vary in its iterations once again
* https://github.com/automl/auto-sklearn/runs/7023179135?check_suite_focus=true

[2022-06-23 15:08] eddiebergman opened #1529 "`predict_proba` in classifier estimators is doing needless assertions"
https://github.com/automl/auto-sklearn/blob/5e21e9cbd405eaef47b5e5d68cf092254ccffb51/autosklearn/estimators.py#L1453-L1465

There's a lot of assertion checking to do here which can really eat into inference time. While the checks are helpful, they seem like they should really be enforced in testing.

[2022-06-23 15:40] #1527 closed

[2022-06-23 15:40] #1525 closed

[2022-06-26 00:59] simonprovost commented on #923
Any explanation as to why it generates poorer results than practically every other framework in the benchmark? Knowing that Auto-Sklearn has won numerous Kaggle championships, etc. that perplexed me, @eddiebergman  @mfeurer

@Alex-Lekov, may we ask to try with the latest 0.14.7 version, maybe? see if improvements have occurred solving this GitHub issue right after.

Cheers

[2022-06-26 01:06] simonprovost opened #1531 "[Question] Is any autosklearn.metrics.roc_auc WEIGHTED that is possible?"
Dear Sir or Madam,

Is any autosklearn.metrics.roc_auc WEIGHTED that is available/possible?

* How did this question come about?
I am searching for the system that optimises the autosklearn.metrics.roc_auc WEIGHTED metric or Is any autosklearn.metrics.roc auc class label 0 (in a binary use case) metric? Is any of the above feasible? Because class label 1 is assumed to be the default value for this

[2022-06-27 05:53] eddiebergman commented on #923
For sure, feel free to benchmark it how you wish :) We still use the [automl-benchmark](https://openml.github.io/automlbenchmark/) as our go to set of 39 datasets to test on. We can't speak for the validity of custom benchmarks but we use this one as it's been peer reviewed and often used for comparison.

I took a look at the source code and the setup for AutoSklearn and others. There seems to be

[2022-06-27 05:56] eddiebergman commented on #1531
Hi @simonprovost,

You could implement your own metric if you need! You do miss out on some meta-learning by this but given enough time this shouldn't be so problematic.

https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_metrics.html#sphx-glr-examples-40-advanced-example-metrics-py

Hopefully that lets you implement what you need?

Best,
Eddie

[2022-06-27 06:19] xmyhhh opened #1532 "[ERROR] asyncio.exceptions.CancelledError"
The program throws an error at runtime, how can this error be solved?
[code]

[2022-06-27 06:24] eddiebergman commented on #1532
Hi @xmyhhh,

It would be helpful if you could provide more context:
* What system are you running on?
* Do you have some sample code that reproduces this?
* What version of autosklearn are you using?
* Can you provide the contents of `pip list` in your virtual env?

Best,
Eddie

[2022-06-27 08:13] eddiebergman commented on #1532
Hi @xmyhhh,

I did some experimenting and the fix is `pip install distributed==2020.04`.

Not sure why the newest dask versions break things but that's a fix I have for you right now

[2022-06-27 08:56] eddiebergman commented on #1532
Did some more thinking as to why this wasn't an issue. I used this [example](https://automl.github.io/auto-sklearn/master/examples/60_search/example_parallel_n_jobs.html#sphx-glr-examples-60-search-example-parallel-n-jobs-py) as a test and I'm surprised this didn't trigger for any of the tests, needs to be investigated a little further

[2022-06-27 09:39] eddiebergman commented on #1532
I'll hot patch this later today :)

[2022-06-27 13:32] belzheng opened #1534 "ValueError: Dummy prediction failed with run state StatusType.CRASHED and additional output"
# Short Question Description
When I regressed the data using autosklearn, the first time it was successful, but the following errors were reported when I re-fitted the data:
![2](https://user-images.githubusercontent.com/91657801/175953985-ba420a28-12e7-476f-9c8d-bf0e2c6a21ff.PNG)
![1](https://user-images.githubusercontent.com/91657801/175952705-19efc62f-a885-4d1f-b0aa-ac64eab29120.PNG)

# System

[2022-06-27 13:44] belzheng commented on #1534
I want to emphasize that two weeks ago I had no problem running the same code, but when I tried to run the code again, the problem I was talking about came up, and I wanted to know if there was a solution?
Thanks!

[2022-06-27 15:21] simonprovost commented on #1531
Hi @eddiebergman

Wonderful. Can you tell me if the metric function for AUROC is made available anywhere? So that I may design similar one that just returns the results of the positive class (in my case, class label 0 for a binary classification) and then assume that the AutoSklearn pipeline would optimise the AUROC of the positive class, _class label 0 for my use case_.
Please, and thanks for you

[2022-06-27 16:05] eddiebergman commented on #923
Regarding the metric, we don't optimize for the correct metric, we use sklearn's `type_of_target` function to determine what kind of target it is then just select a default so I'm not sure why your implementation would vary so wildly. However the fact it got worse than random seems really odd and if you had code to share I could point you in the right direction or at least illuminate to us somethi

[2022-06-27 16:45] eddiebergman commented on #1534
Hi @belzheng,

Could you copy and paste the two outputs here so I can look at them properly?

Best,
Eddie

[2022-06-27 17:03] eddiebergman commented on #1532
No longer going to hotpatch this, I thought this was a breaking issue in which autosklearn no longer function but instead it's just seems to be an error with logging within dask while we close down the dask `Client`. I'll keep a running log here as I debug it.

[2022-06-28 02:32] shyamal-anadkat commented on #573
Try this - https://gist.github.com/simonprovost/051952533680026b67fa58c3552b8a7b

[2022-06-28 05:22] belzheng commented on #1534
OpenBLAS blas_thread_init: pthread_create failed for thread 31 of 64: Resource temporarily unavailable
OpenBLAS blas_thread_init: RLIMIT_NPROC 514040 current, 514040 max
OpenBLAS blas_thread_init: pthread_create failed for thread 32 of 64: Resource temporarily unavailable
OpenBLAS blas_thread_init: RLIMIT_NPROC 514040 current, 514040 max
OpenBLAS blas_thread_init: pthread_create failed for thread

[2022-06-28 05:38] piyushandilya commented on #849
I'm getting the same error

`import pickle as pickle

#Save
pickle.dump(model, open("saved_supervised_model.pkl", "wb"))

#Load
saved_model = pickle.load(open("saved_supervised_model.pkl", "rb"))`

The "saved_model" is of type 'str' and obviously it doesn't have the function "predict". This model is supposed to be of the type as was the original model. Somehow pickle is serializing the model but n

[2022-06-28 07:23] mfeurer commented on #849
Could you please open a new issue with a fully reproducible example?

[2022-06-28 09:27] eddiebergman commented on #1531
Heyo,

So I think this might be what you're referring to?
https://github.com/automl/auto-sklearn/blob/4f691a1db90f47a9118c193b52bccb797b604a64/autosklearn/metrics/__init__.py#L362-L368

Essentially we just wrap the sklearn one and its implementation, we don't want to go down the rabbit whole of defining our own metrics.

Best,
Eddie

[2022-06-28 09:40] eddiebergman commented on #1534
I would guess from reading this it's something to do with some scikit-learn based parallelism and your system constraints. Please refer to this [sklearn documentation](https://scikit-learn.org/stable/computing/parallelism.html?highlight=joblib#oversubscription-spawning-too-many-threads).

For more details, `RLIMIT_NPROC` is a system limit on how many threads can be spawned as your user on your sys

[2022-06-28 10:07] eddiebergman commented on #1532
First thing to note is that `asyncio.exceptions.CancelledError` is absolutely fine and all of this comes from within Dask and not from us. We may be shutting down slightly incorrectly for our setup that leads to this error leak. However the errors are not harmful and exist only in the logger. `CancelledError` is basically when something tries to get a result from an async task that was cancelled (

[2022-06-28 10:17] simonprovost commented on #1531
Hiya @eddiebergman,

Regarding the roc auc make score you showed, this one calculates the AUROC value by averaging the values of both classes if I am not wrong. But what we would like with my hospital research lab is to use the AUROC of the positive class, which for us is the class label 0 as a statistic (binary classification). After executing the predict proba method, we obtain the predicted pro

[2022-06-28 10:31] simonprovost commented on #923
Now it makes more sense! Given the metric or type of target function, it can alter anyway as it is different metric and goal behind them, but it is odd that the change would vary so much indeed as you said. Perhaps my data is quite intricate, I do not know. Let's see how goes our other discussion on the metric, and I will provide you with further information on the code so that you may verify it.

[2022-06-28 11:01] eddiebergman commented on #1531
So it seems like this is an unbalanced binary classification problem with the positive class being `0`?

Assuming that:
* The simplest solution would be to flip the labels in that case, before reaching autosklearn. That way it conforms to the usual notion in binary classification where `1` is the positive label.

* If that's not possible for whatever reason, then I would imagine you have seen the

[2022-06-28 13:43] xmyhhh commented on #1532
I can't believe you replied so much, thanks so much but I need a moment to check your reply~

[2022-06-28 18:07] jcob-sikorski commented on #1350
How can I take first bite at this? This codebase is huge. Could you propose me some areas where I can start? Where I can find some easy examples of tests?

[2022-06-29 11:05] eddiebergman commented on #1350
A simple place that is very standalone would be to provide some tests for the [`functional.py`](https://app.codecov.io/gh/automl/auto-sklearn/blobs/development/autosklearn/util/functional.py) file. You could create a new test file in `https://github.com/automl/auto-sklearn/tree/development/test/test_util` called `test_functional.py` and write some tests for that. If you wanted something more relat

[2022-06-29 11:23] Shafaq-Siddiqi opened #1535 "Exception in the fit() call of AutoSklearn"
I am getting the following exception when running the very basic examples of AutoSklearn 1.0 and AutoSklearn 2.0.
I have cloned the development branch and running the scripts on a Ubuntu machine with 128 GB RAM and 16 physical cores.
I am calling the classifier using the following lines;

`model =  autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=5*60, per_run_time_limit=30

[2022-06-29 17:14] simonprovost commented on #1531
Hi @eddiebergman, That is a priceless response! Thank you so much, that might benefit more than one person in the community ☀️

If you do not mind, I will return to some of your points and ask some questions that immediately came to mind after your answer:

I doubt that this is a major concern from a medical aspect, but I would prefer to maintain the status quo if you can confirm that it will not

[2022-07-01 08:42] eddiebergman commented on #1531
Ello again,

So I don't want to confirm or deny your metrics make sense, metrics are one of the things AutoML can't control because it's very much a user defined objective. For clarification on how it effects optimization:
* Each sklearn model has some set of possible configurations
* SMAC, the underlying optimizer, will then evaluate each configuration with the user provided metric to see how wel

[2022-07-05 06:24] yifengyiye opened #1537 "tmp_folder='/tmp/autosklearn_regression_example_tmp'"
# Short Question Description
A clear single sentence question we can try to help with?

With some extra context to follow it up. This way the question is clear for both you and us without it being lost in the paragraph.
Some useful information to help us with your question:
* How did this question come about?
* Would a small code snippet help?
* What have you already looked at?

Before you ask, pl

[2022-07-05 11:15] simonprovost commented on #1531
@eddiebergman Hello Again,

How the pipeline use this unique metric is crystal clear now. Thank you for the details.  However, quite intruiging. Would it make sense if a custom metric returning the value of one class, such as the F-measure of the positive class, drew a large difference between the positive and negative class results in, for example, the classification report metrics (precision/rec

[2022-07-05 12:10] eddiebergman commented on #1537
Hi @yifengyiye,

The `tmp_folder` is where data is stored during the optimization process. We have a restriction that you can't start a new `AutoSklearnEstimator` from the same directory so you either need a new directory or to delete the old one!

Best,
Eddie

[2022-07-05 12:29] eddiebergman commented on #1531
Hey @simonprovost,

Unfortunately I can't give good advice here as metrics are something AutoML isn't really aimed at solving, each problem will have it's own problems with metrics. I will point out the use of the `scoring_functions` argument to an estimators, i.e., `AutoSklearnClassifier` that can help get some other information outside if the optimization metric.

I would probably close the issu

[2022-07-05 12:29] #1531 closed

[2022-07-07 15:42] Mont-Mi-Rail opened #1538 "[Question] Meaning of "Best validation score" form sprint_statistics()"
Hello guys, quick question.

What does "Best validation score" form sprint_statistics() means ? I understand it's the best score of all the validation scores, but how are those validation scores calculated and what do they mean ?

Thanks a lot !

[2022-07-08 06:57] eddiebergman commented on #1538
Hi @Mont-Mi-Rail,

Auto-sklearn will train a large different set of models and trains them with a `training` set and then evalutes them on a `validation` set. The "Best validation score" is the best score achieved on this `validation set`.

Best,
Eddie

[2022-07-08 07:06] eddiebergman commented on #1467
Hi @seraus,

Many apologies, this slipped under the radar.

So currently we do not have any nice sklearn only export, i.e. there will always be a little auto-sklearn in there. It is something we want to get done eventually but we are currently quite busy with quite a few non-autosklearn things. I hope to be able to return to it in August when the conference period is over.

In the meantime, I reco

[2022-07-08 09:20] #1535 closed

[2022-07-08 11:15] eddiebergman commented on #1532
So I got back to this and created a minimal example that solves the issue. Essentially `client.shutdown()` should be reserved for usage when the Client creates the cluster itself. I created a minimal reproducible example where the issue occurs and how to solve it.

[code]

[code]

[2022-07-11 07:25] eddiebergman commented on #1529
Hi @Mathanraj-Sharma,

For sure, happy to have a contribution! Essentially while doing some refactoring I noticed these assert statements and I found them very "test-like", i.e. this should really be a test and not done everytime some calls `predict_proba`. Normally assertions are not to costly but seeing as this does two checks over the entire probability array, I imagine it's not a minor

It is

[2022-07-11 07:26] eddiebergman commented on #1529
Please let me know if there's anymore info or help you need!

[2022-07-12 03:40] Mathanraj-Sharma commented on #1529
@eddiebergman thanks for assigning it to me and for the explanation, let me go through it and get back to you.

[2022-07-12 08:09] Mathanraj-Sharma commented on #1529
@eddiebergman

By benchmarking, do you want me to compare the run time of the `predict_proba` method, with and without the assert statements for a set of datasets? In that case, do you have any particular datasets in mind?

[2022-07-12 08:12] eddiebergman commented on #1529
Hi @Mathanraj-Sharma,

Datasets are too much, this could just be with toy data thats of comparable size to perhaps a "small" dataset and a "large" one. The one that would take the longest time is probably valid Multi-Label based probabilities but it would be good to see for the other two, multiclass and binary.

Best,
Eddie

[2022-07-13 10:09] Mont-Mi-Rail commented on #1538
Ok thanks a lot !

And this validation score is like an accuracy score I suppose ?

[2022-07-13 14:06] eddiebergman commented on #1538
Depends on the metric you set or the default in case you didn't set one.

You can find the default metrics here!
https://github.com/automl/auto-sklearn/blob/12fe4495f905ce02424094f1006cdf8df809f351/autosklearn/metrics/__init__.py#L753-L759

[2022-07-13 15:17] Mont-Mi-Rail commented on #1538
Perfect ! Thanks a lot !

[2022-07-13 15:17] #1538 closed

[2022-07-16 18:36] #1532 closed

[2022-07-20 12:27] koba341 opened #1543 "[Question] Do you cant import auto-sklearn also? How can I import it successfully?"
Hello,
I cant import auto-sklearn anymore. I use Google Colab, so I always need to install auto-sklearn when opening a notebook, which works fine. Importing auto-sklearn I get following error:

IncorrectPackageVersionError: found 'dask' version 2.12.0 but requires dask version >=2021.12

When updating dask, it doesnt work either.

Greetings

[2022-07-21 10:00] belzheng opened #1544 "How to get an explicit expression for an ensemble model, such as the coefficients of a regression ensemble model"
# Short Question Description
Hi, I would like to know if I use auto-sklearn for regression, like specifying that the regressor is random forest, I know that I can get the weights and models of the ensemble model by get_models_with_weights(), show_models().My question is whether I can get the regression coefficients of the final ensemble model by calling some APIs, if not, can users write their own

[2022-07-21 10:17] koba341 commented on #1543
Hi @eddiebergman, thank you for your reply.

Here is the notebook: https://colab.research.google.com/drive/1ki7-A9FvgTdBnYI_cWSpzS4Mi18lc9bR?usp=sharing

When I run pip list, i get 'dask                          2022.2.0' which should be correct.

[2022-07-21 14:58] eddiebergman commented on #1544
Hi @belzheng,

So the `get_models_with_weights()` will give you the ensemble weights for each model included in the ensemble. From here, you can query the model's returned from this dictionary to get further information for that specific model. I'm not really sure what you mean by "regression coefficients of the final ensemble model" in this case.

The way the ensemble works for regression is we d

[2022-07-21 16:21] belzheng commented on #1544
Ok, thanks, let me explain the problem in another way, here is a sample code to illustrate the question:
![1](https://user-images.githubusercontent.com/91657801/180263607-fbb22306-91ac-43e6-a99b-2590a05c1625.PNG)
![2](https://user-images.githubusercontent.com/91657801/180264147-004bf517-1026-4a12-b088-bec724711c12.PNG)
![3](https://user-images.githubusercontent.com/91657801/180264237-ffe894df-f075

[2022-07-22 11:46] koba341 commented on #1543
When using Jupyter Notebook I get following error when I try to import auto-sklearn. How can I fix this?

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-7-b9ade57cea7d> in <module>
     32 import scipy
     33 import autosklearn
---> 34 import autosklearn.regression

~/anaconda3/

[2022-07-23 13:59] koba341 commented on #1543
I solved the issue by creating and activating a new environment in anaconda

[2022-07-23 13:59] #1543 closed

[2022-07-24 09:24] MartinKnaze opened #1546 "Is it possible to retrieve the configurations suggested by meta-learning without fitting the model?"
Hi, I would like to retrieve the configurations suggested by meta-learning without waiting for the fitting to finish.

Following the steps in [this issue](https://github.com/automl/auto-sklearn/issues/805), it is clear that the meta-learning configurations are initialised within seconds. However, to read them from the log file, I'd need to let the fitting run for at least 30 seconds, since that is

[2022-07-25 18:32] nataliafonzo opened #1547 "Bug in _partial_fit_and_predict_iterative in train_evaluator.py?"
Hi,

Working with [AutoSklearn2Classifier](https://github.com/automl/auto-sklearn/blob/b2ac331c500ebef7becf372802493a7b235f7cec/autosklearn/experimental/askl2.py#L180), I recently got a strange error that might be due to a bug. This is what I am running:

[code]

where `x_train` is a pandas dataframe and `y_train` a list. Even though `fit` runs, after inspecting `runhistory_.data` it is clear that

[2022-07-26 14:03] LeSasse opened #1548 "[Question] My Question?"
H!

First of all, thanks for this nice tool for the community. It is very useful in finding good models quickly without too much effort.

# Short Question Description
My question is this: I would like to make sure that the autosklearn model only evaluates pipelines which scale features using the StandardScaler from sklearn. It is not entirely clear to me how this can be done. I have tried differen

[2022-07-26 14:18] verakye commented on #1548
Thank you very much for this really nice library!

To add to the question: We are aware that the `data_preprocessor` offers options for StandardScaling (https://github.com/automl/auto-sklearn/blob/development/autosklearn/pipeline/components/data_preprocessing/rescaling/standardize.py). However, from the documentation/examples/the repo it doesn't become clear how one would pass this to "include" or

[2022-07-27 20:06] eddiebergman commented on #1544
Hi @belzheng,

Sorry for the lack of response, conferences have been taking up our time :)

So autosklearn doesn't have `coefs_`. A simple model may have some simple learned parameters which are often exported as `coefs_` but not every model will have that, take for example a [KNNRegressir](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbo

[2022-07-27 20:14] eddiebergman commented on #1546
Hi @MartinKnaze,

Technically I believe this is possibly but not exposed in any way. I am on my phone and won't be back until next week but I think this could be a great addition to autosklearn. I will reply with more detail once back!

Best,
Eddie

[2022-07-31 14:34] belzheng commented on #1544
Thank you very much！So my new question is, since there are no coefficients here, how do we make predictions for the regression？

[2022-08-02 19:11] ggjj11 opened #1549 "[Question] Is auto-sklearn ensemble for classification using predict_proba + threshold adaptions"
# Short Question Description
Is auto-sklearn ensemble for classification using predict_proba + threshold adaptions?

I read the original paper and read about the unique way auto-sklearn makes use of a "metric" to select from N ensemble of trained models. These trained models were trained during hyperparaneter optimization and are, therefore rather diverse.
When selecting e.g. recall/precision/fsco

[2022-08-03 08:16] eddiebergman commented on #1546
Hi again @MartinKnaze,

This is not currently possible and I will mark this as a feature to implement for the future!

Best,
Eddie

[2022-08-03 08:20] eddiebergman commented on #1547
This is a bug and should definitely be fixed, thanks for finding this!

[2022-08-03 08:28] eddiebergman commented on #1548
Hi @LeSasse & @verakye,

So the short answer is that if you do the pre-processing yourself, it will always be part of the dataset.

The long answer is that the `data_preprocessing` part of the pipeline really doesn't allow much customization at the moment and this is largely due to that fact that it's the only one that is done column wise and is conditional upon the columns included.

We do hope t

[2022-08-03 08:38] eddiebergman commented on #1544
You do not need coefficients for the task of regression, which is to estimate continuous numerical values from the data. You could create a model which always returns the mean of the training data and this is a perfectly valid model that has no `coef_` but is technically a valid regression model.

The coefficients you mention are part of the [LinearRegressor](https://scikit-learn.org/stable/module

[2022-08-03 08:38] #1544 closed

[2022-08-03 08:41] verakye commented on #1548
Hi @eddiebergman,

For `data_preprocessing`: 1) Does that mean that one would need to specify the columns and if so how would one do so (or is this the part you are referring to that it's currently not really doable?)? 2) What would be the correct syntax to specify the available `"rescaling": "standardize"`?
Regarding the `feature_preprocessing`: Are the features standardised by default? I assumed

[2022-08-03 09:19] MartinKnaze commented on #1546
Hi @eddiebergman,

Thank you for letting me know!

Best,
Martin

[2022-08-03 09:23] eddiebergman commented on #1549
Hi @ggjj11,

So I did some digging and I honestly couldn't find any point in which we deal at all with this threshold other than this line when returning predictions for the end user:
https://github.com/automl/auto-sklearn/blob/af9d46983c4680b710c79c7714ed0047077d02dc/autosklearn/automl.py#L2355

Edit: Found it in `metrics/__init__.py`
https://github.com/automl/auto-sklearn/blob/af9d46983c4680b710

[2022-08-03 09:40] eddiebergman commented on #1548
Hi @verakye,

1) You can use the [`"feat_types"` parameter](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_feature_types.html#sphx-glr-examples-40-advanced-example-feature-types-py) to specify the column types of your data.
2) There's no way to specify that for `"numerical"` columns that only "standardize" should apply. Currently data preprocessing is fixed and very unfl

[2022-08-03 17:05] mfeurer commented on #1544
Hey, I think there was some talking past each other. Weights in a linear model are sometimes called "coefficients" and scikit-learn appears to have the convention of giving them the name `coefs_`. EnsembleSelection is a linear model, so one could assume that there's a variable called `coefs_`. However, we don't follow this convention here, and instead assign the weights to a variable called `weigh

[2022-08-03 17:09] mfeurer commented on #1494
How do you then transform data at training time?

I am not familiar with imba-learn, could you please give some further details?

[2022-08-03 17:16] mfeurer commented on #1548
As a hack, you can remove the other components by deleting all files besides `__init__.py` and `standardize.py`. However, this will most likely result in worse performance as meta-learning will no longer be able to suggest the best possible configurations. Moreover, as @eddiebergman explained, for categorical data, this will not apply.

But in any case, could you maybe describe your use case? I'm

[2022-08-03 17:17] 00sapo commented on #1494
Sorry, `transform` can also be called during training (think about sklearn's `PCA` object for instance). For the example, I will try to put an example here as soon as I have time

[2022-08-03 17:37] mfeurer commented on #1549
To follow up on @eddiebergman and give some more details

* We build the ensemble following [this paper](https://www.cs.cornell.edu/~alexn/papers/shotgun.icml04.revised.rev2.pdf)
* In their [follow-up work in Chapter 3](https://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.154.3300) they research whether calibration of the models would help and find that having both calibrated and uncalibrated

[2022-08-03 21:14] ggjj11 commented on #1549
Thank you both for your clarifications about the usage of the threshold in auto-sklearn and how the ensemble is built in detail!

This is interesting since, for a certain user specified metric like e.g. the fscore, only some of the trained models are optimal at the 0.5 threshold. Could it be that if the threshold is also allowed to be optimized (per model), then more models become suitable to be u

[2022-08-04 06:22] jmren168 opened #1553 "[Question] How the results of initial_configurations_via_meta_learning are used in Auto-Sklearn?"
Hi,

After reading "initializing Bayesian Hyperparameter Optimization via Meta-Learning", I have a question about how initial_design_via_meta-learning works in auto-sklearn, and hope someone could give me some hits. Many thanks.

When I enable initial_configurations_via_meta_learning to train a dataset D_n+1, and auto-sklearn found that **the most similar dataset was D_J with a specific configurat

[2022-08-04 07:24] LeSasse commented on #1548
"If your overarching question is can you ensure "standardize" is applied to each feature through autosklearn, then no it can't currently be done by data_preprocessing or feature_preprocessing."

This pretty much answers it, I would say. We wanted to ensure that "standardize" is applied to all (numerical) features, while avoiding preprocessing before handing the data to auto-sklearn to avoid "data

[2022-08-04 07:33] verakye commented on #1548
Thank you very much @eddiebergman and @mfeurer for clarification!
To add to @LeSasse's response: We are using `resampling_strategy="cv"`, that's why we are concerned about data leakage if we did the preprocessing outside of AutoSklearn. AutoSklearn is used as the inner CV of a nested CV. We could totally do the standardisation in the outer CV (but this would technically be some form of data leakag

[2022-08-04 08:57] eddiebergman commented on #1544
That's a good point I didn't consider but I think this would then raise quite a few questions as to what `coefs_` means from autosklearn. I could see someone finding `automl.coefs_` and then wondering what those are and what they mean. This would lead to the term `weights_` and `coefs_` both floating around.

I had a brief look at all the [ensembles in sklearn](https://scikit-learn.org/stable/modu

[2022-08-04 09:08] mfeurer commented on #1544
Good points regarding the ensembles - we're somewhat a voting classifier, and that doesn't have `coefs_`, too. Therefore, I think we can leave things as they are.

[2022-08-04 10:56] mfeurer commented on #1317
This will become available in the upcoming 0.15 release and we just released a first dummy ensemble via #1523.

[2022-08-04 11:58] mfeurer commented on #741
Implemented via #1536

[2022-08-04 11:58] #741 closed

[2022-08-04 12:00] mfeurer commented on #1522
I'm still struggling on this with the fact that google colab only runs Python 3.7. As colab is a go-to place for easy online experimentation, I would like to keep this for now. Maybe we could ask the scikit-learn devs how they cope with this issue?

[2022-08-04 14:02] eddiebergman commented on #1522
It's not just dask, it's quite a bit of the Python scientific ecosphere is moving away from Python 3.7, one example is scipy in which there was the recent errors with kurtosis which is probably related to numpy dropping support too.

[2022-08-05 09:30] Louquinze commented on #1553
Hi,
For starters, I'm just a student assistant working on this project as well, so don't take this answer as final.

But as i see it. It is like this.

`python initial_configurations_via_metalearning: int = 25` is an integer value and sets the prior of hyperparameter optimization. Later in the code we than choose n values out off all possible metalearning configurations.

[code]

This configuratio

[2022-08-08 02:03] jmren168 commented on #1553
Hi @Louquinze ,

Thank you for the comments.

After tracing the code of **metalearning_suggest_all** , **_learn** and **kBestSuggestions**, it looks like meta-learning selects the K nearest datasets similar to the target dataset, and then returns the K best suggestions. If so, meta-learning does not work as the paper I mentioned in my previous post (using two SVMs and RF to select initial configs)

[2022-08-08 16:40] #1547 closed

[2022-08-09 11:14] seraus commented on #1467
Thanks for the answers, @eddiebergman
I'll check the code you suggested
Regards
Sergio

[2022-08-09 20:53] timzewing opened #1560 "[Question] Model score returns zero after 30 minutes"
I’m using 2.0.

My [dataset](https://www.kaggle.com/competitions/home-credit-default-risk/data?select=application_train.csv) shape is 307511, 122. Of the 122 features, 106 are numerical, and 16 are categorical.

I cannot get a metric score for the dataset I’m using. I have changed the time_left_for_this_task to 600, 800, 1000, 1200, 1400, and 1800 to give more time to find the appropriate models,

[2022-08-10 01:24] jmren168 commented on #1553
Hi @Louquinze

I think I made a mistake: I should read the original paper of Auto-Sklearn: **Efficient and Robust Automated Machine Learning, AAAI, 2015**

In this paper, the authors mentioned "We exploit this complimentary by selecting _k_ configurations based on meta-learning and **use their result to seed** Bayesian optimization...
1. for each machine learning dataset in a dataset repository (i

[2022-08-10 06:55] Louquinze commented on #1553
Hi @jmren168,

I think that it basically what the metalearning is doing. I will ask someone else to confirm this.

[2022-08-10 10:14] eddiebergman commented on #1553
Hi @jmren168,

The meta learningn you originally reffered to is specific for Autosklearn 2 from what I know and you're correct that the original Auto-sklearn paper is the meta-learning that is used in general.

These seeded runs are essentially the first configurations to be tried for a given new dataset so that we start searching from somewhere "reasonable".

Best,
Eddie

[2022-08-10 10:29] eddiebergman commented on #1560
Hi @timzewing,

1. You should use `metric=metrics.roc_auc` instead of `scoring_functions` if `roc_auc` is what you want to optimize for. `scoring_functions` are for additional metrics you want to compute but are not directly used for optimization. Additionally, `scoring_functions` takes a `list[Scorer]` and not just a single `Scorer`, i.e. `scoring_functions=[metrics.roc_auc]`.
2. There is no data

[2022-08-10 18:22] sergeiissaev commented on #491
I have a logging question about autosklearn, would really appreciate if someone could guide me: https://stackoverflow.com/questions/73310967/how-can-i-use-auto-sklearn-without-affecting-my-root-logger

[2022-08-10 18:45] souravsingh commented on #1352
@eddiebergman Is this issue still open? I would like to take a stab at it.

[2022-08-11 00:41] jmren168 commented on #1553
Hi @eddiebergman  and @Louquinze ,

Thank you for the reply, and now I have no more questions. So close this question. Thanks again :)

[2022-08-11 00:41] #1553 closed

[2022-08-11 19:39] timzewing commented on #1560
@eddiebergman

I followed your instructions but didn’t get a model score for ROC AUC.

Below are the two scenarios which didn’t work:

**Scenario 1**: I ran the data on all 305k rows and 122 columns. I removed the per_run_time_limit, and it ran for 4026 seconds with no score.

**Scenario 2**: I ran the data on all 305k rows and only numerical columns(106 columns). I still didn’t get a score.

**Sc

[2022-08-12 06:31] eddiebergman commented on #491
Hi @sergeiissaev,

I would always recommend asking questions here over stack overflow if you want direct answers from us :)

Take a look at this example:
https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_debug_logging.html#sphx-glr-examples-40-advanced-example-debug-logging-py

Best,
Eddie

[2022-08-12 06:34] eddiebergman commented on #1549
Hi @ggjj11,

Sorry for the delayed response but this seems like a very nice issue to keep open for future work, we may look into this if we get some extra-manpower that is interested in investigating this. Also, I might tag @LennartPurucker as he is doing work on ensemble construction and this may be an interesting angle to look at things from.

Best,
Eddie

[2022-08-12 06:48] eddiebergman commented on #1352
Hi @souravsingh,

Thanks for taking interest :)

In general, it would be good to have a lot of our components cleaned up and properly typed with Mypy. Along with this, it would be good to have a link to the scikit learn component it's implementing and to double check that the parameters are correct (with respect to the right scikit learn version). The `NotImplementedErrors` could also be updated t

[2022-08-12 13:38] LennartPurucker commented on #1549
Hi @eddiebergman,

Thank you very much for adding me!  This is indeed a very interesting topic for ensemble building based on probabilities.

---

Hi @ggjj11,

We can integrate threshold-tuning into the greedy Ensemble Selection (ES) algorithm by Caruana et al.](https://www.cs.cornell.edu/~alexn/papers/shotgun.icml04.revised.rev2.pdf) that was mentioned by mfeurer.
Furthermore, we can handle most

[2022-08-12 14:51] eddiebergman commented on #1560
Well two more things, have you tried just running the most basic thing you can, i.e. no specific metric?

[code]

That's a very simple way to debug if it's your dataset causing the issue or a bug with the metric.

Beyond that, you can get access to the logs and debuggng information with [this example](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_debug_logging.html#sphx

[2022-08-16 19:55] timzewing commented on #1560
@eddiebergman

**Scenario 3:** As you suggested, I ran the dataset with only one parameter. I got back the below results. It selected a model with a metric score from accuracy. It took 5 minutes to run.
<img width="1138" alt="Screen Shot 2022-08-16 at 15 02 02" src="https://user-images.githubusercontent.com/91495657/184963178-a923b57c-5be8-4556-a98f-7efc7dc87cc5.png">

**Scenario 4:** I ran the da

[2022-08-17 02:04] luckyhug opened #1567 "Incremental Learning or partial_fit?"
Does auto-sklearn support incremental learning or partial_fit?

when the dataset is too big for the RAM, (About 230+GB, although I can store it in a list, there's not enough memory to convert the list to an np array)

Is there any advice or examples on dealing with this dataset?

Thank you very much!

[2022-08-17 10:16] eddiebergman commented on #1560
Hi @timzewing, both of those logs are empty?

So I can't diagnose exactly because now the issue between the first posts and the last one are different, i.e. most of them are timing out now and not crashing, making me think that `per_run_time_limit` needs to be manually specified and higher.

You can try to just set the total time limit to 600 seconds and then per run time limit to something like 3

[2022-08-17 10:23] eddiebergman commented on #1567
Hi @luckyhug,

No I think there's not much way to effectively use that much data in autosklearn natively. My only suggestion would be to run auto-sklearn on a subsample of that data and use `show_models()` to inform which models and hyperparameters to use for the next step of your pipeline in terms of which configurations to fit and handle the incremental learning and partial fitting in a custom m

[2022-08-17 11:19] deadly-panda commented on #1482
Hey @mfeurer, can I try working on this  ?

[2022-08-17 15:49] belzheng commented on #1544
Thanks for your reply,and I'm Sorry for taking so long to reply. What I want to ask is if the lasso regression in sklearn is added to the regressor of autosklearn, so that the feature preprocessing of autosklearn can be used, but I don't know how to extract the coefficients of this linear model, just like sklearn can display the model coefficients. When I tried to extract the coefficients after fe

[2022-08-17 18:10] Mr-Optimistic commented on #1085
I did a pip install, and then did a runtime restart. autosklearn was imported successully

[2022-08-18 02:29] Daniel-Trung-Nguyen opened #1568 "Error with installation"
I tried pip install auto-sklearn and the error is below:

Collecting auto-sklearn
  Downloading auto-sklearn-0.14.7.tar.gz (6.4 MB)
     ---------------------------------------- 6.4/6.4 MB 19.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [6 lines of output]
      Trac

[2022-08-18 02:35] Daniel-Trung-Nguyen commented on #1568
Ah, saw the installation guide. I was installing it on a windows machine

[2022-08-18 02:35] #1568 closed

[2022-08-18 04:36] Daniel-Trung-Nguyen opened #1569 "callback function error!"
I was trying to apply the early stopping example for a regression problem and got this error:
[code]

[code]

[2022-08-18 08:12] verakye opened #1570 "[Question] How to best use AutoSklearn in a nested cross validation setting?"
# Short Question Description
What is the suggested way of using AutoSklearn in a nested CV setting, i.e. for example in combination with scikitlearn's `cross_validate`?

# Further details
## The general setup/idea/goal:
AutoSklearn in a nested CV setup (inner CV), using Dask on a Slurm cluster for parallelisation and scikitlearn's `cross_validate` for the outer CV.

## The problem:
Combining these

[2022-08-18 08:23] eddiebergman commented on #1569
Hi @Daniel-Trung-Nguyen,

I'll look into this but this feature is currently only in the documentation for development and only available in the development branch, are you using the development branch?

Best,
Eddie

[2022-08-18 08:28] eddiebergman commented on #1544
Hi @belzheng,

Thanks for the more descriptive answer, you should get the underlying estimator you wrap in you `LassoRegression` class.

[code]

You don't need to refit this pipeline, you could also just get it directly from `show_models()`, the main issue was you are trying to access the `coef_` and the wrapped `estimator` and you need to access the underlying `estimator` to get all the sklearn p

[2022-08-18 08:45] eddiebergman commented on #1570
Hi @verakye,

Thank you for the detailed issue :) So at a high level, I'm not sure autosklearn satisfies the [criterion](https://scikit-learn.org/stable/developers/develop.html#rolling-your-own-estimator) of being a scikit-learn model fully. To be more explicit, most scikit-learn cross validation steps use scikit learns `clone(estimator)`, `get_params(estimator, params)`, `set_params(estimator, pa

[2022-08-18 09:14] verakye commented on #1570
Hi @eddiebergman,

thanks a lot for your quick reply and the useful information. From what I see in the error's traceback your assumption seems to be very likely.

Could you maybe elaborate a bit on what you mean with the "different path for each auto-sklearn"? Are you referring to the `tmp_dir` here, i.e. giving AutoSklearn a new `tmp_dir` in every loop iteration to avoid the aforementioned copyi

[2022-08-18 11:10] eddiebergman commented on #1570
Exactly! Autosklearn uses the filesystem as part of its state so they need to have a different `tmp_dir` so they don't have issues with state.

[2022-08-18 12:38] mfeurer commented on #1482
Sure, please go ahead. Please let us know if yo need further guidance.

[2022-08-18 19:40] timzewing opened #1571 "[Question] Understanding the models"
[Question] Understanding the models

I need help with the following questions:

**Name of the columns **
1. I want to find out the names of the columns finalized after the preprocessing and before starting the automl.fit(X,y) For example, if my dataset has 100 columns, how many were removed during the preprocessing steps, and how many were remaining?

**Name of columns that required imputation**
1

[2022-08-18 20:54] Daniel-Trung-Nguyen commented on #1569
I just pulled the dev brand and tested the callback (on Colab).
I received this error:
[code]

[2022-08-19 13:09] eddiebergman commented on #1569
@Daniel-Trung-Nguyen, this seems unrelated but at least it seems that the callback works as intended.

Can you provide a code snippet that reproduces this error, or a snippet of one row of the dataset or at least the feature types of your columns?

Best,
Eddie

[2022-08-19 13:19] eddiebergman commented on #1560
@timzewing Sorry I assumed you had some command line experience. `pip` is used to manage python dependancies and `pip list` prints out all the installed packages. Using `grep` is a command line utility to filter text and `grep auto-sklearn` means to filter out all lines except one's that contain `auto-sklearn`. For example, when I run it using the development branch of auto-sklearn I get
[code]

D

[2022-08-19 20:01] FelixNeutatz opened #1572 "[Question] automl.show_models() "'sklearn_classifier': None""
Hi everybody,

I printed the ensemble models and got the following output:
[code]
Now, I am wondering what classifier AutoSklearn2 chose. Can anybody help me here?

Best regards,
Felix

[2022-08-21 12:39] deadly-panda commented on #1482
Just to make sure I'm on the right track. What I need to do is :
1. Create the multi_class_roc_auc scorer (same as the auto-gluon link)
2. Add unit tests for the scorer.
3. Add the scorer to the classification metrics constant dictionary: `CLASSIFICATION_METRICS`
4. In the 01_create_commands script.py: remove the check for nb class >2: continue
Is there something else I am missing?

[2022-08-22 07:41] mfeurer commented on #1482
Hey, I agree, except for the name. AutoGluon has a very specific name (ovo_macro) that describes the exact averaging mechanism, and it would be good if we could be as specific here, too. Also, you can have a look into [our auto-sklearn](https://github.com/automl/auto-sklearn/blob/development/autosklearn/metrics/__init__.py#L420) code to see how we added these for f1, precision, etc.

[2022-08-22 11:23] mfeurer opened #1573 "Add pylint linter"
After we have removed all mypy ignores.

[2022-08-22 23:19] shantam-8 commented on #1351
Hello @eddiebergman, if it is okay with @himanshu007-creator, is it possible if I could start with ``test_metric``? It is my first time contributing to this repo and  ``test_metric`` just seems to be something that I can start with.

[2022-08-23 10:53] eddiebergman commented on #1351
@shantam-8 Please go for it!

I will provide some guidance for it in a few hours :)

Best,
Eddie

[2022-08-23 16:01] eddiebergman commented on #1351
Sorry I will reply tomorrow morning, some stuff came up!

[2022-08-23 20:25] atifinqline commented on #1560
@eddiebergman

Okay got it.

I'm using auto-sklearn 0.14.7

Tim

[2022-08-23 21:36] atifinqline commented on #1571
@eddiebergman Sorry, can you help me understand "you could just print it out there in its fit function"?

[2022-08-24 03:59] eddiebergman commented on #1571
Hi @atifinqline,

Apologies, I mixed up as posting a different issue in which a user gave a custom model, my bad.

In general it's quite hard to categorize what happens for different models as we produce full **pipelines** which may have different feature preprocessors.

You can use the [`show_models()`](https://automl.github.io/auto-sklearn/master/api.html#autosklearn.classification.AutoSklearnCl

[2022-08-24 04:04] eddiebergman commented on #1572
Hi @FelixNeutatz,

This appears to be a bug and I'll mark it as such. You could still access it through the `"classifier"` field, it should be something like `pipeline["classifier"].choice.estimator`.

Best,
Eddie

[2022-08-24 04:13] eddiebergman commented on #1560
Okay great, I would still need a non-empty log file to be able to provide any useful info. So far my only info to go on is:
* No models seem to be able to finish in time
* It is unrelated to using `metric.roc_auc` as this happens with and without it
* The error shown at first and in the later screenshots are different, i.e. at first it seems they crashed and in the later screenshots, they just tim

[2022-08-24 04:30] eddiebergman commented on #1351
Hi @shantam-8,

So I took at [`test_metrics`](https://github.com/automl/auto-sklearn/blob/development/test/test_metric/test_metrics.py) and I have a few pointers.

* Thankfully the tests look very straightt forward, they create some dummy data, they create a scorer and then they make sure it gives the correct output.
* We want to do the following migration:
[code]

* You can use the following repl

[2022-08-24 10:47] shantam-8 commented on #1351
Really thanks a lot for your help! I shall open a PR asap.

[2022-08-25 11:35] belzheng commented on #1544
Thanks, this did solve the problem of coefficient extraction! But the next problem is that I don't konw what these transformed variables represent,and I want to know  if there is any way to know the specific form of the variables?The ultimate purpose of doing this is to use autosklearn's automatic feature processing to find nonlinear effects between variables, but it is meaningless to only know th

[2022-08-31 15:25] mfeurer opened #1579 "Check that feature names at test time are the same as feature names at training time"
when using pandas DataFrames.

[2022-09-02 09:45] FelixNeutatz commented on #1572
Hi @eddiebergman,
thank you for the hint, I found that automl.get_models_with_weights() works:
[code]

Best regards,
Felix

[2022-09-04 13:00] deadly-panda commented on #1482
Hi @mfeurer .. Sorry it took too much time, I've been a bit busy.
I have the code ready, however, I still have a few questions.
For the unit tests, am not sure which numbers I should use ? (you can take a look in my branch if u want to see the ones I used).
Also some tests where failling, for example TestMetric:test_classification_multiclass and I had to add the roc_auc metric to the list of skipp

[2022-09-05 13:05] teresa-m opened #1582 "pynisher 1.0 version incompatability with auto-sklearn 0.14.6"
## Describe the bug ##
The AutoSklearnClassifier results in an error concerning pynisher when using versions: pynisher 1.0 and auto-sklearn 0.14.6. Earlier pynisher versions are working fine.
I am not sure if this issue is based on my setup. It would be great if you could help me or point out what could go wrong.
Thank you a lot for auto-sklearn and your help of course!

## To Reproduce ##
Steps t

[2022-09-07 14:09] FelixNeutatz opened #1583 "[Question] Cross validation and Ensembling"
Dear all,

I am wondering how greedy ensembling is implemented for cross-validation. I couldn't really find it in the code. Can anybody give me a hint?

My idea of how it could be implemented:

[code]
Is this roughly how it works?

Best regards,
Felix

[2022-09-07 22:15] jonaslandsgesell commented on #1567
@luckyhug did you consider down casting numerical values from e.g. float64 to float16 already?
This could reduce your memory consumption by a factor of 4.

[2022-09-08 00:24] jonaslandsgesell commented on #1549
Nice to read this open discussion and seeing benchmarks for the idea.

@LennartPurucker picking up your question on how to deal with model dependent thresholds I had the following thoughts.

Having N trained models, we search optimal decision thresholds $t_i$ for each model i.
The usual rule which is also applied in sklearn is
$model_i(x)<t_i$ (with standard, fixed $t_i=0.5$) indicating class 0.
A

[2022-09-08 08:09] LennartPurucker commented on #1549
@jonaslandsgesell thank you for the detailed comment and input on this discussion.

Your approach is very reasonable, and it is precisely what I was asking about! Originally, I thought about it from a weights perspective in Ensemble Selection (ES) instead of re-calibrating the probabilities directly based on c_i. Nevertheless, I think not using the weights is more reasonable and agnostic to differ

[2022-09-09 05:17] prasad-yashdeep commented on #1582
I am facing the same issue as well on version 0.14.7

[2022-09-12 07:17] BrandonKMLee commented on #1494
@00sapo any considerations for these?
- https://github.com/scikit-learn-contrib/imbalanced-learn
- https://github.com/analyticalmindsltd/smote_variants

[2022-09-12 10:05] eddiebergman commented on #1583
Hi @FelixNeutatz,

I spent a while digging through and it seems like we basically consider the cv predictions as one big long array vertically stacked, metric'd with the corresponding targets vertically stacked:

[code]

---

I'd like to point you to one place in the code where this happens but it's convoluted around several other points. Here's my investigation stacktrace if curious:
* The [`Ense

[2022-09-12 10:08] eddiebergman commented on #1567
@jonaslandsgesell good idea! We automatically do that already if the dataset is too large. We also automatically subsample the data if it's too large to fit in memory, but this means all of that original data can not be used then.

[2022-09-12 10:30] eddiebergman commented on #1582
Hi @teresa-m, @prasad-yashdeep,

Sorry for the delay. In principal with the latest released version `0.14.7`, the `pip` installation should work:
* Auto-sklearn [requirements.txt](https://github.com/automl/auto-sklearn/blob/5078e34537d9f354f89df84f6557922cc1283a09/requirements.txt#L20) has `pynisher>=0.6.3,<0.7` and `smac>=1.3.1,<1.4`
* `smac 1.3.4` has the [requirements](https://github.com/automl

[2022-09-12 10:53] FelixNeutatz commented on #1583
Thank you so much! This is really helpful. Maybe this should go into the documentation :)

[2022-09-12 10:58] eddiebergman commented on #1583
I'll keep it open as something to add into the docs then!

[2022-09-14 07:12] arkarn commented on #1006
Hey @eddiebergman , May I know
1. if sklearn export has made it to the milestone of things to be done in v0.16?
2. any estimated timeline for when it (v0.16) could be ready?

[2022-09-14 08:34] tornede opened #1585 "AutoSklearn2Classifier.fit() contains metric"
## Describe the bug ##
The `fit`-method of the AutoSklearn2Classifier contains a parameter `metric`, which is not used, and probably should not be there due to the according parameter in the constructor.

## To Reproduce ##
Steps to reproduce the behavior:
1. Go to [AutoSklearn2Classifier.fit()](https://github.com/automl/auto-sklearn/blob/013d7eee3c46f0f0c0f66ab7eac9dd1945faf101/autosklearn/experi

[2022-09-14 10:43] eddiebergman commented on #1006
Hi @arkarn,

Sorry, we've currently become quite busy with ICLR deadlines so it's been delayed. We're currently benchmarking the v0.15 changes so once that's merged we can begin proper work on v0.16.

ICLR deadlines are 28th so you can expect some v0.16 work to begin in October with the release being in November sometime.

Sorry for the delays,
Best,
Eddie

[2022-09-15 09:01] mfeurer opened #1586 "Meta-feature computation should not send dataset to subprocess"
As this requires pickling the data, which adds unnecessary memory costs. Most likely, loading the data manager is also not necessary in the SMBO class (which would also save us a bit of memory usage throughout the execution of Auto-sklearn).

[2022-09-16 20:49] TomPham97 commented on #1298
After the #1321 improvement, would the updated code be like this?
[code]

[2022-09-20 08:30] mfeurer commented on #1298
Please open a new issue @TomPham97 for any new questions.

[2022-09-20 12:00] 00sapo opened #1587 "[Question] Is it possible to change the hyperparameter space of an algorithm?"
# Short Question Description
Is it possible to change the hyper-parameter space of an algorithm (such as
PCA), so that it is restricted or enlargedd in respect to the default ones?

I know that we can override the `get_hyperparameter_search_space` method, but
I think it would be easier if there would be an accessible field in the
`AutoSklearnClassifier` `AutoSklearnRegressor` object. Such a field

[2022-09-20 18:30] timzewing commented on #1571
@eddiebergman Do you plan to have this functionality in the future where we can see name of the columns that the model used to train the model?

[2022-09-20 18:32] timzewing commented on #1560
Okay, let me run this and provide you the log.

[2022-09-21 12:27] eddiebergman commented on #1587
Hi @00sapo,

I agree, in general, I would like the pipeline space to be reconfigured for numerous other reasons. See the pipeline section of our [project board](https://github.com/orgs/automl/projects/6/views/5).

Would you be able to provide a user example of how this might look like in code so we can discuss it and come to a long term solution?

In general, the issues with configurable pipelines

[2022-09-21 12:30] eddiebergman commented on #1571
Hi @timzewing,

That would be a nice feature, it comes into reworking some information that gets passed around the pipeline because as soon as we drop to a pure numpy array, this information gets lost. Makes me think we need to essentially have a pure pandas pipeline right until the moment it hits the sklearn model.

I will be back to working on auto-sklearn in October and will keep this in mind,

[2022-09-21 13:26] 00sapo commented on #1587
I'm on a old version of auto-sklearn, but with more recent versions of
`ConfigSpace` this should be even easier.

For instance, the `get_hyperparameter_search_space` method in PCA could
become:

[code]

I don't exactly know where the `set_hyperparameter_space` should be called, but I think it should be just before the full search space is selected.

[2022-09-25 09:18] cryptocoinserver opened #1589 "[Suggestion] Purging and embargoing to deal with unintended data leaks in cross validation."
These approaches are often used in financial ML. Can benefit a wide variety of ML tasks though.

In short: Adding a safety gap between the k-folds or train-, test- and validation splits.

These articles explain it in detail:

[https://medium.com/mlearning-ai/why-k-fold-cross-validation-is-failing-in-finance-65c895e83fdf](https://medium.com/mlearning-ai/why-k-fold-cross-validation-is-failing-in-fin

[2022-09-26 06:51] eddiebergman commented on #1589
Hi @cryptocoinserver,

Thanks for the informative blog post, very interesting indeed. Unfortunately, we do not primarily target time series data and so k-fold cross-validation works well in this scenario. However there has been a few issues about time series before and you can pass in your own sklearn style splitting mechanism as seen in this example:
* https://automl.github.io/auto-sklearn/master

[2022-09-26 07:58] cryptocoinserver commented on #1589
Nice. Thank you for the hint. Will take a look at the PredefinedSplit.

[2022-09-28 06:51] souravsingh commented on #1352
@eddiebergman Sure I will get started

[2022-09-29 14:56] timothygebhard opened #1591 "Multi-output regression example is broken (potential macOS problem)"
## Describe the bug ##
When I try to run [the example on multi-output regression from the docs](https://automl.github.io/auto-sklearn/master/examples/20_basic/example_multioutput_regression.html#sphx-glr-examples-20-basic-example-multioutput-regression-py), the `.fit()` routine crashes with a `ValueError`.

## To Reproduce ##
Steps to reproduce the behavior:
1. Download or copy [code from the docs

[2022-09-29 15:24] eddiebergman commented on #1591
Hi @timothygebhard,

Yup this is a known issue and pynisher had been updated to fix it, but we need to update quite a few things at once to make this work. This will be done at the start of the october once I can return to working on auto-sklearn.

Btw, turns out we just can't limit memory with MacOS: https://github.com/automl/pynisher#details. The future iterations of auto-sklearn will simply jus

[2022-10-05 09:54] UnixJunkie commented on #1549
To find the best classification threshold automatically, you can try various thresholds for the predicted class probability, let's say from 0.01 to 1.00 (that's 100 values to try), then choose the threshold that maximizes MCC (Matthews Correlation Coefficient).
Indeed, having a class probability is enough to rank-order candidates.
But, if you are ask to predict labels, you indeed need to optimize

[2022-10-05 10:13] UnixJunkie commented on #726
Is it possible to give a list of weights that should be tried for a given class?
I have some data where very heavy reweighting of the under-represented class is necessary to get any good classifier.

[2022-10-06 15:27] ojeifoissy commented on #1568
Hello Daniel I tried installing with anaconda and getting the same problem. Even when I followed the guidelines

[2022-10-10 13:24] eddiebergman opened #1593 "Using recal with autosklearn 2 raised issue that `askl2_training_data.json` is not available"

[2022-10-10 13:25] eddiebergman opened #1594 "`show_models` and `leaderboard` show different rankings."

[2022-10-10 13:31] eddiebergman opened #1595 "Leadboard `sort_by` no longer works as intended"

[2022-10-10 14:41] mfeurer commented on #1568
Dear @ojeifoissy, please open a new github issue if this problem persists as we are not tracking and answering closed issues.

[2022-10-10 14:41] mfeurer commented on #726
Hey @UnixJunkie, could you please open a new issue? We do not follow up or answer closed issues.

[2022-10-10 14:48] mfeurer commented on #1571
We could probably achieve this with the function [get_feature_names_out](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest.get_feature_names_out), but what would we do if we actually construct extra features?

[2022-10-10 23:44] UnixJunkie opened #1596 "How to weight a given class? [class balancing]"
Is it possible to give a list of weights that should be tried for a given class?
I have some data where very heavy reweighting of the under-represented class is necessary to get any good classifier.

I don't know in advance what is the weight to use; apparently it depends of the ML being used.
So, this is another hyper parameter that needs to be optimized.

[2022-10-11 09:48] Rattko commented on #1371
@mfeurer, @eddiebergman is there any timeline for this issue?

[2022-10-11 15:55] zhuygln commented on #1197
Hi,
We have been using autosklearn and automlbenchmark in R&D at SAS Institiute for autoML pipeline. Huge applauses to the great work of you all first! @eddiebergman @PGijsbers

I have a few questions regarding portfolio.

1.  I am trying to replicate the portfolio building in the autosklearn2 paper. Is these any code shared in this repo? I search the portfolio file but I couldn't find it. Maybe I

[2022-10-12 11:00] ennodepenno opened #1597 "[Question] Is it possible to use Scikit-learn version >=1.1.1"
Working with Scikit-learn version 1.1.1 and auto-sklearn 0.15.0 using Pycharm is working fine.
When building a docker container an error message occurres: auto-sklearn 0.15.0 depends on scikit-learn<0.25.0 and >=0.24.0

Is it possible to update the auto-sklearn to require the latest version of Scikit-learn?

[2022-10-13 13:12] LeSasse opened #1598 "Unequal shape between Y and Y pred in scoring function."
## Describe the bug ##
Please describe the bug you're experiencing is precise as possible.
I suspect that Y and Y pred are handed to scoring functions with unequal shapes. This can
lead some custom scorers to fail if users are unaware.

## To Reproduce ##
Steps to reproduce the behavior:

I have X (shape: 100, 10) and y (shape: 100, ) obtained using scikitlearns make_regression

I fit the followin

[2022-10-13 14:12] verakye commented on #1598
I assume what you observe here is not a difference in shape but the difference between a python array (can have any dimensionality) and a python matrix (is always 2D) (https://towardsdatascience.com/6-key-differences-between-np-ndarray-and-np-matrix-objects-e3f5234ae327). The reason why you are getting an output array instead of one correlation value might be that your scoring function seems to gi

[2022-10-13 14:39] LeSasse commented on #1598
If I change the score function to:

[code]

it prints out:

[code]

[2022-10-17 08:48] BradKML commented on #1589
Also as a side note, can K-Fold be used in this example for cross-checking of model performance? https://automl.github.io/auto-sklearn/master/examples/20_basic/example_multioutput_regression.html

[2022-10-18 20:19] aron-bram opened #1599 "Indicate progress during optimization"
**Problem description:**
Building an AutoML model and calling the _fit()_ function does not give any indication of how much time is left from the optimization process. This may cause confusion especially for fresh users not familiar with the API.

**Solution idea:**
It would be great to have some sort of signal in the console showing the current progress of the search.
Possibly by adding tqdm as a

[2022-10-19 07:43] eddiebergman commented on #1599
* Closes #1599

[2022-10-19 09:43] BradKML opened #1600 "[Question] Viewable Preprocessors and Regressors (internal mechanisms)?"
# Short Question Description
* _How did this question come about?_ I would like to see which regression model would discord unneeded data columns (e.g. Lasso and ElasticNet), and which regressors (e.g. Ridge) relies on data preprocessors and feature preprocessors to function as the filter.
* _Would a small code snippet help?_ See below, currently trying to see if one can directly check the objects

[2022-10-19 09:56] BradKML commented on #1583
[`TrainEvaluator`](https://github.com/automl/auto-sklearn/blob/development/autosklearn/evaluation/train_evaluator.py) looks like something that belongs in this documentation, or are they different? https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_resampling.html#cross-validation

[2022-10-19 10:02] BradKML commented on #841
Another question to consider: even if resources are generous, what can be done to ensure most effective use of it?

[2022-10-20 07:03] eddiebergman commented on #1600
Hi @BrandonKMLee,

The first step would be to limit your search to just the regressors of interest.

[code]

From here, you could use `regr.show_models()` to see what pipelines are in the final ensemble and what components it consists off. However I would imagine this would just end up focusing on one regressor. You could do that process above for each regressor of interest and see what final pipe

[2022-10-20 07:05] eddiebergman commented on #1583
The `TrainEvaluator` is not something that's exposed to the user so I don't think it would go in there personally, I'm not sure how it would look belonging in there.

[2022-10-20 07:08] eddiebergman commented on #841
As @mfeurer mentioned above, really the only difference you can do on the user side is to improve the estimation of the performance of a single algorithm such that a models at the end are considered generally quite strong. This entails giving them more time with `per_run_time_limit` and improving the model performance estimation strategy, i.e. `cross_validation` with more folds.

[2022-10-20 16:53] aron-bram commented on #1596
Hi,

Unfortunately we do not provide a way to give a list of class weights to be tried out during the optimization process.

Although, by default auto-sklearn should handle the imbalance in the dataset by also including estimators in the search that use sample/class weights, and sets their weights to be the inverse of each class's frequency (refer to [Balancing](auto-sklearn/autosklearn/pipeline/c

[2022-10-21 00:58] UnixJunkie commented on #1596
Class weight is just another hyperparameter that needs to be optimized in some datasets, with some ML methods (like SVM).
Using inverse of the class frequency is just an initial guess. Sometimes very far a guess from what optimization would give you.

auto-sklearn miserably failed on this dataset; while by hand I could optimize a model using liblinear (and very strong class weighting for the under

[2022-10-21 10:30] aron-bram commented on #1596
We do realize that handling it as a hyperparameter would improve results achieved on such extremely unbalanced datasets. It just hasn't been a prority for us given the lack of such requests.
But thank you for your suggestion, it indeed has the potential to improve the library.

We will consider adding this as a floating-point hyperparameter, which could be used by the Balancing class. However, I c

[2022-10-21 14:23] rottentomato13 commented on #1120
@NicolasMICAUX work for me too thank you

[2022-10-21 22:42] jonaslandsgesell commented on #1549
The pull request https://github.com/scikit-learn/scikit-learn/pull/16525 might implement a calibration method for tuning thresholds in sklearn. Would that be applicable for usage in Auto-Sklearn?

[2022-10-23 05:53] jaivanti commented on #1303
Hi! Is this issue open? If possible, can you explain in more details about the problem

[2022-10-24 00:56] UnixJunkie commented on #1596
This is not urgent; auto-sklearn fails on this dataset, so I don't use it.

[2022-10-24 11:52] eddiebergman opened #1601 "Test"
blubb

[2022-10-24 11:52] #1601 closed, assigned to nobody

[2022-10-24 11:52] KEggensperger commented on #1601
@mfeurer

[2022-10-25 20:14] ekalosak commented on #1597
and for numpy, to pile on; keeping it a major version behind the latest numpy is rough.

I wonder why they were locked @eddiebergman ?

[2022-10-27 09:20] BradKML commented on #1110
@stepthom thanks for the note on ICA, since I am solving other problems with it in [Survey-based Regression](https://github.com/erdogant/pca/issues/32) and how it cna be tied to PCA in regards to dimension count.

[2022-10-28 18:22] detrin commented on #1597
+1 Because scikit-learn<0.25.0 and >=0.24.0 is really outdated.

[2022-10-30 13:11] ennodepenno commented on #1597
Just another reason to update auto-sklearn to the latest scikit-learn versions right?

[2022-10-31 19:57] detrin commented on #1597
Exactly, not sure whether auto-sklearn is slowly dying or not

[2022-11-06 14:04] dadangsetio opened #1603 "AutoMLRegressor does not support task binary"
# cant fit model with AutoMLRegression

[code]

this my log

[code]

# System Details (if relevant)
* 0.15.0
* Macbook Air M1

[2022-11-06 21:39] AmirAlavi opened #1604 "ThirdPartyComponents.add_component check for explicit base class results in redundant inheritance"
Auto-sklearn is awesome, I'm really enjoying this great library!

Currently, this line here https://github.com/automl/auto-sklearn/blob/5c69ddf4584c5c7c4977203a1a579d042c6e3716/autosklearn/pipeline/components/base.py#L46

explicitly checks the `.__bases__` attribute of the 3rd party component you are adding to make sure it inherits directly from e.g. AutoSklearnPreprocessingAlgorithm, rather than

[2022-11-07 08:23] eddiebergman commented on #1604
Hi @AmirAlavi,

I have no idea why we have this, my guess it's some relic of Python 2 code but I wouldn't know for sure. I would rather do as you say and do `isinstance(obj, cls)`, thanks for pointing it out.

Best,
Eddie

[2022-11-07 08:30] eddiebergman commented on #1603
Hi @dadangsetio, we use [`sklearn.utils.multiclass.type_of_target`](https://scikit-learn.org/stable/modules/generated/sklearn.utils.multiclass.type_of_target.html) to identify the task type based on the `y` you pass in. My guess is that it looks something like `[0, 1, 0, 1, 1, ...]` which gets identified as a `binary` classification problem. Is this your intended behavior? If so, then I'm not sure

[2022-11-07 08:34] eddiebergman commented on #1597
Hi all,

Sorry for the haitus, I'm currently the only maintainer and I do have other responsibilities, so maintenance has slowed down a lot, but not dead. I have some time during the next two weeks to fix some things, this is high on the list!

As always, feel free to contribute if there is anything you wish to get through quicker!

Best,
Eddie

[2022-11-07 09:40] dadangsetio commented on #1603
thank you for response @eddiebergman you are right that the content of `y` is binary, so how can i solve them?

[2022-11-07 10:11] eddiebergman commented on #1603
You may prefer to use probability scores from `predict_proba` and use a Classifier instead of a Regressor.

If you really need to skip the `type_of_target` check then you'll need to use the `AutoML` class instead of the `AutoSklearnRegresssor`, which is just a fancy wrapper that makes some things simpler, however depending on your use case this should be okay.

Here's a sample snippet:

[code]

He

[2022-11-07 12:24] dadangsetio commented on #1603
iam use sample snippet of `AutoML` , but getting error like this
[code]

[2022-11-07 14:09] eddiebergman commented on #1603
You should use the same parameters you use when you constructed the estimator as you do in your original code, my guess is you had set the `memory_limit=None`.

The issue is that there is no way to limit the memory of processes on Mac as far as I know.
See https://github.com/automl/pynisher#features

The above version of `pynisher` we use is actually newer and we need to update to it.

[2022-11-08 17:13] JAAdrian commented on #1593
Hi @eddiebergman,
I also ran into this one today while executing
[code]
from the manual.

Is this even necessary on my part if I want to use v2.0 algorithms? Or is the usual API via `AutoSklearnClassifier` sufficient?

[2022-11-09 14:37] mrektor commented on #288
Any updates on that? it seems like a useful thing to do. Actually I think it should be relatively easy, in the sense that sample_weights should be propagated to all the fit() methods of a given pipeline... shouldn't it?

So no need for a custom metric, just propagate the importances down to every fit call

[2022-11-09 14:59] simonprovost commented on #288
@mrektor Exactly. As I have just begun my Ph.D. in AutoML, I unfortunately do not have the time to contribute this, in theory, short PR. Otherwise, as the authors indicated, feel free to give it a whirl as they would be delighted to review such PR.

Cheers.

[2022-11-09 17:31] mrektor commented on #1599
I agree that this would be very useful

[2022-11-09 23:15] AmirAlavi opened #1607 "Third Party Components not shared with spawned child processes when n_jobs > 1"
## Describe the bug ##
When building extensions to auto-sklearn, one has to "register" them with `.add_components`

I'm building a library that surrounds auto-sklearn with various extensions, and I provide the user with a script, where they can specify which components should be "turned on".

When I use this script with multiprocessing (passing `n_jobs > 1` to the AutoSklearnClassifier), all of my

[2022-11-14 08:30] #1599 closed, assigned to aron-bram

[2022-11-15 15:54] eddiebergman opened #1612 "[Maint] Update test fixtures to not use Boston"
API Change Deprecates [datasets.load_boston](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html#sklearn.datasets.load_boston) in 1.0 and it will be removed in 1.2. Alternative code snippets to load similar datasets are provided. Please report to the docstring of the function for details. https://github.com/scikit-learn/scikit-learn/pull/20729 by [Guillaume Lemaitre

[2022-11-15 15:55] eddiebergman opened #1613 "[Research] Use parameter `quantile` in `HistGradientBoostingRegressor`"
[ensemble.HistGradientBoostingRegressor](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.HistGradientBoostingRegressor.html#sklearn.ensemble.HistGradientBoostingRegressor) for modelling quantiles. The quantile level can be specified with the new parameter quantile. https://github.com/scikit-learn/scikit-learn/pull/21800 and https://github.com/scikit-learn/scikit-learn/pull/20567

[2022-11-15 15:57] eddiebergman opened #1614 "[Research] Use grouping of infrequent categories in `OneHotEncoder`"
Feature [preprocessing.OneHotEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html#sklearn.preprocessing.OneHotEncoder) now supports grouping infrequent categories into a single feature. Grouping infrequent categories is enabled by specifying how to select infrequent categories with min_frequency or max_categories. https://github.com/scikit-learn/sciki

[2022-11-15 15:58] eddiebergman opened #1615 "[Maint] Specify `encoded_missing_value` to `OrdinalEncoder`"
Enhancement Adds encoded_missing_value to [preprocessing.OrdinalEncoder](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html#sklearn.preprocessing.OrdinalEncoder) to configure the encoded value for missing data. https://github.com/scikit-learn/scikit-learn/pull/21988 by [Thomas Fan](https://github.com/thomasjpfan).

Mentioned in #1611

Could help simplify co

[2022-11-15 16:00] eddiebergman opened #1616 "[Research] `SVC`, `SVR` expose `n_iter_`, could be added to iterative fit"
Enhancement [svm.OneClassSVM](https://scikit-learn.org/stable/modules/generated/sklearn.svm.OneClassSVM.html#sklearn.svm.OneClassSVM), [svm.NuSVC](https://scikit-learn.org/stable/modules/generated/sklearn.svm.NuSVC.html#sklearn.svm.NuSVC), [svm.NuSVR](https://scikit-learn.org/stable/modules/generated/sklearn.svm.NuSVR.html#sklearn.svm.NuSVR), [svm.SVC](https://scikit-learn.org/stable/modules/gener

[2022-11-15 16:08] eddiebergman commented on #288
@mrektor Sorry for ghosting, I'm _half-back_ on maintaining auto-sklearn and my first priorities are to update scikit-learn, SMAC, pynisher and ConfigSpace. After that I will add it on to the stack.

In theory yes, quite simple, in practice it's complicated by obscurities in multi-processing and the fact sample-weights are not supported by all components.

[2022-11-15 16:12] eddiebergman commented on #1607
Hi @AmirAlavi,

Sorry to see that this issue has come back, I'm aware there are some issues related to multi-processing. I thought at one point this had been fixed, maybe not and maybe it regressed. As you can imagine, multi-processing testing like this can be a bit complicated, so I appreciate the scripts.

I'm currently working on updating auto-sklearn to the latest scikit-learn and our other co

[2022-11-15 16:30] mrektor commented on #288
I see, nice! So are you planning to integrate with scikit 1.x? it was quite a pain having to downgrade as many packages now depend on 1.x...
good to know! keep up the good work

[2022-11-22 06:51] leeprinxin opened #1620 "[Question] How to find the corresponding cv_results_ model information by Model_id"
[Question] How to find the corresponding cv_results_ model information by Model_id
automl.show_models() can output Ensemble models, and I want to get the CV evaluation scores for each model, but cv_results_ does not have an index for model_id, so how do I combine the information from show_models() and cv_results_?

[2022-11-23 18:01] aron-bram commented on #1620
Hi,

Thank you for your question.

Unfortunately, for now I can't think of a solution to combine the results of show_models and cv_results_, but I will look into this and come back with an answer soon. I would first have to take a look into how the model_ids are generated and why they are not tracked by cv_results_.

[2022-11-23 23:22] eddiebergman commented on #1620
@aron-barm, just a heads up that what we export in `cv_results_` tries to corresponds to what scikit-learn advertise it does:
* https://scikit-learn.org/stable/modules/grid_search.html#analyzing-results-with-the-cv-results-attribute

To insert a `model_id`, I guess we can break their convention a bit and insert an extra column, inserting it into the column `params` makes no sense to me and doesn't

[2022-11-24 12:14] #1594 closed, assigned to aron-bram

[2022-11-24 21:26] manuelinfosec opened #1623 "OSError: [Errno 22] Invalid argument error during AutoSklearnClassifier fitting"
While trying to fit X_train and y_train using AutoSklearnClassifier, it produces this error:

[code]
The surprising thing is, it works perfectly with same parameters on Google Colab.

The parameters used for initializing AutoSklearnClassifier are:
- "time_left_for_this_task": 30,
- "run_time_limit":14.0,
- "n_jobs": 5,

## Environment and installation: ##

Please give details about your installati

[2022-11-25 09:51] manuelinfosec commented on #1623
Surprisingly, I removed the n_jobs parameter, and it worked.

[2022-11-25 09:51] #1623 closed, assigned to nobody

[2022-11-27 18:43] DarkEol opened #1624 "[Question] Modify Stopping Criterion to Accuracy"
Hi,

I have seen that stopping criterion can be changed to number of evaluations using smac_scenario_args 'runcount_limit' param ([451](https://github.com/automl/auto-sklearn/issues/451)) or limited by cost value using callback function ([Early stopping and Callbacks](https://automl.github.io/auto-sklearn/master/examples/40_advanced/example_early_stopping_and_callbacks.html)).
But is there a way t

[2022-11-28 08:10] eddiebergman commented on #1624
Hi @DarkEol,

The `accuracy` can be accessed through the `RunValue` in the callback as shown in the example. You would terminate the evaluations in much the same way. However this is just for a single model and not the final ensemble. I.e. the ensemble's performance on your test set or even the validation set may be slightly better or worse.

The `termination_cost_threshold` is part of the "new" s

[2022-11-28 12:05] MrKevinDC opened #1625 "KNearestNeighborsRegressor has no attribute 'estimator' when printing show_models()"
I have tried to print the models composing the best ensemble with  `show_models()`, but it fails if a `k_nearest_neighbours_regressor` is one of them. Is this due to this component not having an initialised `self.estimator`? I am making a custom component with that modification now, and will update this issue if said model comes up in the ensemble again (whether it fixes it or not).

          ran

[2022-11-28 16:22] MrKevinDC opened #1626 "[Question] select_percentile_regression has no methods"
How does the `select_percentile_regression `work? It has no fit or transform methods:

https://github.com/automl/auto-sklearn/blob/development/autosklearn/pipeline/components/feature_preprocessing/select_percentile_regression.py

[2022-11-28 17:45] DarkEol commented on #1624
@eddiebergman thank you for the response! I see that `RunValue` has such attributes as `cost` and `time` but there is no `accuracy`. How can I access it from the parameter `RunValue`?

[2022-11-28 17:49] DarkEol commented on #1624
@eddiebergman thank you for the response! I see that `RunValue` has such attributes as `cost` and `time` but accuracy is something different and there is no attribute `accuracy`. How can I access it from the parameter `RunValue`?

[2022-11-29 13:05] eddiebergman commented on #1625
Hi @MrKevinDC,

This seems like a bug, I checked the estimator and this does actually seem to be set if the `KNN` has been fit:
https://github.com/automl/auto-sklearn/blob/66b782a8dde3d182aa8a5532ee66b0172adb01f5/autosklearn/pipeline/components/regression/k_nearest_neighbors.py#L21-L40

I'll look into this while I can but thanks for reporting it!

[2022-11-29 13:07] eddiebergman commented on #1626
Hi @MrKevinDC,

You should follow it's inheritance chain, you can do this through github as well by clicking the classes it inherits from. For reference it inherits from [`SelectPercentileBase`](https://github.com/automl/auto-sklearn/blob/a978478f6053f2e966955347e32b20d6d35c0a61/autosklearn/pipeline/components/feature_preprocessing/select_percentile.py#L1).

I'm going to close this but feel free t

[2022-11-29 13:07] #1626 closed, assigned to nobody

[2022-11-29 13:11] MrKevinDC commented on #1625
Yes, there is no problem with fitting, predicting, fetching the run history, etc; it is just with `show_models()`. Thank you for your reply and congratulations on this awesome package by the way.

[2022-11-29 13:14] MrKevinDC commented on #1626
Thank you for your helpful reply @eddiebergman, that solves my question!

[2022-11-29 13:15] eddiebergman commented on #1624
SMAC (from which `RunValue` comes from) is unaware of what `accuracy` is and it is simply the `"cost"` as far as it's concerned.

Please not that this is still version `1.2` of SMAC but you can see it's definition here:

https://github.com/automl/SMAC3/blob/863e4290054847ba2688521b8cc2e44c15a1493a/smac/runhistory/runhistory.py#L91-L93

tldr; If you used accuracy as the optimization metric, (The `m

[2022-11-30 23:55] aron-bram commented on #1620
Hi,

I wanted to solve this issue last week but unfortunately I could only get onto it today. I hope it wasn't too urgent for you.
I will submit a PR today with the proposed chages.
Once it's merged, the model_ids will be tracked by cv_results so you should be able to combine information from show_models and cv_results.